[2018-01-22 02:14] MarechJ opened #4 "GDAX trades channel and trade ids"
Hi,

I think the GDAX trades channel should be emulated from the 'ticker' one as it contains price, side and size for the last trade, which is pretty much what Bitfinex gives in their trades channels. It's not convenient to also have to add the oderbook. What I offer would be "aggregated trades" similar to what binance does. The current functionality could be separated as a "granular trades" (bina

[2018-01-22 02:50] bmoscon commented on #4
both sound doable, will get to it soon - thanks for submitting an issue

[2018-01-23 04:10] chellowlolo commented on #4
For what’s its worth I agree completely with this suggestion.

[2018-01-23 04:13] chellowlolo opened #5 "Bitmex support"
You’ve done a great job here and I’m very much looking forward to when BitMEX is added.

[2018-01-23 12:11] MarechJ commented on #4
I'de be interesting to standardize the names of the channels, for examples if I start a feed on GDAX for 'trades' it listens to 'ticker' or 'match' behind the scene. I'll see if I have time for a PR.

[2018-01-23 19:28] bmoscon commented on #4
I've already done something like that for some feeds, but it will be consistent across all of them soon.

[2018-01-26 00:10] bmoscon opened #8 "use sorted dict"
Replace order books with sorted dicts (from `sortedcontainers`)

[2018-01-26 00:47] bmoscon opened #9 "bitfinex book channels not standardized"
bitfinex's book channels currently require the user to know about its channel options (precision, frequency and length). Need to abstract this away

[2018-01-27 16:58] bmoscon commented on #8
fixed

[2018-01-27 16:58] #8 closed

[2018-02-12 14:02] rombin opened #12 "timestamp for order book"
Is it possible to retrieve timestamp of the order book? The code below only seems to return bid/ask price-volumes

[code]

[2018-02-12 23:55] bmoscon commented on #12
I assume you mean you want an additional field for every order with a timestamp? or a timestamp on the last time the book was updated? What specifically? Since each level is potentially an aggregate of several orders, it doesnt really make sense to me to have a timestamp per level, unless its a last updated timestamp.

[2018-02-12 23:59] bmoscon opened #13 "synthetic ticker channel for exchanges that do not provide one"
several exchanges do not provide a ticker channel. We should add this so they can be added to the NBBO

[2018-02-13 12:19] rombin commented on #12
A time stamp on the last time the book was updated ideally.

[2018-02-14 20:25] rombin opened #14 "full channel que"
gdax help page for full channel via web-socket recommends to
1. subscribe to channel
2. que messages
3. take a REST snapshot
4. discard queued messages with id lower then the REST snapshot

just wondering if you do the discarding??

thank you

[2018-02-15 00:31] bmoscon commented on #14
yes - see: https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/gdax/gdax.py#L187

The sequence number of the REST messages is tracked and any message that is earlier than the snapshot is discarded.

[2018-02-16 09:28] rombin commented on #14
great, thank you

[2018-02-16 09:28] #14 closed

[2018-02-16 09:32] rombin commented on #12
Actually when using the level2 channel, the update message does contain time. Not sure if it's time of the message being sent or of the (latest) update. I take it to be the latest update.

I guess it is important to avoid timestamping on my side. if the processing get delayed and queue forms, I might be assigning wrong timestamps to the updates. if there is a queue I might stamp future time to a g

[2018-02-16 10:03] rombin opened #15 "Multithreading data digest"
I might get this wrong, so apologies if I do. During a book retrieval callback you might want to save the data into DB. The speed of the write routine and update arrival frequency become important. If writing is too slow or arrival rate to high, the writing routine becomes a bottleneck.

No messages are lost (great!), due to `asyncio.ensure_future()` (correct??). But due to slow data digestion a q

[2018-02-19 13:53] bmoscon commented on #12
I'll leave this open - not all books have it, so I'll make sure to add it to all books (l2 and l3) in all feeds

[2018-02-19 17:34] rombin commented on #12
great, cheers

[2018-02-22 02:33] bmoscon commented on #15
you should use async database connectors - eg. motor for Mongo, asyncpg for postgres, etc. This will drastically reduce the waiting for the DB operations. If you still have a lot of latency you might consider running sets of exchanges in different processes.

[2018-02-22 02:33] #9 closed

[2018-03-10 02:50] bmoscon opened #16 "Handle ConnectionClosed exceptions"
Websocket connections can be closed for a variety of reasons. These should be handled and the connection re-established if possible. Some tracebacks from my server:

[code]

[code]

[2018-03-13 13:21] bmoscon opened #17 "logging infrastructure"
should at a minimum use python logging library rather than `print`s

[2018-03-13 19:36] bmoscon commented on #17
fixed with #18

[2018-03-13 19:36] #17 closed

[2018-03-13 19:42] bmoscon commented on #15
@rombin take a look at `examples/demo_arctic.py`. Its a vert short/small example, but I'm able to write `BTC-USD` + `ETH-USD` from 4 exchanges to an arctic db on a dual core, 2GHz machine (very low power and not very powerful) without losing any data, or experiencing very much latency.

[2018-03-13 21:33] rombin commented on #15
this looks good, thank you

[2018-03-18 23:08] bmoscon commented on #5
added with latest release (v0.10.0)

[2018-03-18 23:08] #5 closed

[2018-05-05 13:52] eliquinox commented on #16
Hi Bryant,

Have you managed to fix the ConncetionClosed exception at all?
I have ran into this issue myself many times with a number of exchanges and as such do not know a working solution.

[2018-05-05 15:15] bmoscon commented on #16
i merged in a partial solution - when the exceptions are received, it will attempt to reconnect. The other issue the rest of my changes address (unmerged) are when the connection goes dead but there is no disconnect. They will kill the connection and reconnect.

[2018-05-05 15:15] #16 closed

[2018-05-09 21:10] rjbks opened #20 "dropped messages"
What about dropped messages?  GDAX mentions:

Certain other exchanges make similar warnings about out of order/dropped messages, although I cannot currently recall which ones exactly.

The `message_handler` currently only checks if `msg_seq < last_seen_seq`. Unless I am missing something, it would seem this can result in an inaccurate order book if `msg_seq > last_seen_seq + 1`. The simple solutio

[2018-05-09 21:23] rjbks opened #21 "L3 messages feed and storage"
If I was looking to store L3 book data (let's assume with Arctic), wouldn't it be more efficient to create and store a stream of standardized delta messages as opposed to the entire book?

I only ask because the book callback takes `feed`, `pair` and `book` as the inputs. Using that callback for book updates would not provide any information about the updates themselves. I guess a user can just de

[2018-05-09 23:45] bmoscon commented on #20
fixed - thanks for opening the issue!

[2018-05-09 23:45] #20 closed

[2018-05-10 00:42] rjbks commented on #21
Is this a direction you would like to pursue or would it be outside of the scope of this project? If so, we could discuss what you'd like to see and I could make a PR with whatever changes we come up with.

[2018-05-10 00:43] rjbks commented on #20
Thanks for the quick response

[2018-05-11 12:07] eliquinox opened #22 "ConnectionResetError: [Errno 104] Connection Reset by peer"
[code]

#16  handled the ConnectionClosed exceptions, however streaming and writing Bitmex data has caused the following error after one and half days of keeping connection alive. Some sources say that there is not much that can be done about this error: https://stackoverflow.com/questions/20568216/python-handling-socket-error-errno-104-connection-reset-by-peer?utm_medium=organic&utm_source=google

[2018-05-11 12:11] bmoscon commented on #22
I have a fix for this but it depends on a fix in the websockets library. Still waiting on them to release a new version.

[2018-05-12 00:41] bmoscon commented on #22
@eliquinox can you tell me what version you were running? Was it installed from pypi? I pushed some changes last week to the repo, but didnt release a new version yet. Do you know if you had the latest set of changes?

[2018-05-12 00:44] bmoscon commented on #22
I do see the point you are making though, its not an exception from the websockets library, so I should add another except handler for this.

[2018-05-12 01:26] bmoscon commented on #22
I think my latest commit should address this. Hard to test for since the connections can take a long time to error out. I've updated my servers, let me know if you encounter any errors on your side. If I dont hear anything within a week or so I'll close this out (Unless I hit an error).

[2018-05-12 01:28] bmoscon commented on #21
Yes, its something I'd add.  I'm happy to accept a PR, and I'm happy to do it myself. Should only take an hour or so to write up, but I don't think I'd get to it until next weekend. If you want to do it before then, I like PRs :)

[2018-05-12 01:28] #15 closed

[2018-05-12 02:14] bmoscon commented on #4
I believe this is fixed now (I just added trade ids for gemini and gdax)

[2018-05-12 02:14] #4 closed

[2018-05-12 11:55] eliquinox commented on #22
I tried it with your latest commit in feedhandler.py and got the above output in the logger.

[2018-05-12 12:01] eliquinox commented on #22
Perhaps you can use the same recovery logic to handle `ConncetionResetError` as you do to recover from `ConnectionClosed`. When is the websockets library scheduled to push the new version?

[2018-05-12 14:26] eliquinox commented on #22
@bmoscon could you give a link to the specific branch / version you are referring to? I will make sure to run tests again when I upgrade. Cheers.

[2018-05-12 14:31] bmoscon commented on #22
https://pypi.org/project/cryptofeed/0.10.1/

Its on master, commit: 359aee907c37e0c1517a7563dd930e6a480e3834

[2018-05-14 10:10] bmoscon commented on #22
@eliquinox were you able to confirm you're using the correct version and start a test? I've been running the latest vs bitmex for ~3 days now without issue. I'll leave it going for at least another week or so, but hoping someone else can help me confirm its working, and hopefully one of us will encounter an error that causes are reconnect

[2018-05-14 23:39] bmoscon commented on #22
been running for 3+ days now - I hit an error and it successfully reconnected:

`2018-05-14 10:13:03,065 : WARNING : Feed BITMEX encountered connection issue WebSocket connection is closed: code = 1006 (connection closed abnormally [internal]), no reason - reconnecting...`

[2018-05-19 00:14] bmoscon opened #23 "bitmex reconnect errors"
[code]

[2018-05-19 12:29] bmoscon commented on #23
fixed

[2018-05-19 12:29] #23 closed

[2018-05-23 17:33] bmoscon commented on #21
@rjbks was going to do this sometime this week/weekend - unless you tell me you've already started on something for a PR

[2018-05-23 18:10] rjbks commented on #21
Yes, I am just putting together some tests. I'll have it done by tomorrow.

[2018-05-23 18:12] bmoscon commented on #21
👍 no rush - I just wanted to check with you before i duplicated something you were taking care of

[2018-05-25 04:15] rjbks commented on #21
I will probably need the weekend. Sorry for the holdup

[2018-06-26 23:16] bmoscon commented on #22
Going to close this as I no longer have seen any of these errors. If you have issues still please re-open @eliquinox !

[2018-06-26 23:16] #22 closed

[2018-07-04 21:49] #21 closed

[2018-07-14 08:24] halida opened #27 "timestamp for bitmex trade data"
Hi, it looks like the trade data for bitmex contains timestamp:

https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/bitmex/bitmex.py#L65

Can you explain why it's not send to the callback? Thanks.

[2018-07-14 23:41] bmoscon commented on #27
no reason, just havent done the work yet. I can do it sometime this month, or you can submit a PR if you are so inclined.

[2018-08-10 23:29] bmoscon opened #28 "update gdax to use new coinbase pro/prime endpoints"

[2018-08-20 23:07] bmoscon commented on #27
fixed

[2018-08-20 23:07] #27 closed

[2018-08-25 12:32] bmoscon opened #30 "rest api will retry forever"
two issues currently:

* rest api will retry forever. Need to specify a max retry count
* timeout unspecified (currently will timeout when SSL connection timesout). Should allow user to specify a timeout

[2018-08-27 22:02] sfkiwi opened #31 "Feed base class throws error with Gemini"
Gemini does not support channels but passing `None` to Feeds base class throws error

The following code in gemini.py prevents from passing a value to the channels parameter
[code]
and when Gemini constructor calls the super constructor it passes None
[code]
but inside the __init__ of the Feeds Constructor
[code]
which throws an error because channels is `None` and is not iterable

[2018-08-27 22:33] bmoscon commented on #31
also, not sure if you're running from source or from pypi, so if you want me to release the fix to pypi, let me know (i'll probably release 0.13.0 later this week anyways).

[2018-08-27 22:35] sfkiwi commented on #31
I actually ran into problems running from source, so now running via pipenv which is working. Anything special needed to run from source other that python setup.py install?

[2018-08-27 22:37] bmoscon commented on #31
nope!

[2018-08-27 23:16] bmoscon commented on #31
out of curiosity though, what errors were you getting running from source? python setup.py install or python setup.py develop should be all you need to run.....

[2018-08-28 10:38] bmoscon commented on #30
fixed

[2018-08-28 10:38] #30 closed

[2018-08-28 10:39] sfkiwi opened #32 "demo.py causes error using XBTUSD pair with Funding callback"
The following line in the demo.py script under examples directory causes an error
[code]
It appears to only be looking for pairs that start with a lowercase 'f'
[code]
although I don't see any pairs in the listed bitfinex trading pairs that do start with an 'f'
[code]
Also curious as to the decision to put this check for bitfinex in 'feed.py' rather than in 'bitfinex.py'. Seems like the same check

[2018-08-28 10:45] sfkiwi commented on #32
Nevermind, I missed the last commit you did which fixed it.

[2018-08-28 10:45] #32 closed

[2018-08-28 11:35] bmoscon commented on #32
:) Awesome, glad it was already fixed :D

[2018-08-28 11:36] bmoscon commented on #32
Also, I never did get around to listing out all the funding pairs....

[2018-08-29 16:36] sfkiwi opened #33 "GDAX L3 Book Deltas"
I'm trying to obtain Book deltas (I want as unprocessed a feed of order book updates as possible). I'm using the following code:

[code]

however the callback never seems to get called. Running the L3_BOOK channel with the BookCallback does work but I don't want the updated orderbook, I'm trying to get the individual update messages for the order book.

[2018-08-29 16:50] bmoscon commented on #33
deltas are only supported on bitmex, but i can add gdax support later today

[2018-08-29 16:53] sfkiwi commented on #33
Right, the same time as you responded I just realized this. I have the Deltas working on Bitmex. I'm really just looking for a way to get a raw feed of orderbook updates from each of the exchanges. If its not a big change that would be fantastic

[2018-08-29 16:54] bmoscon commented on #33
its pretty easy to add, so no worries!

[2018-08-29 23:28] bmoscon commented on #33
fixed on master. Will release a new version to pypi later this weekend, but for now running from latest source should work. I updated the test / example code as well to make sure it matches the full update

[2018-08-29 23:28] #33 closed

[2018-09-29 12:02] bmoscon opened #36 "update poloniex"
new pairs, test sequence numbers for books, etc

[2018-09-29 17:08] bmoscon commented on #36
fixed

[2018-09-29 17:08] #36 closed

[2018-10-05 12:45] bmoscon opened #40 "nbbo source"
build NBBO from books rather than tickers. its more accurate and it also would allow the inclusion of any feed that supports books into the nbbo

[2018-10-07 13:21] bmoscon opened #41 "autogenerate pair normalization mappings"
rather than hadcode a million pair mappings, auto generate them either 1) via a tool, or 2) dynamically each time feedhandler starts

[2018-11-11 01:07] bmoscon commented on #41
fixed

[2018-11-11 01:07] #41 closed

[2018-11-15 13:33] bmoscon opened #46 "rest feed api not clear"
rest feeds started with a common interface but recent contributions from others have muddied the waters. need to clean up the calls and make them standard across exchanges

[2018-11-15 13:34] bmoscon opened #47 "documentation"
need to add documentation, both technical (for someone who wants to add features) and high level (for users of the library)

[2018-11-29 10:51] jamesmundy opened #48 "Async I/O Pausing Feed"
I'm currently working on some code to save Level 2 information to a local Postgres database. Each update to the order book comes with a lot of information so I definitely need to do some work on compressing this and speeding up the I/O operation but I have noticed that the feed is not accepting or queuing updates while the operation is being processed.

I've discovered this comment:
[code]

https:

[2018-11-29 13:50] bmoscon commented on #48
yeah so asyncio in python is single threaded. There can be many coroutines/tasks "running" but really only one is running and it will run until you `await` something else. So the callbacks should either do something minimal or they should be async and in turn `await` something else. I'm not familiar with `asyncpg`, but if you have to `await` the write or insert command, that should be what you are

[2018-11-29 21:42] jamesmundy commented on #48
Yes, that helps Bryant, thanks a lot - the library has saved me a lot of time so thanks for the time you'be put into it!

[2018-11-29 21:42] #48 closed

[2018-12-03 10:46] jamesmundy opened #49 "BookDelta doesn't support custom callback"
I've just begun experimenting with getting updates for a level 2 order book and I've noticed my custom callback for the `BOOK_DELTA` is not being called.

Looking through the code in the `feed.py` file I notice that the update callback is treated differently and not called unless it is an instance of `BookUpdateCallback`.
https://github.com/bmoscon/cryptofeed/blob/3cc1f686134f497fc7ec7ea4405acf369

[2018-12-03 23:13] bmoscon commented on #49
You're making me realize I should spend more time on the docs :)

You can see an example of how the deltas work here:

https://github.com/bmoscon/cryptofeed/blob/master/examples/demo_book_delta.py

You need two callbacks, the book callback (either L2 or L3) and the bookUpdateCallback. The normal book callback will be called with complete updates based on a configurable interval, the `book_interval

[2018-12-04 00:02] jamesmundy commented on #49
I think some more documentation could be useful but I was easily able to get started with the documentation that was there.
I found the book delta demo but, as I mentioned in my other question, I am saving updates to Postgres using a custom callback in a similar way as to how you have done for other storage types like Redis. Creating a postgres callback class for the Level 2 callback worked fine b

[2018-12-04 00:10] bmoscon commented on #49
I did push my change to master. I'll get some more things in this week and release a new version to PyPi this weekend.

[2018-12-11 23:54] bmoscon commented on #49
havent forgotten about this, just trying to get one or two more small fixes in before rolling a new release

[2018-12-15 17:21] bmoscon commented on #49
new version released to pypi, closing

[2018-12-15 17:21] #49 closed

[2019-01-05 01:04] bmoscon opened #50 "binance now supports multiple streams per websocket"
need to update the binance subscription code with the new subscription format that allows multiple subscriptions per connection (assuming I've understood their docs correctly):

[code]

[2019-01-05 22:40] bmoscon commented on #50
fixed

[2019-01-05 22:40] #50 closed

[2019-01-09 23:32] gavincyi opened #51 "Fix to provide a correct pair in Binance book feed"
Now the order book from binance feed may indicate the full subscription list rather than the updated instrument due to #50

[code]

According to binance websocket [documentation](https://github.com/binance-exchange/binance-official-api-docs/blob/master/web-socket-streams.md), the instrument name is provided in the "stream"

[2019-01-10 12:58] #51 closed

[2019-01-11 15:22] gavincyi opened #53 "Fail to reset the Poloniex order book after disconnection"
It happened in two consecutive days that after running Poloniex feed for more than 5 hours, no longer it can parse the upcoming messages and keep returning error as follows.

[code]

The issue is due to incorrect warning message formatted and it caused failure to reset the book.

[2019-01-12 00:06] bmoscon commented on #53
fixed

[2019-01-12 00:06] #53 closed

[2019-01-19 14:35] bmoscon opened #55 "feature - new aggregation methods"
support aggregation of data in backends into buckets based on interval, report average, high, low, close, etc

[2019-01-19 20:16] bmoscon commented on #55
fixed

[2019-01-19 20:16] #55 closed

[2019-01-27 13:29] bmoscon opened #56 "more granular configurations"
currently you can only specify channels and pairs for each exchange, and the channels are configured with all the specified pairs. Should be modified so you can configure, as en example. trade data for BTC-USD and ETH-USD and BTC-USD book data on one exchange, with one single exchange class.

[2019-02-02 22:42] bmoscon opened #57 "mongodb backend support"

[2019-02-02 22:43] bmoscon commented on #57
fixed - 0.20.0

[2019-02-02 22:43] #57 closed

[2019-02-02 22:47] bmoscon opened #58 "update kraken to use new websocket API"
https://www.kraken.com/en-us/features/websocket-api

[2019-02-03 15:43] ypetrusha opened #59 "v0.19.2 release is for py2 only. Is it by accident?"

[2019-02-03 17:48] bmoscon commented on #59
good catch. I've uploaded a py3 anywheel. Thanks for the heads up. Cryptofeed only supports python3.6+ due to the use of asyncio

[2019-02-03 17:48] #59 closed

[2019-02-03 19:18] bmoscon commented on #56
currently supported on coinbase while testing

[2019-02-03 23:37] ypetrusha opened #60 "SSL issue after updating to current master (both win 10 and mac)"
Launching any of examples I end up with the following either on mac or win10:

  File "C:\Python37\lib\ssl.py", line 412, in wrap_socket
    session=session
  File "C:\Python37\lib\ssl.py", line 853, in _create
    self.do_handshake()
  File "C:\Python37\lib\ssl.py", line 1117, in do_handshake
    self._sslobj.do_handshake()
TimeoutError: [WinError 10060] A connection attempt failed because the co

[2019-02-04 00:00] bmoscon commented on #60
That sounds like a problem with either your environment or your connection, especially since the errors are coming from the python internals

[2019-02-04 00:13] bmoscon commented on #60
I did just push an update to master, but I dont think its related to your issue.

[2019-02-04 12:51] bmoscon commented on #60
I'd be happy to try on my end too if you can provide me with a small script that reproduces the issue. I was able to run `examples/demo.py`, among others, so I'm pretty confident the issue is not in this library

[2019-02-04 12:53] bmoscon opened #61 "Postgres Backend"

[2019-02-04 12:53] bmoscon opened #62 "RabbitMQ backend"

[2019-02-04 12:55] bmoscon opened #63 "Support top 10 crypto exchanges"
see https://coinmarketcap.com/rankings/exchanges/

the following support websockets

- [ ] ZB
- [ ] BW
- [ ] FatBTC

[2019-02-04 19:34] Puhtooie opened #65 "Import pair_exchange_to_std throws handshake error for Kraken"
The below import throws the error:
     "requests.exceptions.SSLError: HTTPSConnectionPool(host='api.kraken.com', port=443): Max retries
     exceeded with url: /0/public/AssetPairs (Caused by SSLError(SSLError("bad handshake:
     SysCallError(10054, 'WSAECONNRESET')",),))"

I listed all the files I'm using that include the import for the file that throws the error.

from cryptofeed.standards imp

[2019-02-04 19:48] bmoscon commented on #65
this appears related to #60 and the fix would be the same. I'll fix it tonight (I'm UTC-5)

[2019-02-04 19:49] bmoscon commented on #65
the issue is that maintaining a gigantic list of all the supported pairs across all exchanges was a large pain and the code was ugly, so I dynamically generate the list each time it starts up. Its easy to work around and fix, I just need to do it for the rest of the exchanges (and I will today).

[2019-02-04 20:04] Puhtooie commented on #65
I'll take a look at the code tonight then (MST) see if there's anything I can help with.

[2019-02-04 23:15] bmoscon commented on #65
should be fixed on master. Trading pairs are only generated for configured exchanges

[2019-02-16 13:31] bmoscon opened #67 "Ensure exchanges trades are reported the same way"
example: Gemini reports realtime trades on the websocket based on the maker - the order that supplied the liquidity. A buy from the websocket, means someone sold btc, and the maker's order was used to fill that order. Their rest API is reversed, the buy/sell refers to the taker's order. A buy from the rest API means that a buy order was placed. Need to go through the APIs and make sure all exchang

[2019-02-16 13:32] bmoscon commented on #67
- [ ] bitmex
- [] bitfinex
- [] Coinbase
- [] Poloniex
- [] Gemini
- [] HitBTC
- [] Bitstamp
- [] Kraken
- [] Binance
- [] EXX
- [] Huobi

[2019-02-16 18:03] bmoscon commented on #67
fixed

[2019-02-16 18:03] #67 closed

[2019-03-14 23:02] bmoscon commented on #46
- [ ] coinbase
- [ ] kraken
- [ ] bitmex
- [ ] bitfinex
- [ ] gemini
- [ ] poloniex

[2019-03-19 03:05] rendonghai commented on #63
Hello bmoscon，you can cooperate with BitcoinExchangeFH https://github.com/BitcoinExchangeFH. This project packaged you and the CCXT project. Maybe you should focus on the websocket API instead of doing what CCXT has done.

[2019-03-19 03:32] rendonghai opened #69 "Add support of Bitmex indices"
Hello I need record Bitmex indices，but they are not included in the active_symbols. I'm going to start a Pull request to solve it.

[2019-03-19 18:01] #69 closed

[2019-03-19 18:02] bmoscon commented on #63
@rendonghai thanks for the PR. I have focused primarily on the websocket api and most the major websocket APIs are supported. If there is an exchange you feel is missing feel free to mention it here (so I can add it) or submit another PR

[2019-03-20 20:14] ypetrusha opened #71 "Kraken L2 delta issue"
It looks like L2 book delta not implemented in Kraken (web socket version).
When running the following
`f.add_feed(Kraken(book_interval=100, pairs=['BTC-USD'], channels=[L2_BOOK], callbacks={L2_BOOK: BookCallback(book), BOOK_DELTA: BookUpdateCallback(delta)}))
`in demo_book_delta.py example I'm getting the following exception

It looks like the cause in Kraken._book return statement
[code]
while e

[2019-03-20 22:54] bmoscon commented on #71
it needs more than that,  but its something I can add. I have to contact kraken and sort out some strange behavior I see in their orderbooks, but once thats resolved I'll get this completed.

[2019-03-20 22:55] bmoscon opened #72 "Redis Streams"
Add a redis stream backend

[2019-03-21 16:22] evanatyourservice commented on #46
If I wrote one for Binance would you like me to use bitfinex as a template? I don't want to write something and not have it be usable. I at least can see the normalization between bitmex and bitfinex.

[2019-03-21 16:25] bmoscon commented on #46
yes. bitmex and bitfinex are pretty good for public data. i have the interface defined in https://github.com/bmoscon/cryptofeed/blob/rest-work/cryptofeed/rest/api.py but the non public part is open to change

[2019-03-22 00:21] bmoscon commented on #71
this has been resolved. Will be in 0.21.0 when its released. Is in master currently

[2019-03-22 00:21] #71 closed

[2019-03-22 09:31] rendonghai commented on #63
I need support okex and okcoin, many Chinese use this exchange. I will submit another PR to support okex, and get familiar with your project through this. Maybe you can support okcoin yourself :)

[2019-03-22 11:56] bmoscon commented on #63
@rendonghai sure. I documented the process of adding a new exchange: https://github.com/bmoscon/cryptofeed/blob/master/docs/exchange.md

[2019-03-23 01:20] bmoscon commented on #63
@rendonghai okcoin added

[2019-03-23 13:30] rendonghai commented on #63
Oh, you're doing it too fast. I'm still reading okex's API documentation and thinking about how to record its index data.Thank you for your guidance and I will read it as soon as possible.

[2019-03-24 20:53] bmoscon commented on #63
@rendonghai i added okex support. Its basically the same as okcoin, just a different socket address

[2019-03-27 14:02] rendonghai commented on #63
Hello bmoscon, I have a new problem. I need to record index data of okex, but your okex exchange only supports spot type.More and more exchanges support multiple types of markets.For example, Huobi and Kraken support spot and futures, and okex markets are divided into spot, futures, swaps and indexes.
For now, the simplest solution is to set up exchanges for each of these types, such as okex-index

[2019-03-27 23:27] bmoscon commented on #63
@rendonghai we should probably move this conversation to a new ticket/issue, but it seems like what you want does not need to be a new exchange type, but rather a new channel type. eg, instead of TRADES, it could be TRADES-SWAP, or the like. This assumes that the subscription channel differs and the symbols do not, eg, if the symbol for spot is BTC-USD and the symbol for swap is swpBTC-USD, then i

[2019-03-28 02:36] rendonghai commented on #63
Yes, it is indeed a new issue. You open a new issue, let's discuss it there. I agree with your idea of using channel instead of exchange.This is more in line with their real hierarchy. It's just that for a long time these new channels may have looked like they were just for okex.

[2019-03-30 18:15] ypetrusha commented on #71
@bmoscon I encountered strange thing. While being fixed on gihub, on pip it still has old version (for kraken.py). Could you please check - https://pypi.org/project/cryptofeed/

[2019-03-31 16:52] bmoscon commented on #71
@ypetrusha if you look at the changes.md file, the release with the fix has not been released. I'll get it released in the next day or two.

[2019-04-01 15:44] bmoscon opened #73 "Support new channels for different data feed types (swap, futures, etc)"
OkEx supports swaps, futures, and margin

[2019-04-01 15:45] bmoscon commented on #73
@rendonghai what exchanges support these other channel types?

[2019-04-03 13:58] rendonghai commented on #73
okex first, kraken and huobi also have futures

[2019-04-04 13:08] rendonghai opened #74 "Strange bug related to Huobi, only the first trade.detail data can be received"
I encountered a very strange bug where the trade.detail could only receive a subscription success message ({'id': 'id10', 'status': 'ok', 'subbed': 'market.ethusdt.trade.detail', 'ts': 1554382490572}) and the first data message ({'ch': 'market.ethusdt.trade.detail', 'ts': 1554382096458, 'tick': {'id': 100807878420, 'ts': 1554382096446, 'data': [{'id': '10080787842028598565963', 'amount': Decimal('

[2019-04-05 22:50] bmoscon commented on #74
@rendonghai I'll take a look

[2019-04-05 23:11] bmoscon commented on #74
Ok, I'm not positive, but I'm pretty sure this is the issue:

Huobi has two exchanges, the global exchange and their US exchange. The current API is for the US based one, so it does have trade updates, but they are very infrequent (not much volume).

The demo you linked is for their global exchange / api, which has much more volume, and thus more updates. I'm pretty sure this is the case because t

[2019-04-07 15:47] rendonghai commented on #74
I finally found out that your Huobi exchange is linked. It seems that the trading volume of this exchange is so low that I think I have encountered a strange bug :). HuobiGlobal is the main website of Huobi, while other sub-websites include HuobiUS, HuobiKorea, etc. Except for the main website, the trading volume of other exchanges is pitifully low.
You can name sites like Huobi to HuobiGlobal, Hu

[2019-04-07 16:42] bmoscon commented on #74
fixed in latest release. Huobi is the global exchange, huobiUS is the USA exchange

[2019-04-07 16:42] #74 closed

[2019-04-07 16:46] bmoscon commented on #56
- [ ] BITSTAMP
- [ ] BITFINEX
- [ ] COINBASE
- [ ] GEMINI
- [ ] HITBTC
- [ ] POLONIEX
- [ ] BITMEX
- [ ] KRAKEN
- [ ] BINANCE
- [ ] EXX
- [ ] HUOBI
- [ ] HUOBI_US
- [ ] OKCOIN
- [ ] OKEX
- [ ] COINBENE

[2019-04-07 18:24] #56 closed

[2019-04-07 21:17] bmoscon commented on #71
@ypetrusha the new release with the kraken book delta fix is now live on pypi

[2019-04-07 21:57] bmoscon commented on #47
done

[2019-04-07 21:57] #47 closed

[2019-04-08 23:44] noconstruct commented on #63
maybe use ccxt to interact with exchanges ? also take a look at http://www.openmarketcap.com

[2019-04-08 23:50] bmoscon commented on #63
@noconstruct ccxt does not support websockets.

[2019-04-08 23:52] bmoscon commented on #63
Please limit conversation on this ticket to exchanges that should be considered for inclusion

[2019-04-19 20:45] bmoscon commented on #46
@evanatyourservice any progress on this? Anything I can help with? :D

[2019-04-19 21:31] #46 closed

[2019-04-19 21:40] bmoscon opened #78 "Trading endpoints"
- [x] Poloniex: buy, sell (buy and sell can be in a single interface), cancel order, return order status, return trade history, account balances
- [x] Gemini: new, cancel, status, past trades, account balances
- [x] Coinbase: place order, cancel order, order status, accounts (need the balance information)
- [x] Kraken: add order, cancel order, trade history, order info, get account balance

[2019-04-19 21:53] bmoscon commented on #78
@PandaXcentric

[2019-04-21 22:58] bmoscon commented on #72
completed

[2019-04-21 22:58] #72 closed

[2019-04-22 07:31] zfsamzfsam opened #84 "Support oanda(v20)"
although oanda is a Forex broker, is similar to a crypto exchanges
http://developer.oanda.com/rest-live-v20/introduction/
https://github.com/oanda/v20-python

[2019-04-23 02:55] AlgoTrader5 opened #86 "Kraken L2 crossed bid/ask prices"
I'm getting negative spreads subscribing to Kraken exchange using the demo_zmq.py example. I am also subscribing to the trades feed along with Coinbase and Binance feeds.

Here are two subsequent messages from ETH-USD where spread is incorrect. Comparing to Kraken's trading platform, it seems the ask price and ask sizes are updating correctly but the bid price and bid size are not updating.

{'typ

[2019-04-23 11:02] bmoscon commented on #86
how old is your version of cryptofeed?

[2019-04-23 11:41] bmoscon opened #87 "standardize timestamps"
some exchanges returns strings, some return timestamps in seconds, some in ms, etc. Going forward make all timestamps floating point second representation in UTC

[2019-04-23 22:48] bmoscon commented on #86
@AlgoTrader5 thanks for raising this, I found the issue, tested and committed a fix.

[2019-04-23 22:48] #86 closed

[2019-04-23 23:22] 11bblandin opened #88 "Instrument Feed"
Add feed for Bitmex "Instrument" channel, which will allow for real-time Open Interest updates

[2019-04-23 23:46] AlgoTrader5 commented on #86
@bmoscon Thank you for the very quick turn around. This project is fantastic. This works very well with my pyqt gui. Hoping to release it soon. Cheers

[2019-04-23 23:50] bmoscon commented on #86
@AlgoTrader5 cool! I havent released the change to pypi (its just on github at the moment), but it should be released sometime later this week to pypi

[2019-04-24 15:07] 11bblandin commented on #63
Deribit

[2019-04-28 22:56] #78 closed

[2019-05-07 06:53] greenclaw opened #90 "Poloniex L2, L3 books support"
Trying to receive data from Poloniex exchange, my code:
`f.add_feed(Poloniex(channels=[L2_BOOK], callbacks={L2_BOOK: BookCallback(book)}))
`

But always have this error:
`cryptofeed.exceptions.UnsupportedDataFeed: l2_book is not supported on POLONIEX`

The same for l3_book.
Does anybody have the same error or Poloniex doesn't support l2/l3?

[2019-05-07 11:24] bmoscon commented on #90
@greenclaw See the first Q in the FAQ:

https://github.com/bmoscon/cryptofeed/blob/master/FAQ.md

Its not ideal to do it that way, but I'm open to suggestions if you feel there is another way it could be done. I suppose I could allow the user to specify information channels and just ignore them - i guess it wouldnt hurt?

[2019-05-07 15:22] bmoscon commented on #90
also see `examples/demo.py`

this is a subscription for poloniex, L2 book data (and tickers). Book data will be returned for BTC-USDT and BTC-USDC

`f.add_feed(Poloniex(channels=[TICKER, 'BTC-USDT', 'BTC-USDC'], callbacks={L2_BOOK: BookCallback(book), TICKER: TickerCallback(ticker)}))`

[2019-05-07 22:57] bmoscon commented on #90
@greenclaw you raised a good issue, so I tweaked poloniex to behave like the others in terms of subscribing to the pairs/channels. Its on mater now, will release to pypi later this week

[2019-05-07 22:57] #90 closed

[2019-05-07 23:03] bmoscon opened #91 "rework gemini subscription model"
rework gemini (like was just done for poloniex) so you can subscribe with pair/channel arguments (or a config) and it will under the covers do the right thing so the user does not need to be aware of the gemini subscription weirdness

[2019-05-08 06:58] zfsamzfsam opened #92 "Support TimescaleDB Backend"
https://github.com/timescale/timescaledb

[2019-05-09 21:41] bmoscon commented on #92
@zfsamzfsam isnt timescaleDB just a plugin for postgres? Everything I've seen in their documentation makes me think the only thing needed to support timescale is to support postgres (which is already on the roadmap). If this is incorrect please let me know, otherwise I'll close this.

[2019-05-13 07:09] tomastoth opened #93 "How to correctly read Bitmex L3 from influxdb"
Hello,

I am trying to read a XBTUSD L3 orderbook that I am saving to influxdb database. I am using influxdb python library and using this code:

`class DbReader(Thread):

    def __init__(self):
        Thread.__init__(self)

    def run(self):
        client = InfluxDBClient('localhost', 8086, 'root', 'root', 'xbtusd2')
        result = client.query('SELECT * FROM BITMEX')
        rs = (result.g

[2019-05-13 07:10] tomastoth commented on #93
By the way I tried separating the updates by timestamp too, even worse results.

[2019-05-13 23:22] bmoscon commented on #93
I'm looking into this, first i'm just running a test to verify that the data coming from the book updates looks correct (raw) to make sure its not an issue with that, then I'll make sure nothing is amiss with the writing for influx.

So far its looking like an issue with  the influx backend. Can you tell me how long you ran your test before you saw the unreasonable spreads?

[2019-05-15 16:19] tomastoth commented on #93
This was just after few minutes of saving.

[2019-05-15 16:37] tomastoth commented on #93
@bmoscon BTW, what is the appropriate way to group the orderbook updates? I mean if I wanna group by updates. So when I am recreating the orderbook I can get full orderbook at the time of update.

Thanks

[2019-05-15 19:24] mansilla opened #94 "max-values-per-tag limit exceeded"
Hi, first of all. Thank you for the great job making this library.
Second. I'm receiving this error:

[code]

I have fix it using the `influxdb.conf` setting described [here](https://docs.influxdata.com/influxdb/v1.5/administration/config/#max-values-per-tag-100000), but Im worried this may decrease the performance of the database since it seems to be a bad practice to have "too many tags".

Do yo

[2019-05-15 21:16] bmoscon commented on #94
You can change the number of tags, they are used for indexing, so more tags, larger index. There are obviously performance implications here, it depends on your setup. I'm going to rework the influx callbacks so you can optionally:

1. Control what params are used for the tag
2. Optionally store data in separate timeseries (eg instead of all data for an exchange in a single measurement)

[2019-05-15 23:03] bmoscon commented on #93
@tomastoth there is an issue with the tagging in influx. I'm not an influxdb expert, I dont use it much, but I do know that if you write data with the same timestamp, and the same tag, they basically overwrite eachother. The tag + timestamp is the "key" for the data. So the book is storing the data with a tag that is not unique enough, so data is being overwritten. I'm working on a fix. Should be

[2019-05-16 02:26] mansilla commented on #94
Ok, some flexibility on the number and the content of tags would be great.
I don't think InfluxDB 2.0 will bring any alleviation to the data loss/overwrite issue. Since this is an immutable facts oriented database a timestamp/tags combination should be defining univocally a data registry, so I suppose this is exactly the expected behavior we should have for this use case.

[2019-05-16 07:42] tomastoth commented on #93
you are a boss :)

[2019-05-19 20:43] bmoscon commented on #93
issue should be fixed now. For book update you need to group them by "timestamp". Entries with the same timestamp are part of the same book.

[2019-05-19 20:43] #93 closed

[2019-05-19 20:44] bmoscon commented on #94
should be fixed now. The tag is just the pair for the trades, so there should no longer be uniqueness issues on this front. Let me know if you still have issues.

[2019-05-19 20:44] #94 closed

[2019-05-19 20:44] #92 closed

[2019-05-20 22:45] bmoscon opened #95 "book delta support in backends"
Support book deltas in the backends as storing complete books for some of the larger exchanges is somewhat unfeasible due to the volume of data (4000+ levels per side, 100s of updates a second).

[2019-05-20 22:46] #87 closed

[2019-05-21 09:14] BurdenBear opened #97 "okex future feed result in unhandled message"
Hello, I want to use cryptofeed to subscribe okex swap feed, using the script below, but encounted
 "Unhandled message" issues, in all of the trade, ticker, and book channels.
  I try to fix it by myself so the script below works, see #96 .
  But accourding to this issue #73 , the future feed should be in other channels different from spot.  Is there any plan, or just putting future feed into same

[2019-05-23 22:22] bmoscon commented on #95
done

[2019-05-23 22:22] #95 closed

[2019-05-29 04:13] evanatyourservice commented on #84
I second this, if Bryant is down. I might work on it.

[2019-05-29 04:22] Puhtooie commented on #84
There's a couple libraries that support oanda.
Github.com/backtrader/backtrader
And quantconnect

Github.com/darwinexlabs/darwinex labs also has some interesting stuff

On Tue, May 28, 2019, 21:13 Evan Walters <notifications@github.com> wrote:

[2019-05-29 23:05] bmoscon commented on #84
@evanatyourservice if you PR it, I will merge it :D

[2019-06-02 20:29] bmoscon commented on #97
thanks for fixing this @BurdenBear

[2019-06-02 20:29] #97 closed

[2019-06-02 20:29] bmoscon commented on #73
@rendonghai swaps now supported on OkEX

[2019-06-03 22:37] bmoscon opened #99 "Book Delta Support in All Backends"
Missing in

ZMQ, socket, mongo, arctic

[2019-06-05 10:13] rendonghai commented on #73
@bmoscon good news

[2019-06-08 00:20] evanatyourservice commented on #84
Roger that. I might go for Deribit

[2019-06-08 11:55] bmoscon commented on #84
@evanatyourservice deribit already supported

[2019-06-11 06:56] zhangzining opened #102 "Error in kraken L2_book"
ERROR : KRAKEN: error handling message [0,{"as":[["7930.70000","0.81000000","1560235533.240656"],
......
["7934.90000","0.29300000","1560235487.901273"]],"bs":[["7927.80000","0.14200000","1560235500.265460"],
......
["7924.30000","0.10910000","1560235501.583426"]]},"book-10","XBT/USD"]

 ERROR : KRAKEN: encountered an exception, reconnecting
Traceback (most recent call last):
  File "/home/zhang/P

[2019-06-11 11:42] bmoscon commented on #102
@zhangzining thanks for opening this. I'll test locally today and see if I can reproduce the issue (and if I can, I'll fix it)

[2019-06-11 11:44] bmoscon commented on #102
@zhangzining can you give me more information about what `book` and `self.book` are? They are the functions/methods listed in your callbacks. I want to be sure they arent modifying the state of the cryptofeed data members.

[2019-06-11 12:37] zhangzining commented on #102
@bmoscon I'm sure the callback method has no problem. I copy it from your `demo.py`. Has read your source code, I think the error take place in` kraken.py `at `_book` method.
    async def _book(self, msg, pair):
        # print(msg)
        delta = {BID: [], ASK: []}
        msg = msg[1:]
        if len(msg) == 1 and 'as' in msg[0]: # HERE
            # Snapshot
            self.l2_book[pair] = {

[2019-06-11 21:35] bmoscon commented on #102
@zhangzining kraken's websocket API changed. I've fixed/tested the code. Its in master now, will release a new version on pypi this week.

[2019-06-11 21:35] #102 closed

[2019-06-11 21:43] bmoscon commented on #88
this is the data the instrument channel provides. Which pieces are you interested in? Just the open interest?

[code]

[2019-06-11 22:12] bmoscon commented on #88
I just went ahead and added them all

[2019-06-11 22:12] #88 closed

[2019-06-19 03:47] rick-sanchez-c137 opened #103 "Influx Data Type"
I was having trouble on aggregating trades data using influx. It turned out that both price and amount are written as string, is it intended?  It would be really convenient if they are stored as float.

[2019-06-19 04:26] rick-sanchez-c137 commented on #103
I took out the two pairs of double quotes surrounded, and it works fine.

`
class TradeInflux(InfluxCallback):
    def __init__(self, *args, key='trades', **kwargs):
        super().__init__(*args, **kwargs)
        self.key = key

    async def __call__(self, *, feed: str, pair: str, side: str, amount: Decimal, price: Decimal, order_id=None, timestamp=None):
        amount = str(amount)
        p

[2019-06-19 22:20] bmoscon commented on #103
@rick-sanchez-c137 what if the data type was configurable? Strings do not lose precision, floats can/do (which is why I initially opted for str)

[2019-06-20 00:10] bmoscon commented on #99
fixed

[2019-06-20 00:10] #99 closed

[2019-06-20 15:34] javy-kong opened #106 "raise UnsupportedTradingPair(f'{pair} is not supported on {exchange}')"
demo.py throw this error

[2019-06-20 17:47] #106 closed

[2019-06-20 23:56] rick-sanchez-c137 commented on #103
@bmoscon I kinda got your ideal there.
Yet, at least, for 'price' and 'amount', they should be default to numeric type?

Influx currently doesn't support type conversion well, for their speed sake. If you create a server-side continuous policy, say aggregating trades to OHLCV every 5 min, it will fall.

[2019-06-21 16:58] greenclaw commented on #90
Oh, thank you indeed!, that was not clear is the problem in library or just in parameters I passed.

[2019-06-25 08:55] dinhnv opened #107 "Support Binance aggTrade"
According to Binance Stream document, I think `aggTrade` would be useful rather than `trade`.

Could it be better to replace `standards.TRADES['BINANCE']` to `aggTrade` instead of `trade`?

https://github.com/binance-exchange/binance-official-api-docs/blob/master/web-socket-streams.md#aggregate-trade-streams

[2019-06-26 00:16] bmoscon commented on #107
@dinhnv ok ill look into it - thanks for the tip

[2019-06-26 00:16] bmoscon commented on #103
@rick-sanchez-c137 ok, I'll make the change

[2019-06-26 09:22] proskurin opened #108 "OkeX perpetual swap example doesn't work"
I've launched example with Okex BTC perpetual swap, however I constantly receive Unhandled message warning

[2019-06-27 23:39] bmoscon commented on #108
Can you provide some output? I just tried running it myself and it works as intended:

[code]

[2019-06-28 00:26] bmoscon commented on #103
fixed. You can specify the type you want with numeric_type as the arg on the book callback:

[code]

[2019-06-28 00:26] #103 closed

[2019-06-28 00:41] bmoscon commented on #107
@dinhnv after looking into it a bit further, I'm not sure what the advantage is. If you get the raw trade data, like it currently provides, you can aggregate on your end if you so desire. If i change it to use aggregated trades, I dont think you can extrapolate back to the raw data.

[2019-06-28 06:44] proskurin commented on #108
Sorry, got an old version of library everything works justs fine

[2019-06-28 06:44] #108 closed

[2019-06-28 11:45] bmoscon commented on #108
@proskurin no worries - thanks for following up!

[2019-07-02 21:54] evanatyourservice opened #110 "Deribit TypeError during ohlcv feed"
While running:
[code]

I get:
[code]
This could very well be a problem on Deribit's side, I've had a lot of trouble with their API in the past in various ways.

[2019-07-03 00:54] bmoscon commented on #110
fixed in master. The code to handle deribit's exchange interface was not converting values to decimal.Decimal properly.

[2019-07-03 00:54] #110 closed

[2019-07-03 04:17] dinhnv commented on #107
It may be useful in case of looking at how big orders are destroyed. And in many cases, `aggTrade` will help us reduce the amount of data transferring over the stream.
I just inform you to look into it, but if it isn't helpful clearly, I could close this issue.

[2019-07-03 23:23] AlgoTrader5 opened #111 "Feature Request - reference database for symbols"
the data would contain at least these items:
- symbol
- exchange
- minTick (min price increment)
- minSize (the min order size allowed by exchange)
- maxSize (the max order size allowed by exchange)

data could be represented in a dictionary like so:
reference_data = {
    exchange1: {
        sym1: {
            minTick: float,
            minSize: float,
            maxSize: float
        },

[2019-07-08 09:39] glgnohk opened #113 "Make consistent timestamp fields for trades"
Here's an analysis of the timestamps for the exchanges currently setup.

[code]

From discussions with @bmoscon on Slack, these should be float seconds since epoch. (Maybe good to document this?)

So issues with:

- Binance (looks like fixed)
- Bitstamp (is str)
- EXX (is str)
- HUOBI_US (is in mills)
- OKEX (is in datetime str)
- Poloniex (make float?)

Sample code:
[code]

I suppose seconds sinc

[2019-07-10 20:19] AlgoTrader5 opened #114 "Ticker method using BTC-USD in Kraken REST giving UnsupportedTradingPair exception"
File "D:\Python\Python36\lib\site-packages\cryptofeed\rest\kraken.py", line 112, in ticker
    sym = pair_std_to_exchange(symbol, self.ID+'REST')
  File "D:\Python\Python36\lib\site-packages\cryptofeed\standards.py", line 55, in pair_std_to_exchange
    raise UnsupportedTradingPair(f'{pair} is not supported on {exchange}')
cryptofeed.exceptions.UnsupportedTradingPair: BTC-USD is not supported on K

[2019-07-10 23:49] bmoscon commented on #114
I think its working as intended. Can you provide the code where you actually call it?

[code]

[2019-07-11 00:11] bmoscon commented on #114
spoke with @AlgoTrader5, this is not an issue

[2019-07-11 00:11] #114 closed

[2019-07-11 01:43] glgnohk commented on #113
Also, changed Bitstamp to use the microsecond timestamp for better resolution.

[2019-07-11 01:46] glgnohk commented on #113
Final check
[code]

Coinbene seems to have a delayed timestamp, and Huobi_US's can be very old. Will try to look at separately, unless anyone has ideas.

[2019-07-11 02:03] bmoscon commented on #113
fixed

[2019-07-11 02:03] #113 closed

[2019-07-15 01:54] glgnohk opened #118 "Coinbene publishes repeated trades"
Coinbene uses REST for market data. To get trades, it's API allows you to request the last N trades, up to 2,000. (See  https://github.com/Coinbene/API-Documents/wiki/1.1.2-Get-Trades-%5BMarket%5D ). Thus, a way to get trades is to repeatedly query the last trades and publish only non-repeated trades. The current code does this, but there's a bug in the logic, in this function:
https://github.com/

[2019-07-15 08:39] p0nt opened #119 "Slow response compared to BitMEX webinterface"
Hi,

So I am trying to figure out why this speed issue is coming up but I am unable to find it.

I run a simple script which is retrieving INSTRUMENT data from BitMEX as you can find below.

This idea is to compare the price from their webinterface to the retrieved price from the instruments socket, but it seems the instruments socket is very very late compared to their own webinterface.

I have r

[2019-07-15 08:54] glgnohk commented on #119
It's quite common that instrument updates are delayed or not realtime. Use book or trades if you want realtime info.

[2019-07-15 08:55] p0nt commented on #119
thanks, will look into it.

Also I was wondering if cryptofeed allowed private streams, such as order or position as documented here:
https://www.bitmex.com/app/wsAPI

[2019-07-15 09:01] glgnohk commented on #119
Don't think so. you can see the messages processed here: https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/callback.py

[2019-07-17 17:36] bmoscon commented on #107
@dinhnv ok, makes sense. I'll make the change

[2019-07-18 11:50] xiandong79 commented on #107
And the users can switch to `trade` in standards.py if needed.

[2019-07-19 09:43] xiandong79 opened #120 "orderBookL2_25 should be added in standards.py and bitmex.py"
"orderBookL2",         // Full level 2 order book
contains all order book with depth = 6990, and 60 updates in one second, it is too much for most of the trading algorithm, too much data for the database.

"orderBookL2_25",      // Top 25 levels of level 2 order book
seems a better choice according to [the official document](https://www.bitmex.com/app/wsAPI)

which would be better added in  standa

[2019-07-22 08:56] xiandong79 opened #121 "DASH-USD is not supported on bitfinex"
According to https://www.bitfinex.com/SAN/dash, DASH-USD is an active ticker, however, using cryptofeed/examples/demo.py, I receive that "DASH-USD is not supported on bitfinex"

[2019-07-22 09:05] xiandong79 commented on #121
it should be DSH-USD.

[2019-07-22 09:05] #121 closed

[2019-07-24 00:09] bmoscon commented on #119
@p0nt no private websocket data. As a US citizen I can't open an account on bitmex, so even if i wanted to add support for it I'd have no way to test it.

[2019-07-24 00:09] bmoscon commented on #118
@glgnohk thanks for the ticket, will get it fixed before next release!

[2019-07-24 00:15] bmoscon commented on #107
fixed - on master.

[2019-07-24 00:15] #107 closed

[2019-07-25 05:11] malone6 opened #122 "module 'asyncio' has no attribute 'run' (In python3.6)"
In setup.py, python version can be 3.6/3.7,but it raised exception when i run examples/demo_tcp.py used python=3.6.5.
[code]
Actually, asyncio.run is a Python 3.7 addition

[2019-07-25 07:07] glgnohk opened #123 "Add Huobi DM exchange"
For API docs, see https://huobiapi.github.io/docs/dm/v1/en/#introduction.

Similar to Huobi API, but some differences and different end point.

[2019-07-26 08:08] rendonghai opened #124 "process is no longer working after reconnect 11 retries"
In some rare cases, the feedhandler._connect function runs to retry 11 times.At this point, the feedhandler.run function is still running, but the entire process is no longer working.
You can reproduce the bug by following these steps:
1.Put breakpoint in the demo. Py file at the FeedHandler. Run line
2. Run to the feedhandler.run line
3.Disconnect the Internet
4. Keep running
Recommended add an e

[2019-07-26 08:33] xiandong79 opened #125 "Poloniex - 'NoneType' object is not iterable"
The code is:
[code]

[code]

**name="cryptofeed",
version="1.0.0",**

[2019-07-26 08:34] xiandong79 commented on #125
I run the code in `cryptofeed/examples/demo_book_delta.py` directly without any change.

[2019-07-26 23:42] bmoscon commented on #125
fixed. The way poloniex sets up a feed had changed, but the example code had not.

[2019-07-26 23:42] #125 closed

[2019-07-26 23:43] bmoscon commented on #122
I believe the library itself is compatible with 3.6 even if the example code is not. If this is not the case, let me know

[2019-07-26 23:48] bmoscon commented on #124
good catch. I've always set the number of retries to be very very high, so I've never had this happen. Thanks for raising the issue! I've fixed it on master

[2019-07-26 23:48] #124 closed

[2019-07-30 21:50] bmoscon commented on #120
In general each exchange is set up to give you the most data possible for L2/L3 book feeds. Many backends offer ways to trim the amount of data, via the `depth` kwarg. I'll see if enough exchanges have 2 different L2 feeds to warrant adding an L2_BOOK_FULL and L2_BOOK_TOP feed

[2019-07-31 02:28] nateGeorge opened #127 "Bitstamp L2/L3 problem"
When trying to use cryptostore to store Bitstamp L2 or L3 data for BTC-USD using Redis and Arctic, the following error appears:

[code]

It looks like L3 data should be available for bitstamp from the API page: https://www.bitstamp.net/api/
Other L2/L3 data like Coinbase seems to be working fine.

I started digging through the code, but get lost in feed.py with all the async code.  Any insights as

[2019-07-31 02:36] nateGeorge opened #128 "Gemini L2 issue"
When using cryptostore with Gemini to get L2 data for BTC-USD, the following error appears:

[code]

Seems like from their API page L2 data is supported: https://docs.gemini.com/rest-api/#current-order-book

I'm using Redis with Arctic to store the data.

[2019-07-31 02:50] nateGeorge opened #129 "Huobi L2 issue"
Issue with BTC-USDT L2 on Huobi (using Redis and Arctic with cryptostore):

[code]

[2019-07-31 02:50] nateGeorge commented on #129
Also related: Huobi US:

[code]

[2019-07-31 17:13] nateGeorge opened #130 "Poloniex trades problem"
Getting the trades from Poloniex using cryptostore for BTC-USDT and ETH-USDT (with or without backfill) with Redis and Arctic results in the following error:

[code]

[2019-07-31 17:29] bmoscon commented on #130
Believe I fixed this last night, not sure what version of the code you are on. Can you send me the specific config for poloniex (symbols, channels, etc?)

[2019-07-31 18:53] nateGeorge commented on #130
NIce, it seems to be working now.  Looks like the backfill isn't working due to a timestamp conversion, but I'll open an issue in cryptostore for that since it's in that code.

[2019-07-31 19:06] nateGeorge commented on #129
Looks like it's related to this:  https://github.com/bmoscon/cryptostore/issues/25

Should be fixed when per-exchange delta config is available within cryptostore, right?

[2019-07-31 19:07] nateGeorge commented on #127
I'm guess it's related to this? :  https://github.com/bmoscon/cryptostore/issues/25

Should be fixed when per-exchange delta config is available within cryptostore, right?

[2019-08-01 01:38] xiandong79 commented on #129
I have the same error message with Huobi L2.

[2019-08-01 01:41] xiandong79 commented on #128
what is your config?
Besides,  Gemini only supports one pair for each WebSocket connection.

[2019-08-01 01:48] bmoscon commented on #129
this has been fixed on master (cryptostore). those exchnages dont support book deltas. I'll improve the config validation on the cryptofeed side as well so you'll know when you register for unsupported trading pairs or unsupported options (like book deltas).

[2019-08-01 01:48] #129 closed

[2019-08-01 01:48] bmoscon commented on #128
Gemini not supported on cryptostore due to #91, so this is really a dupe of that issue

[2019-08-01 01:48] #128 closed

[2019-08-01 01:49] bmoscon commented on #127
yes, its on master and has been fixed

[2019-08-01 01:49] #127 closed

[2019-08-01 02:33] xiandong79 commented on #130
@nateGeorge have you tested Poloniex with the latest code from Github of cryptofeed and cryptostore ?

I got errors.

[2019-08-02 01:43] xiandong79 commented on #124
@rendonghai I fave a case where cryptostore and cryptofeed shouls never stop retry.

https://github.com/bmoscon/cryptostore/issues/30

in 2019-08-01，bitfinex.com is down for an upgrade.

all API said:

{
code: 503,
error: "temporarily_unavailable",
error_description: "Sorry, the service is temporarily unavailable. See https://www.bitfinex.com/ for more info."
}
In bitfinex.com:
“Please monitor bit

[2019-08-02 01:54] xiandong79 commented on #124
or with `code: 503`,  the Cryptostpre or Cryptofeed should not stop retry.

[2019-08-02 04:13] nateGeorge commented on #130
Yes, I believe it works with the latest versions from github.  I'm running it currently.

[2019-08-02 04:14] nateGeorge opened #131 "Coinbene trades issues"
Seems like getting Coinbene trades is having some issues.  Here are a few errors I've gotten trying to collect BTC-USDT and ETH-USDT data:

[code]

[code]

[2019-08-03 15:48] cticket commented on #123
I would like this exchange, as well, fwiw.

[2019-08-03 16:00] glgnohk commented on #123
I am mostly done for this issue, but then went on a long vacation. Will get back to it in a few days.

[2019-08-03 17:00] cticket commented on #123
Great.  Is there a document anywhere that describes the steps involved in adding an exchange?

[2019-08-03 23:52] bmoscon commented on #91
fixed

[2019-08-03 23:52] #91 closed

[2019-08-04 00:00] bmoscon commented on #123
@cticket yes - see https://github.com/bmoscon/cryptofeed/blob/master/docs/exchange.md

[2019-08-05 06:14] xiandong79 opened #133 "Test failed in cryptofeed/examples/demo_book_delta.py for Gemini"
I notice that @bmoscon update the logic of **Gemini**. Great idea!!!

However, it does not rull well in `cryptofeed/examples/demo_book_delta.py`

[code]

[2019-08-05 23:17] bmoscon commented on #133
thanks for raising - this has been fixed. I re-tested with single pairs and with multiple pairs

[2019-08-05 23:17] #133 closed

[2019-08-06 02:54] xiandong79 commented on #133
thanks!!!

[2019-08-06 12:51] bmoscon commented on #118
should be fixed now, thanks for raising @glgnohk

[2019-08-06 12:51] #118 closed

[2019-08-06 12:51] bmoscon commented on #131
just retested coinbene, I dont get these errors. was there an intermittent issue with the exchange when you tested this?

[2019-08-07 19:12] nateGeorge opened #134 "Increase Kraken L2 default depth to max depth (1000 instead of 10)?"
Is there a reason to use the minimum depth (10) for Kraken L2 books?  I'd say the max is better (1000) as default, but best would be to make it customizable.  I'm using it with cryptostore, so for that use-case it would be ideal to have a setting in the config file for the kraken L2 book depth (maybe best to open another issue there?).  Here is where it's set in cryptofeed: https://github.com/bmos

[2019-08-07 19:42] nateGeorge commented on #134
Now I see that it should be able to be changed in the cryptostore config file as `book_depth`.  However, this doesn't seem to be working.  I'll open an issue in cryptostore for that.

[2019-08-07 21:57] bmoscon commented on #134
good catch, i set it to 10 once upon a time ago during some testing and never changed it back. fixed on master

[2019-08-07 21:57] #134 closed

[2019-08-07 21:57] bmoscon commented on #131
@nateGeorge let me know if you can reproduce this, otherwise I'll close it since its working fine for me.

[2019-08-07 22:50] nateGeorge commented on #131
Yes, just retested and seems to be working.  Not sure what was wrong before.

[2019-08-07 22:50] #131 closed

[2019-08-07 22:56] nateGeorge opened #135 "Feature request: Order book deltas for Huobi and Huobi US"
It would be nice to have order book deltas for Huobi for more efficient storage of data.  Most other exchanges seem to work with book deltas.  Trying to use a book delta with Huobi and Huobi US currently gives the following error (using it through cryptostore):

[code]

[2019-08-07 23:10] nateGeorge commented on #63
Cointiger looks to be the 2nd in volume currently and seems to have a websocket API: https://github.com/cointiger/api-docs-en/wiki

Some others currently in the top 10 are:

- LBank: https://github.com/LBank-exchange/lbank-official-api-docs
- Idax: https://github.com/idax-exchange/idax-official-api-docs/blob/master/open-ws_en.md
- DigiFinex: https://github.com/DigiFinex/api

[2019-08-08 17:38] nateGeorge opened #136 "Better rate handling for Kraken"
Looks like Kraken's REST API limits are about 1 call per 2s: https://support.kraken.com/hc/en-us/articles/206548367-What-are-the-REST-API-rate-limits-

I think the [sleep time in the historical data](https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/rest/kraken.py#L175) could be improved, or at least shortened.  Right now it's at 20s, but we could probably take it down to 5s.  We could

[2019-08-09 01:41] xiandong79 commented on #135
Also, currently Binance uses 'depth20' with a fixed depth ==20 instead of 'full book with book delta'.

I know that the full book of Binance is not consistent and stable.

[2019-08-09 02:41] nateGeorge commented on #135
Good call. Going to take a look at all the book depths to make sure they are maxed, since they can be cut off in cryptostore config if desired.

[2019-08-09 04:24] nateGeorge opened #137 "Improved Binance L2 book"
It looks like the recommended way to handle Binance L2 books is to first get a snapshot from the REST API, then update it with the websocket: https://github.com/binance-exchange/binance-official-api-docs/blob/master/web-socket-streams.md#how-to-manage-a-local-order-book-correctly

Currently it looks like cryptofeed is only using the websocket.

[2019-08-09 04:49] nateGeorge opened #138 "More bitstamp l2 data?"
It looks like a different websocket address has more L2 book data than the one currently in the code.  At `diff_order_book_v2.html`.  It's the 'live full order book' instead of just the 'live order book'.  Should we change it or set an option to use the full order book? https://www.bitstamp.net/websocket/v2/

[2019-08-09 04:51] nateGeorge commented on #135
Started a discussion for Binance here: https://github.com/bmoscon/cryptofeed/issues/137

[2019-08-10 02:30] cheekybastard commented on #63
@nateGeogre who is the source for the volume ranking? 50+% of global reported volume is fake. With respect, your source is not filtering wash trading exchanges, for example cointigers google analytics show <10K visitors/day, 70% drop in traffic for June. They granted similarweb access to their analytics data: https://www.similarweb.com/website/cointiger.com They are not doing volume similar to exc

[2019-08-12 23:13] bmoscon commented on #73
marking this as closed since there are other feeds now that support these that have been added. new tickets can be opened for individual exchanges/types

[2019-08-12 23:13] #73 closed

[2019-08-13 08:32] xiandong79 opened #140 "[upgrade] Is it safe and agile to save all exchange pairs in one dict."
currently, variable **_exchange_to_standard** save different exchange pairs in one big dict.
Is it more safe and agile to save each exchange pairs in one dict, and pack them in the big dict of **_exchange_to_standard**.

[code]

I notice that **_std_trading_pairs** has **_std_trading_pairs[pair][exchange]**

[2019-08-14 06:20] xiandong79 commented on #137
concerned、

[2019-08-14 07:23] dinhnv opened #141 "cryptofeed should be an async client to work with Python/asyncio code"
When working with async/await code, I got an exception:

[code]

I think that would be better if cryptofeed exposed an `async` `run` function to integrate with. It is similar to other [aio-libs](https://github.com/aio-libs/aiopg)

Usage example:

[code]

[2019-08-15 09:51] xiandong79 opened #142 "Feature request: Order book deltas for GEMINI"
I test the GEMINI with the cryptofeed and the cryptostore today.

However,
1. as the cryptostore saves a new full snapshot whenever a new update comes.
2. the **update frequency of GEMINI** (message from websocket) is much higher than other exchanges.

So, an **Order book deltas** for GEMINI feature is needed.

The program crashed today as the Redis died as of out of memory.

[2019-08-15 23:24] bmoscon commented on #142
just noticed there is a v2 of the gemini WS api. it also supports multiple pairs per connection, so looks like i can backout the recent changes i made. it also supports deltas - will work to get this new version supported asap

[2019-08-16 08:33] glgnohk commented on #123
The subscription is a bit unique. From code comments in `exchange/houbi_dm.py`:

[code]

[2019-08-16 08:34] glgnohk commented on #123
Also added `tools/websockets_test.py` to help with websocket testing for new exchanges.

[2019-08-17 01:45] bmoscon commented on #142
v2 support added - with deltas. the previous version supported deltas too, FYI

[2019-08-17 01:45] #142 closed

[2019-08-18 21:45] bmoscon commented on #141
I added an option to bypass running the loop internally in cryptofeed. You can call run with the `start_loop` kwarg set to `False`. An example is also included here: https://github.com/bmoscon/cryptofeed/blob/master/examples/demo_existing_loop.py#L47

[2019-08-18 21:45] #141 closed

[2019-08-18 21:46] bmoscon commented on #137
fixed on master. the previous implementation was just the top 20 of the book (no snapshot needed). changed to provide the full depth (at least as full as binance produces) with deltas

[2019-08-18 21:46] #137 closed

[2019-08-18 21:51] bmoscon commented on #119
since there isnt really anything for me to act upon here - closing.

[2019-08-18 21:51] #119 closed

[2019-08-18 21:53] bmoscon commented on #140
advantage is that you can translate a pair without needing to supply an exchange. you dont need to know which exchange supplied it to be able to do the translation, so not sure why you'd need the exchange.

[2019-08-18 22:08] bmoscon commented on #123
merged

[2019-08-18 22:08] #123 closed

[2019-08-20 09:32] #140 closed

[2019-08-20 09:55] xiandong79 opened #145 "[upgrade] the prefix for msg in backends/zmq.py is not clear"
In backends/redis.py, cryptofeed has `{self.key}-{feed}-{pair}` as the redis KEY. However, in backends/zmq.py,

1. `f'trades {json.dumps(trade)}' ` is used which is hard for the user to select/filter partial messages.
2. a blank between `trades` and `{json.dumps(trade)}` is hard for the user to split this string as many blanks are hidden in the json block.

what about `f'trades.{feed}.{pair}|{json

[2019-08-21 23:33] bmoscon commented on #145
This is due to how ZQM does subscriptions. The first part (trades) is the topic. The data has to be formatted this way for ZMQ. For more info on ZMQ see https://learning-0mq-with-pyzmq.readthedocs.io/en/latest/pyzmq/patterns/pubsub.html

[2019-08-21 23:37] bmoscon commented on #145
I updated the example to make it more clear how to retrieve the dictionary

https://github.com/bmoscon/cryptofeed/blob/master/examples/demo_zmq.py#L29

[2019-08-21 23:37] #145 closed

[2019-08-23 02:19] xiandong79 commented on #145
1. Thanks for the update in demo_zmq.py#L29.
2. I have read the link (https://learning-0mq-with-pyzmq.readthedocs.io/en/latest/pyzmq/patterns/pubsub.html).

I still hold the opinion that **f'trades.{feed}.{pair}'** is a more appropriate way to define a **"topic"** in zmq instead of **f'trades'**, as quant traders may only the market data from one exchange while I subscribe 10 exchanges in feedhand

[2019-08-26 07:37] xiandong79 opened #147 "[feature request] add func huobi_dm_pairs or get_acitve_pairs in huobi_dm.py and example.py"
For BITMEX, we have `get_acitve_pairs`, we can also have a similar func for HUIBI_DM

[2019-08-27 00:36] glgnohk commented on #147
You don't need this function for Huobi_DM to deal with different expiries. See comment in the code:

https://github.com/bmoscon/cryptofeed/blob/89ede4800e00f6fcba03e9e3e26e8fe7181a23c6/cryptofeed/exchange/huobi_dm.py#L2

But, yeah, we could add to get the universe of pairs that is uses.

[2019-08-27 01:34] xiandong79 commented on #147
@glgnohk agree with you. I will `list(huobi_dm_pairs().keys)` to get all the active pairs, so that I can subscribe them all at once.

It would be better to have a static method like what have done in [bitmex.py - def get_active_symbols()](https://github.com/bmoscon/cryptofeed/blob/89ede4800e00f6fcba03e9e3e26e8fe7181a23c6/cryptofeed/exchange/bitmex.py#L57) to get all active pairs.

[2019-08-27 01:47] glgnohk commented on #147
I am fine to add this.

I'l probably also change the one in OKEX, since it returns just futures, not swaps, just to make the calls all consistent.

[2019-08-27 01:53] glgnohk commented on #147
The question though is, does it return BTC_CW, etc., so returns a list of contracts to subscribe to, or BTC190927, so returns a list of symbols you see when the data is published?

Maybe somewhat related to https://github.com/bmoscon/cryptostore/issues/41

[2019-08-31 23:31] bmoscon commented on #147
@glgnohk I'd say that you should keep the mapping you have, BTC_CW -> the actual symbol, but also allow subscribing by the real symbol, as well as provide a function to obtain all active symbols (the real symbol)

[2019-09-01 00:23] bmoscon commented on #138
fixed

[2019-09-01 00:23] #138 closed

[2019-09-01 00:25] bmoscon commented on #63
going to close this as exchanges will be added as needed, most the larger exchanges per the coingecko list are already supported

[2019-09-01 00:25] #63 closed

[2019-09-02 19:50] bmoscon commented on #122
i looked and I was also using create_task, (3.7+) so definitely does not support 3.6. I've updated the readme and setup.py

[2019-09-02 19:50] #122 closed

[2019-09-03 06:05] xiandong79 opened #152 "BITSTAMP - SSL error - ClientResponseError: 404, message='Not Found'"
[code]

[code]

with the latest code of the cryptostore and cryptofeed

This error happens after I **git pull the latest code** and **relaunch the cryptostore** program

[2019-09-03 06:17] xiandong79 commented on #152
https://github.com/aio-libs/aiohttp/issues/3535

it seems that it is a Python problem.

[2019-09-03 22:53] bmoscon commented on #152
The bug report seems to indicate you should upgrade to 3.7.4, but not sure if that will actually fix it or not

[2019-09-05 09:08] xiandong79 opened #153 "BINANCE updates its depth API in 2019-09-03"
[code]

https://github.com/binance-exchange/binance-official-api-docs/blob/master/CHANGELOG.md

[2019-09-05 13:27] bmoscon commented on #153
thanks for the tip!

[2019-09-09 11:11] zhenpingfeng commented on #152
Not working with 3.7.4 still got 404
`
f = FeedHandler()
f.add_feed(Bitstamp(channels=[L2_BOOK], pairs=[
'BTC-USD', 'ETH-USD'], callbacks={L2_BOOK: BookRabbit(depth=1, port=5672)}))
f.run()
`
`2019-09-09 19:10:10,160 : ERROR : BITSTAMP: encountered an exception, reconnecting
Traceback (most recent call last):
  File "/home/ubuntu/miniconda3/lib/python3.7/site-packages/cryptofeed-1.0.1-py3.7.egg/cr

[2019-09-09 15:28] zhenpingfeng commented on #152
When I sub with 1 pair `['BTC-USD']`, the connection is fine. But when I sub with multi-pair that like `pair=['BTC-USD', 'ETH-USD']`, I got `404, message='Not Found'`.

[2019-09-09 23:41] bmoscon commented on #152
nothing i can do about this - it works for me, its likely an issue with your certs, isp, etc. Cryptofeed doesnt do any SSL handling directly, its all done via the 3rd party libraries it uses

[2019-09-10 02:10] zhenpingfeng commented on #152
The old version before 8c6aa44 commit works fine for me. probably has some bug in the 8c6aa44 commit.

[2019-09-10 02:35] nateGeorge commented on #63
@cheekybastard thanks for the info will check it out.  Was using coinmarketcap but they seem to just include everything.

[2019-09-10 04:28] zhenpingfeng commented on #152
https://github.com/bmoscon/cryptofeed/blob/8c6aa44605e1ba989b7f1357d346abcae4923ab2/cryptofeed/exchange/bitstamp.py#L139

[2019-09-10 04:47] zhenpingfeng commented on #152
https://github.com/bmoscon/cryptofeed/blob/8c6aa44605e1ba989b7f1357d346abcae4923ab2/cryptofeed/exchange/bitstamp.py#L139
The URL 'https://www.bitstamp.net/api/order_book/{sym}' should be 'https://www.bitstamp.net/api/v2/order_book/{sym}' for the alts pair, the URL
https://www.bitstamp.net/api/v2/order_book/ltcusd work as expected. I will create a pull request to fix this.

[2019-09-10 05:09] zhenpingfeng commented on #152
https://github.com/bmoscon/cryptofeed/pull/155/commits/1f9940b7fcdfeb77fae04f4cb9d020e280eca21c Its been fixed.

[2019-09-10 12:15] bmoscon commented on #152
merged

[2019-09-10 12:15] #152 closed

[2019-09-11 17:42] bmoscon commented on #135
this is fixed now. with the max_depth= param you can set max depths and get deltas (if not supported by exchange already)

[2019-09-11 17:42] #135 closed

[2019-09-12 02:34] xiandong79 commented on #120
Great work!!!!

[2019-09-12 02:35] xiandong79 commented on #120
GOAT!! you are my idol

[2019-09-15 20:22] proskurin opened #159 "Different timestamp format for OKEX feed for different countries"
Hi, I have found that based on country where server is located OKEX BTC-USD-SWAP data in delivered in different formats:
1) USA - in floats
2) Singapore, Ukraine - in strings
Furthermore, it looks like number of records is also different based on country where user/server is located (I was writing data from U.S server and volumes were high, however, moving to Singapore massively decreased number o

[2019-09-16 15:52] bmoscon commented on #159
if you can provide data examples for the timestamp formatting differences I can fix it. I know that they have different exchanges for different countries (not sure how many have their own) so 2 doesn't surprise me

[2019-09-18 18:10] cticket opened #162 "Add Deribit Funding from TICKER"
Derbit has the funding rate in their Ticker channel.   It would be good to extract both the current and 8 hour funding.

{
  "jsonrpc": "2.0",
  "id": 8106,
  "result": {
    "best_ask_amount": 3010
    "best_ask_price": 3562.75,
    "best_bid_amount": 135710,
    "best_bid_price": 3562.5,
    **"current_funding": 0,
    "funding_8h": 0.00018344,**
    "index_price": 3563.53,
    "instrument_name"

[2019-09-20 10:00] pottertech opened #163 "Add a Configuration Switch for Crypto Pairs"
I use CCXT along with Cryptofeed.  CCXT uses '/' between crypto pairs while Cryptofeed uses '-'.  Could you please make this something adjustable so that I can line up the pairs in my DB and avoid all the millions of updates/calls to replace the '-' with '/'?

[2019-09-23 01:26] bmoscon commented on #163
Definitely doable

[2019-09-23 01:27] bmoscon commented on #162
Thanks for raising this - definitely something good to add

[2019-09-24 15:17] pottertech opened #164 "Add new exchange Binance.US"
Binance just annouced Binance.us for registration and will be trading within 30 days or so.  I suspect the endpoints for Binance.us may end up being different than Binance proper.  But maybe not...

[2019-09-29 05:49] zhenpingfeng opened #165 "[question] How do I automatically subscribe new OKEX weekly futures in cryptofeed?"
I use `OKEx.get_active_symbols()` to get symbol list for OKEX futures pairs. This code will get a list such like `['ETH-USD-190913', 'ETH-USD-190920', ...]`, but when Weekly or Bi-Weekly futures Delivery, how do I automatically subscribe new Weekly and Bi-Weekly futures in cryptofeed without re-run the code?

When Weekly futures Delivery, will get error:

2019-10-12 02:15:26,095 : ERROR : OKEX: Er

[2019-09-29 06:07] zhenpingfeng commented on #165
Maybe I could use a Timer to kill the old process and restart a new process in the code?

[2019-09-30 14:04] bmoscon commented on #164
@pottertech thanks for the heads up, will do this this week

[2019-10-09 00:55] AlgoTrader5 opened #167 "Improve handling of coinbase order responses"
The exchange will reject an order for various reasons. This will break on the order status function because the exchange response doesn't contain status key.

We can improve this for coinbase by handling responses that have a message key and updating the order status to failed

[2019-10-12 16:59] zerzer04 commented on #130
I am getting this as well . The cause is **"i"** message which appears sometimes after the initial dump of the book: see note in [https://docs.poloniex.com/#price-aggregated-book](https://docs.poloniex.com/#price-aggregated-book)

changing: "elif self.seq_no[chan_id] + 1 != seq_no" -> " elif self.seq_no[chan_id] + 1 != seq_no **and msg[2][0][0]!='i'** " in async def message_handler function of pol

[2019-10-16 14:51] nateGeorge commented on #130
Ah yeah, I'm still getting this too.  I think you are right.  Here's the error I'm seeing:

[code]

[2019-10-18 00:49] bmoscon commented on #130
the code handles `i` messages. The error you're seeing there is because of the missing sequence number. Its expecting one, but got another. The fact that the `i` message triggered it is just a coincidence. Exchanges can have missing messages, there isnt anything to 'fix' here, the feed handler will reconnect (but it will report the error).

[2019-10-18 03:22] nateGeorge commented on #130
Ok, the weird thing is when I implement zerzer's change, it doesn't seem to have to reconnect, maybe because it's not raising an error. The missing sequence number seems to happen very frequently with poloniex...like on a regular basis.  It's not the best because it dumps the whole order book to the console and makes it hard to scroll up in the console.

[2019-10-18 13:26] bmoscon commented on #130
@nateGeorge so it looks like I can do a few things here:

* I can make it so the messages that trigger exceptions are only reported when enabled - this would be a flag to the feedhandler so the long messages wont fill the screen/log files
* Poloniex docs indicate that the `i` message requires a book reset, but I don't have to reset the connection, the data to reset the book is in the message, so I

[2019-10-18 14:29] nateGeorge commented on #130
I think both of those sound like great ideas.

[2019-10-18 16:50] bmoscon commented on #130
@nateGeorge first part is done, messages are disabled by default on exceptions.

[2019-10-21 10:18] xiandong79 opened #169 "[feature request] binance futures"
recently, binance exchange is touting its futures exchange.

[2019-10-22 12:04] bmoscon commented on #130
should be fixed now, I ran for 2 days and never reproduced the problem, but the code is in there should it happen again - let me know

[2019-10-22 12:04] #130 closed

[2019-10-24 23:18] nateGeorge commented on #130
Yes, seems to be working now, thanks!

[2019-11-18 15:40] bmoscon commented on #169
merged on master

[2019-11-18 15:40] #169 closed

[2019-11-23 13:43] bmoscon opened #178 "Funding and Kraken Futures"
Funding in KrakenFutures does not seem to work properly:
fh.add_feed(KrakenFutures(pairs=['PI_XBTUSD'], channels=[FUNDING], callbacks={FUNDING: FundingCallback(funding)}))
results in
KeyError: 'KRAKEN_FUTURES'

[2019-11-23 14:14] bmoscon commented on #163
I added some code to do this. Its only bee LIGHTLY tested, so give it a try and please report any errors / issues here. You'll have to use the code on master, i wont release this to pypi until its been more thoroughly tested. See: https://github.com/bmoscon/cryptofeed/blob/master/examples/demo_pair_separator.py

Going to close this, but re-open if there are issues with it

[2019-11-23 14:14] #163 closed

[2019-11-26 18:05] #178 closed

[2019-11-27 07:46] lkthomas opened #181 "ImportError: cannot import name 'FeedHandler' from 'cryptofeed'"
`from cryptofeed import FeedHandler`
`ticker_cb = {TICKER: TickerCallback(ticker)}`
`trade_cb = {TRADES: TradeCallback(trade)}`
`gemini_cb = {TRADES: TradeCallback(trade), L2_BOOK: BookCallback(book)}`
`FeedHandler().add_feed(Bitfinex(pairs=['BTC-USD'], channels=[TICKER], callbacks=ticker_cb))`
`FeedHandler().run()`

Traceback (most recent call last):
  File "/data/user/0/ru.iiec.pydroid3/files/ac

[2019-11-27 08:09] lkthomas commented on #181
My mistake, name the file conflict with the module, sorry.

[2019-11-27 08:09] #181 closed

[2019-12-02 20:11] arrrbeee opened #183 "TRADES and L2_BOOK not writing to InfluxDB for Bittrex"
I'm trying to re-use the callback for InfluxDB from `examples/demo_influxdb.py` for Bittrex orderbook and trade data like so:

[code]

However, when I run the above, it seems to only grab the `ticker-BITTREX` measurement in Influx; it's missing the `trades-BITTREX` and `book-BITTREX` measurements (when I just query `show measurements;` at the Influx console)

What am I doing wrong here?

[2019-12-03 13:55] bmoscon commented on #183
There is nothing obviously wrong with your example. I can try and reproduce it. If you don't write to influx, but instead log the updates to the console, do you get any book updates?

[2019-12-03 16:51] arrrbeee commented on #183
@bmoscon I think it has something to do with passing a list as a param.

See the below minimally-viable example:

[code]

The line that doesn't run is this one: `f.add_feed(Bittrex(config={L2_BOOK: bittrex_pairs}, callbacks={L2_BOOK: BookCallback(book)}))`, but if you set `L2_BOOK: ['ETH-USD']` (basically any 1-element list), everything works as it should.

Is this a bug or by-design? :)

[2019-12-04 12:01] proskurin opened #184 "Open Interest info"
OKEx API has open interest channel availabe. Can I use cryptofeed to get that?

[2019-12-09 00:03] bmoscon commented on #183
I should work with a list of pairs, let me take a look

[2019-12-12 14:55] JoshColeen opened #186 "Cryptofeed not working on mac."

[2019-12-12 23:59] bmoscon commented on #186
@JoshColeen would love to fix this, but theres no actionable information here. I develop on a mac, so I know it works on a mac. Provide a traceback, more info, etc

[2019-12-14 09:52] JoshColeen commented on #186
I've executed following code on mac

from cryptofeed.callback import  BookCallback
from cryptofeed import FeedHandler

from cryptofeed.exchanges import Bitmex
from cryptofeed.defines import  L2_BOOK, BID, ASK
import os, curses
rows=5
async def bitmex_book(feed, pair, book, timestamp):
    # Need flip the dict, but last element is first
    Max_book=len(book[BID])-1
    fmt2="{:11.2f}"
    stdscr =

[2019-12-14 17:39] sattusse opened #189 "add the ability to stop the feedhandler eventloop."
As it's described in the topic, i think it would be a nice feature to bed added (and quite basic).
Just a basic stop function pretty much.

[2019-12-14 19:35] bmoscon commented on #189
all you'd need to do anywhere in the code is

[code]

I don't think a function or method is needed to do this, plus messing with the eventloop should only be done in very special circumstances

[2019-12-14 19:35] #189 closed

[2019-12-14 19:37] bmoscon commented on #186
that looks like an issue with your environment. I'd recommend using conda or another virtual environment manager to install python.

For this specific issue see:
https://stackoverflow.com/questions/52805115/certificate-verify-failed-unable-to-get-local-issuer-certificate

[2019-12-14 19:37] #186 closed

[2019-12-14 19:47] bmoscon commented on #183
I tested your first example (with the list of pairs) and it works for me - I got the following output on Linux with Python3.7

[code]
etc

[2019-12-14 19:48] bmoscon commented on #183
Can you confirm you're using the latest version (i.e. running whats in master, not in pypi)?

[2019-12-15 12:32] JoshColeen commented on #186
I've solved my problem. Thanks very much.

[2019-12-17 00:01] bmoscon commented on #184
yes but its not currently implemented, so it would need to be added

[2019-12-30 21:48] arrrbeee commented on #183
Updated to latest `master`, then ran `python setup.py install` and now I get the following error (in Windows):

[code]

Is there something wrong w/ my `asyncio`? Similar error: https://stackoverflow.com/questions/46827007/runtimeerror-this-event-loop-is-already-running-in-python

[2019-12-31 00:44] bmoscon commented on #183
@arrrbeee technically windows isnt supported. So could be a windows thing, or could be a python version thing (python 3.7+ only) or could be an error with the way you're using the library, can't tell without more information .

[2019-12-31 00:44] #183 closed

[2019-12-31 00:45] bmoscon commented on #183
@arrrbeee also when i tested bittrex myself it worked as expected, so please re-open if you have the same issue with the latest code from master on github

[2020-01-04 09:19] zhenpingfeng opened #192 "RabbitMQ backend Book data Missing 'feed' and 'pair' ?"
[*] Waiting for messages. To exit press CTRL+C
 [x] Received 'book {"timestamp": 1578128992.819561, "delta": false, "bid": {"7336.3": 0.28, "7333.9": 0.03936515}, "ask": {"7336.4": 4.870119, "7336.5": 0.04}}'
 [x] Received 'book {"timestamp": 1578128993.3211892, "delta": false, "bid": {"133.3": 1.462, "133.29": 0.131}, "ask": {"133.32": 2.58, "133.33": 2.43}}'
 [x] Received 'trades {"feed": "KRAKE

[2020-01-04 09:36] zhenpingfeng commented on #192
https://github.com/bmoscon/cryptofeed/pull/193
I submitted a pull request

[2020-01-05 08:35] heartcored98 opened #194 "Adding authentication token into header option for InfluxDB 2.0"
Since InfluxDB 2.0 requires token string within their request header,

It would be great to pass the authentication token argument to the InfluxDB backend!

[2020-01-05 16:23] heartcored98 commented on #194
I made a pull request #195 which solve this issue. Please take a look!

[2020-01-06 01:17] bmoscon commented on #192
@zhenpingfeng I see what you're saying now. It's definitely not something I want to add to the data for all backends, because book data is very high volume and thats a lot of repetition in the data, but most other backends get the data some other way (i.e. for redis its part of the key to the data). I'm conflicted on this because it does seem like something we'd need to add, so let me investigate

[2020-01-06 01:18] bmoscon commented on #192
The two things I want to look into are:
* is there some other reasonable way to convey this data (i.e. make it part of the q name)
* what affect will adding this have to cryptostore (i.e. how many changes, if any, will need to be made to that code base).

[2020-01-08 16:37] heartcored98 opened #196 "Non-periodic connection error of orderbook deltas with Binance due to websocket error"
I am logging the Binance L2 order book delta data into the influxDB with `ETH-USDT` and `BTC-USDT` pairs.

However, I observed that data incoming is unstable and caused missing data time interval.

The screenshot is the capture of the InfluxDB data explorer(x-axis is time and y-axis is amount of the delta). Purple dots are for BTC-USDT and Cyan dots are for ETH-USDT.

As we can see, data incoming

[2020-01-09 00:03] bmoscon commented on #196
it looks like the first exception was:

aiohttp.client_exceptions.ClientResponseError: 400, message='Bad Request', url=URL('https://us-west-2-1.aws.cloud2.influxdata.com/api/v2/write?org=myorg&bucket=coindb&precision=ns')

which caused all the reconnects.

[2020-01-11 00:49] bmoscon commented on #162
fixed

[2020-01-11 00:49] #162 closed

[2020-01-11 00:50] bmoscon commented on #61
fixed

[2020-01-11 00:50] #61 closed

[2020-01-11 00:55] bmoscon commented on #184
@proskurin I had a look at their websocket docs again - I'm not seeing this. Where are you seeing information about this channel? I looked in the other channels (ticker, etc) and do not see open interest in any of them

[2020-01-11 01:53] bmoscon commented on #192
@zhenpingfeng i added the data to the messages, so should be all set now

[2020-01-11 01:53] #192 closed

[2020-01-11 01:57] bmoscon commented on #196
@heartcored98 unless you have something else to add here I don't think this is a bug/issue with cryptofeed. If its gets a 400 back when the write is attempted, thats going to cause issues.

[2020-01-11 02:00] heartcored98 commented on #196
I think the 400 error is caused by high-rate orderbook delta write request with binance because I used demo code which does not adopt any batch writing. I think I should use cryptostore.

Anyway, I also agree that this is not the cryptofeed issue!

[2020-01-11 02:00] #196 closed

[2020-01-11 10:14] Jufik opened #197 "Inconsistent Kraken Pairs"
Looking at data from [pair endpoint](https://api.kraken.com/0/public/AssetPairs) and [this doc' ](https://support.kraken.com/hc/en-us/articles/360001185506-How-to-interpret-asset-codes)

For instance, looking at "XBT" available pairs, `cryptofeed.pairs.kraken_pairs` should return:

- BTC-USDC (XBTUSDC)
- BTC-USDT (XBTUSDT)
- BTC-USD (XXBTZUSD)

Now, I do not really get what ".d" (eg XXBTZUSD.d) is

[2020-01-11 14:01] bmoscon commented on #197
https://blog.kraken.com/post/259/introducing-the-kraken-dark-pool/

the .d pairs could just as easily be ignored, which would probably be easier to make sense of since the darkpool orders are hidden from the rest of the market.

[2020-01-11 14:01] bmoscon commented on #197
i've committed a fix for this, so closing

[2020-01-11 14:01] #197 closed

[2020-01-13 09:57] proskurin commented on #184
@bmoscon, it is here https://www.okex.com/docs/en/#ws_swap-ticker in **response examples**

[2020-01-18 19:35] bmoscon commented on #184
added in latest release.

[2020-01-18 19:35] #184 closed

[2020-02-02 11:36] zhenpingfeng opened #198 "OKEX FUTURES ticker channel KeyError: 'open_interest'"
cryptofeed version: master branch
when i run demo_okex_futures.py, will got
[code]

[2020-02-02 12:34] zhenpingfeng commented on #198
https://github.com/bmoscon/cryptofeed/blob/a4ab7c6f7ec06ffea59f56ab1c8beff52a95eb4a/cryptofeed/exchange/okcoin.py#L64-L69

https://github.com/bmoscon/cryptofeed/blob/a4ab7c6f7ec06ffea59f56ab1c8beff52a95eb4a/cryptofeed/feed.py#L48-L54

It looks like the feed doesn't have the open_interest key.

[2020-02-02 18:27] bmoscon commented on #198
yep. I have a fix for it already, but its part of a larger refactor. Should have it pushed later today

[2020-02-02 23:47] bmoscon commented on #198
fixed

[2020-02-02 23:47] #198 closed

[2020-02-05 00:02] AnnimouseCryptoUser commented on #111
Bump, a metadata table would like this would be very useful for the purposes of order execution (respecting exchange min tick size, min $ notional, etc.)

[2020-02-05 00:06] AnnimouseCryptoUser opened #199 "Add liquidation data for OKEX"
Bitmex + Okex have public endpoints

[2020-02-05 00:08] AnnimouseCryptoUser opened #200 "Add funding for Huobi"
The addition of capturing FTX, Huobi, and Okex funding rates would be great and functional in cryptostore

[2020-02-05 09:35] xiandong79 commented on #199
@AnnimouseCryptoUser it would be great if you add some links / docs for these liquidation data

[2020-02-06 13:31] joelrich opened #201 "Json parse issue with Coinbene"
Latest code from Github

Error:
[code]

With the following cryptostore config:
[code]

The problematic string being:
`b'{"code":"429,"msg":"Please use V2,V1 is not maintained and will be offline soon. "}'`

Which is at least a little bit sad... (notice the " in front of 429)

[2020-02-06 14:40] twmeggs opened #202 "Key error with Bitmex L2 book data"
On latest code as delivered by `pip install --upgrade cryptofeed`

[code]
Initially ran under cryptostore, which reconnected the number of times that I had specified and then ceased trying, which is the expected behaviour.  When running directly in cryptofeed, the above error is returned.

On cryptostore under:
[code]

[2020-02-06 14:41] vdbelt commented on #201
Taking a quick glance at the V2 API, it seems to be of poor quality (only 50 most recent trades, no trade ids, 1s time granularity etc). At least for trades, it will make it difficult to not miss anything and to filter out duplicates.

Looking at the [books](https://www.coinbene.com/spot/exchange/BTC_USDT), it seems most volume is fake (printing mid book trades, equal volume levels, transaction mi

[2020-02-06 14:54] vdbelt commented on #202
I think this was already fixed by @bmoscon in https://github.com/bmoscon/cryptofeed/commit/4c48ba43e905f4b6382990664f574c6d435635e5.

You could run the latest master version to verify, or wait for the next release.

[2020-02-06 15:11] twmeggs commented on #202
Thanks @vdbelt

@bmoscon apologies if a dupe.  I did search for issues (open and closed) that related to Bitmex and errors like this, but I missed `4c48ba4`.

[2020-02-06 15:32] joelrich commented on #201
I have just tested all exchanges. I don't use Coinbene, so I don't mind if it's getting removed.

[2020-02-06 19:13] joelrich opened #203 "bid/ask can be None => TypeError: conversion from NoneType to Decimal is not supported"
Code:
[code]
Error:
[code]
This fails when bid/ask is None, which can be the case when an order book side is empty.
In this case, the message was (notice `'data': {'bid': None`):
[code]
I haven't tested it yet, but the same will likely also happen with Deribit options.

[2020-02-06 22:16] bmoscon commented on #202
yes, this has been fixed, but not release to pypi yet. Please use the version in github until release

[2020-02-06 22:16] #202 closed

[2020-02-06 22:27] #203 closed

[2020-02-06 22:35] bmoscon commented on #194
merged

[2020-02-06 22:35] #194 closed

[2020-02-07 08:06] joelrich opened #204 "Deribit options lead to funding-related error"
Latest code
Error:
[code]
Message:
[code]
Cryptostore configuration (notice that funding is not even enabled):
[code]

[2020-02-07 08:08] joelrich commented on #203
Thanks. You were right regarding Deribit: `'best_bid_price': Decimal('0.0'), 'best_bid_amount': Decimal('0.0')`

[2020-02-07 23:41] #204 closed

[2020-02-08 12:38] joelrich opened #206 "Huobi & Huobi DM order book error if max_depth not specified"
Error:
[code]
Example configuration:
[code]
Works just fine when max_depth is added.

[2020-02-08 14:27] joelrich opened #207 "Optional bid/ask (FTX) price leads to issue in backend"
The fix https://github.com/bmoscon/cryptofeed/issues/203 for FTX leads to issues in the backend:
[code]

[2020-02-08 15:21] bmoscon commented on #207
fixed

[2020-02-08 15:21] #207 closed

[2020-02-09 16:15] quazzuk opened #208 "Add receive timestamp"
Hi

Would it be possible to add a config option so that all ticks are timestamped on arrival or perhaps there is an alternative method for joining different feeds (posthoc) in order of arrival?

Thanks
A

[2020-02-09 17:53] bmoscon commented on #206
fixed. Huobi is the only exchange supported that doesn't do deltas, so have to manually calculate them

[2020-02-09 17:53] #206 closed

[2020-02-09 17:54] bmoscon commented on #208
@quazzuk so to be clear - you want the exchange timestamp and the receipt timestamp from cryptofeed? This data is already recorded, just not always reported.

[2020-02-09 23:11] quazzuk commented on #208
@bmoscon - correct. I would like to be able to reassemble a feed for a given pair, across different exchanges, in order of arrival at my machine.

[2020-02-10 03:12] bonald opened #209 "FTX historical trades"
Would it be possible to get historical trades from FTX using their rest api ?

https://ftx.com/api/futures/btc-perp/trades?start_time=1549766977&end_time=1559766977

[2020-02-10 03:28] bonald commented on #199
wss://www.bitmex.com/realtime?subscribe=liquidation

[2020-02-11 14:25] joelrich commented on #206
I get now the following error:
[code]
Which disappears when setting max_depth.

[2020-02-11 23:54] bmoscon commented on #206
Are you using the latest version on github?

[2020-02-12 00:06] bmoscon commented on #201
@vdbelt I'm fine removing it, the data isnt that good, the main reason its there is to illustrate how a REST only exchange can be supported. I'll probably remove it from the list (i.e. readme) but leave the code in case someone wants to use it as an example

[2020-02-12 00:06] #201 closed

[2020-02-12 00:15] bmoscon commented on #111
@AnnimouseCryptoUser its on my list of to-dos, just low priority. Want to get to it this month though

[2020-02-12 12:15] joelrich opened #210 "max_depth leads to high CPU usage"
With the following configuration, the CPU usage is around 30%:
[code]
With the following configuration, it is around 95%:
[code]

[2020-02-12 12:24] joelrich commented on #206
Thank you!

[2020-02-12 13:13] bmoscon commented on #210
yep, thats going to happen. not a bug. If you use max depth it should be something like 10, 20, 50, etc. because it has to otherwise walk the whole book comparing previous and current book to create a new set of deltas (and thus is slow). If your max depth is in the 1000s you may as well just collect all the data

[2020-02-12 13:13] #210 closed

[2020-02-12 13:42] joelrich commented on #210
The effect is already significant with max_depth=50. I think it could be done with almost no overhead. Instead of calculating the difference of the two order books first, you could just check for every updated entry if it falls within the reported range. I will not use max_depth anymore since Huobi works just fine now.

[2020-02-13 00:01] bmoscon commented on #210
Personally I dont think anyone should have a real need to use it. The deep levels of a book change infrequently anyways, so if you're collecting deltas you really shouldn't need it.

Also, thats mostly what it is doing, see the code here:

https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/util/book.py

but you have to remember for a feed like bitmex on XBTUSD you're getting 100s if not

[2020-02-16 09:07] joelrich opened #211 "OKEX reconnect when order book entry to be deleted is misssing"
I have seen this quite often and am wondering if it wouldn't be better to just stay connected in this case?

[code]

[2020-02-16 11:49] bmoscon commented on #211
I'll change the feed to tick-by-tick instead of the depth it currently it. TBT is real time changes where as the normal depth feed is batched changes. Let's see if this helps the issue

[2020-02-17 00:32] aysuio opened #212 "CustomAggregate doesn't reset the data dict"
Currently, the CustomAggregate class doesn't reset the data dict for every window, because self.init doesn't return data to overwrite the last self.data

Below is the code that may work

demo_custom_agg.py
[code]

In aggregate.CustomAggregate
[code]

[2020-02-21 00:54] bmoscon commented on #212
i fixed the example - thanks for raising this issue!

[2020-02-21 00:54] #212 closed

[2020-02-22 21:19] AlgoTrader5 opened #213 "Feature request - Fixed Quantity Feed"
A useful feature where the user specifies the quantity to take in an orderbook and callback returns the average price paid for that lot size. For example if the offers in the order book for BTC-USD was the following:

Price      | size
11,000   | 1
10,500   | 1
10,000   | 1

If the user specified quantity 3, the callback would return 10,500.

[2020-02-23 21:39] bmoscon commented on #213
@AlgoTrader5 you can do this with the aggregation callbacks. I can provide an example eventually, but for now see:

https://github.com/bmoscon/cryptofeed/blob/master/examples/demo_custom_agg.py

[2020-02-23 23:32] bmoscon commented on #211
I've pushed a change to handle the tick by tick data feed, let me know if this works better for you @joelrich

[2020-02-26 14:06] joelrich commented on #211
I think OKEx is good now. However, I have noticed that other exchanges have the same problem, which makes me wonder if it would make sense to not throw an error if an entry to delete is missing. What do you think?

[2020-02-27 09:32] xiandong79 commented on #208
Yes,

the interval between "exchange timestamp" (if we have) and "receive  timestamp on local machine"
is valuable for design stratgies.

[2020-02-27 09:35] xiandong79 commented on #208
both for cryptofeed and cryptostore

[2020-02-29 00:33] bmoscon commented on #208
I'm in the process of implementing this. Its not hard to add - I was already saving the timestamp but every single callback, backend, example and exchange piece of code needs to change, so probably like 80% of the files are changing. It wont be a lot of changes per file, but a lot of re-testing. I've done 2 of the exchanges so far, you can follow the progress on the timestamps branch, or just wait

[2020-02-29 00:47] bmoscon commented on #211
which exchanges @joelrich  ? Some specifically say in the docs to ignore deletes for nonexistent orders, so for those I definitely do.

[2020-02-29 10:33] joelrich commented on #211
Bitfinex is by far the worst. Sometimes, it happens also for Kraken and Kraken Futures. Very rarely for Bitmex, FTX or Deribit (for these I could imagine that some messages went missing).

[2020-02-29 10:37] joelrich commented on #208
In case there is no server timestamp for a certain channel (e.g. for tickers or order books), it would be helpful if you could store the last server timestamp from any other channel of the same connection in a separate field. But maybe this is also overkill.

[2020-03-04 15:49] heartcored98 opened #214 "Feed Request - Upbit (Korean Exchange)"
Hi, I am really enjoying the cryptofeed library.

However, I hope cryptofeed could support Upbit Exchange which is one of the largest exchange in the South Korea.

Here is the API doc [link](https://docs.upbit.com/docs/upbit-quotation-websocket).

However, I am afraid documentation is only written in Korean. So I might implement Upbid feed myself as soon as possible.

[2020-03-05 00:03] bmoscon commented on #214
I'll definitely take a PR. Google translate seemed to translate the document just fine, so I could do it eventually. There is some documentation about adding a feed:

https://github.com/bmoscon/cryptofeed/blob/master/docs/exchange.md

its a little bit out of date, but not too much

[2020-03-07 20:27] bmoscon commented on #208
PR open - pleae review! https://github.com/bmoscon/cryptofeed/pull/216

[2020-03-08 20:53] bmoscon commented on #208
merged

[2020-03-08 20:53] #208 closed

[2020-03-13 03:55] xiandong79 opened #217 "[Feature request] support to record "Market price" or "index" in bitmex"
seems they are terribly out of line when things get funny

[2020-03-13 08:03] xiandong79 commented on #217
[code]

[2020-03-14 22:50] rbdm-qnt commented on #217
How did you get .BXBT through Crytpofeed?

[2020-03-15 03:40] edwardsun opened #219 "support funding for OKEX"
Hi,

Thanks a lot for this nice tool.
I was trying to get funding information from OKEX but it seems the current feed does not support this functionality.
![image](https://user-images.githubusercontent.com/359830/76694746-c9da6880-66b1-11ea-8f4d-97a1331924a8.png)

Would be great to have it.
Thanks!

[2020-03-15 12:42] bmoscon commented on #219
merged

[2020-03-15 12:42] #219 closed

[2020-03-15 13:49] edwardsun commented on #219
Hi,
I pulled the latest version but still encounter this issue.

![image](https://user-images.githubusercontent.com/359830/76702690-32214e00-66a2-11ea-971d-e7642c9ea9d4.png)

[2020-03-15 14:07] vdbelt commented on #219
There is no release tagged yet. Did you install the latest version directly from github?

[2020-03-15 15:26] edwardsun opened #222 "demo.py not working"
Showing lost of error messages like this:

TypeError: trade() missing 1 required positional argument: 'receipt_timestamp'

TypeError: book() missing 1 required positional argument: 'receipt_timestamp'

etc.

[2020-03-15 17:31] edwardsun commented on #219
Hi,
I just pip3 install cryptofeed. As you mentioned, I guess new changes are not in effect yet.
Sorry about the confusion.
Look forward to the update.

Thanks.

[2020-03-16 00:42] cheekybastard commented on #219
@edwardsun

You can use pip to install cryptofeed direct from github, then it will have the latest commits/changes:

`pip install --no-cache-dir https://github.com/bmoscon/cryptofeed/zipball/master`

[2020-03-16 01:07] cheekybastard commented on #222
You likely have the latest pypi package, which doesn't have the latest github commits.

pip install --no-cache-dir https://github.com/bmoscon/cryptofeed/zipball/master

[2020-03-16 04:08] edwardsun commented on #222
Thanks! Solved.

[2020-03-16 04:08] #222 closed

[2020-03-17 22:57] bmoscon commented on #214
this was merged, so closing

[2020-03-17 22:57] #214 closed

[2020-03-21 19:52] bmoscon commented on #200
okcoin/okex already have funding data, FTX doesn't support funding data via websocket. Huboi looks like it does support funding data on its derivates exchange, but it looks like it requires a new websocket endpoint for this data type.

[2020-03-21 22:18] bmoscon commented on #211
I updated the bitfinex code. Kraken already has (and has always had a guard) to check for this, so not sure what you're seeing. Would need to see a traceback. I believe this is fixed, so feel free to re-open or open new ticket if it persists. A traceback is definitely helpful as well.

[2020-03-21 22:18] #211 closed

[2020-03-24 10:26] xiandong79 opened #223 "[ERROR] BYBIT restarting connection wongly"
[code]

clearly, BYBIT receives messages within 120 seconds, so this `restarting connection` is wrong action.

[2020-03-25 00:11] bmoscon commented on #223
each channel is run on a separate feed in cryptostore, so if there are no trades in 120 seconds, and there are no pings/pongs (not all exchanges support this), yes, it could restart. You can disable this functionality or change the timeout threshold. You'd have to modify the code to do this, but I can add it to cryptostore

[2020-03-25 02:18] xiandong79 commented on #223
`trades-BYBIT-BTC-USD: Read 69 messages from Redis`

so, definitely, Cryptostore recived messages from bybit according to this log `trades-BYBIT-BTC-USD: Read 69 messages from Redis`

so, the `WARNING` should not appear.

Does anyone face the same problem?

[2020-03-25 02:46] bmoscon commented on #223
[code]

As I said, every channel gets its own timeout due to how cryptostore sets up the feed handler, so this would trigger a timeout and a reconnect

[2020-03-25 03:34] xiandong79 commented on #223
Thanks for your clear guidance -> "every channel gets its own timeout".

you are awesome!!!

[2020-03-25 10:07] joelrich opened #224 "Poloniex pair_mapping KeyError"
I am seeing lots of errors like the following recently:

[code]
Always with 277 or 278. Do you have an idea what the problem could be?
Right now, it looks like the problem went away after restarting.

[2020-03-25 23:00] bmoscon commented on #223
added support for this in cryptostore, so closing

[2020-03-25 23:00] #223 closed

[2020-03-25 23:11] bmoscon commented on #224
Those two trading pairs were newly listed on poloniex on march 24th:

https://m.poloniex.com/notices

So it started sending data that you couldnt process. I fixed this

[2020-03-25 23:11] #224 closed

[2020-03-28 10:02] caizhiwei opened #225 "[Feature request] support to subscribe to authenticated channels"
Most advanced  exchange provide subscription to authenticated channels, such as [huobi dm](https://docs.bitfinex.com/reference#ws-auth-trades )and and [bitfinex](https://docs.huobigroup.com/docs/dm/v1/en/#subscribe-order-data-sub). I think it's useful for most trader, especially the subscription to private trade update. If you think this should not be a part of this project, is it possible to leav

[2020-03-29 13:18] bmoscon commented on #225
@caizhiwei I'm fine having it as part of it, but as a US resident I can't get an account on the majority of exchanges you'd want support on, so someone else will have to develop and test this (and then open a PR). There are a few I can look into starting with, but it wouldn't be any of those you listed.

[2020-03-29 19:34] caizhiwei commented on #225
Hi, bmoscon. It would be great with your help. I can also help develop these interfaces for some exchanges, but I think maybe it's better and easier after you design and implement one exchange as example.

[2020-03-31 07:22] xiandong79 opened #226 "BYBIT_book is always restarting connection for 3 days."
2020-03-31 07:01:27,898 : WARNING : BYBITf6ea2b9d-5672-4dc4-bb3a-aca554814e7c: received no messages within timeout, restarting connection
2020-03-31 07:03:38,844 : WARNING : BYBITf6ea2b9d-5672-4dc4-bb3a-aca554814e7c: received no messages within timeout, restarting connection
2020-03-31 07:05:49,823 : WARNING : BYBITf6ea2b9d-5672-4dc4-bb3a-aca554814e7c: received no messages within timeout, restarti

[2020-04-01 02:38] cheekybastard commented on #226
FeedHandler class method add_feed has timeout parameter, default is 120 sec. Maybe increasing that might help.

https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/feedhandler.py#L85

[2020-04-01 02:40] xiandong79 commented on #226
It is weird that the BYBIT-BTCUSD has 0 order book data coming in 120 seconds.
@cheekybastard

[2020-04-01 03:03] cheekybastard commented on #226
Maybe check trade data for the timeout periods, if their trade records show activity there an issue somewhere their side or cryptofeed.

https://bybit-exchange.github.io/docs/inverse/#t-publictradingrecords

[2020-04-02 01:14] bmoscon commented on #226
book data should rarely timeout, so there is probably an issue. I'll look into it

[2020-04-02 23:58] rbdm-qnt commented on #217
I'm still not able to get this data through cryptofeed

[2020-04-03 23:59] bmoscon commented on #226
fixed. the exchange api changed, so it wasnt subscribing to the correct topic

[2020-04-03 23:59] #226 closed

[2020-04-05 20:43] rbdm-qnt opened #228 "InfluxDB speed issue"
I know that this problem is NOT a cryptofeed/cryptostore problem, and I can remove post if it's considered too offtopic! I tried asking for this in all the related githubs and forums and have received no answers, so I'm trying here since I expect a lot of people who use cryptofeed to use Influx too, and for the same exact application as me.

I’m querying BitMEX tick data to process it and aggregat

[2020-04-05 20:46] bmoscon commented on #228
that seems slow, but you're not running on dedicated hardware, so I'm not too surprised. Most databases will not run well without something dedicated and in a cluster

[2020-04-05 20:49] rbdm-qnt commented on #228
What would you suggest? I'm considering setting up a dedicated desktop computer just for this task

[2020-04-05 20:50] rbdm-qnt commented on #228
Unfortunately with Influx I think clustering is only available in the Enterprise, paid, version

[2020-04-05 20:50] bmoscon commented on #228
https://docs.influxdata.com/influxdb/v1.7/guides/hardware_sizing/#single-node-or-cluster

https://www.influxdata.com/blog/optimizing-influxdb-performance-for-high-velocity-data/

[2020-04-05 21:03] rbdm-qnt commented on #228
Thank you. Mind leaving this open for a while for other people to chip in too?

[2020-04-06 05:14] cheekybastard commented on #228
2hrs for a query suggests you might have run out of memory & the system is using your hard drive for swap memory.

For big batch queries on 16GB memory box, you might be better off with parquet files for storage and then using dask/pandas for aggregations/etc. Dask can do aggregations on datasets larger then system memory.

With laptop 5400RPM HDD's, if you use parquet files with snappy compressio

[2020-04-06 17:01] rbdm-qnt commented on #228
Incredibly useful reply, thank you! Upon closer inspection, turns out that yes, my Mac is indeed using swap memory. I'm looking into Dask too. Regarding parquet, should I convert my Influx database to parquet by running 1 last query and converting and resaving all the historicals, or is there a more automatic/smarter way? Is there a way to use them to save live data?

[2020-04-06 22:50] vincentmele opened #231 "Change json library to yapic for performance"
I have to say, thank you for making this easy. I dumped raw json data using examples/demo_raw_data.py, and then used it in the test below. The results show yapic is about 1.3x to 2.0x the speed of the standard library for parsing l2_book, ticker, and trades data from 100 MB files from Binance and Deribit feeds.

Based on these results, I am going to proceed with integrating yapic for further stabi

[2020-04-06 23:42] vincentmele commented on #231
Changes made here: https://github.com/vincentmele/cryptofeed/commit/5a26aa67a28cf1a9406cb087d0d932f3f23b45ea

example/demo.py runs successfully without exceptions. For the exchanges that required zlib decompression, it was required to explictly decode the bytestrings to strings before passing them to json.loads().

[2020-04-07 02:33] cheekybastard commented on #228
Influxdb python has a dataframe client for pandas,  pandas dataframe has a to_parquet method to save parquet files. Parquet considers all parquet files in the one folder a dataset, so you don't have to save all the historical data in one query (one file). For out-of-core aggregations with dask, you want 100-200mb per file ideally,  faster parallelized read/query/etc & doesn't use all your spare me

[2020-04-07 10:35] joelrich opened #232 "l2 order book data for some exchanges is inconsistent (ask and bid prices overlap)"
I have written a function to reconstruct order books from recorded order book data and found that it is inconsistent for some exchanges.

This is how I persist the data:
[code]
When I read the data, I perform the following check:
[code]
This check ensures that the snapshot/delta does not contain overlapping prices.
Unfortunately, it fails for some exchanges, e.g. Bitmex. Here is an example:

[code

[2020-04-08 00:22] bmoscon commented on #231
@vincentmele looks good. Feel free to open a PR. It looks like it will soon support native bytestring decoding so you wont need to explicitly do this:

https://github.com/zozzz/yapic.json/issues/2

[2020-04-08 02:12] rbdm-qnt commented on #228
Thank you so so much. Didn't realise cryptostore had native support for parquet! So I imagine I can also run a backfill on parquet files, correct? And what do you mean by out-of-core?

Thank you so much again, you are saving months of my time!! Very informative for any new users I'm sure

[2020-04-08 03:35] cheekybastard commented on #228
I don't use cryptostore, I have my own parquet catalogue/store. I tried it for a week last year, I might be wrong, but I think it backfills initially, but not for any interruptions after that. Using it to save parquet files is a lot more resource efficient than influx bloatware, bmoscon's asyncio code is pretty good.

out-of-core == https://en.wikipedia.org/wiki/External_memory_algorithm

[2020-04-08 10:48] rbdm-qnt commented on #199
This would be fantastic!

[2020-04-08 11:06] rbdm-qnt commented on #228
Yes that is correct, cryptostore backfills only from specified date to the first date you stored in real-time. In another issue that I can't find anymore bmoscon said it's gonna be a major rewrite, but that he's gonna fix this.

I have one last silly question: after I save all the historical data into parquet files, let's say I only want to access tick data from 1/1/2019 to 31/12/2019. Is there a

[2020-04-08 14:53] bonald commented on #228
![Screenshot_20200408-115027](https://user-images.githubusercontent.com/12394874/78798350-413ca880-798f-11ea-9d8c-da21c52a065f.png)

here's a test I did on my end. 1,111,111 rows
execution time is 15.7sec

dedicated Xeon E-1275v6 32gb RAM

[2020-04-08 23:57] rbdm-qnt commented on #228
Interesting! Does this scale correctly? Like 2 minutes and 30 seconds for 11million rows etc? Mine doesn't, small queries go relatively fast (I don't think as fast as yours tho), big queries go slower and slower

[2020-04-09 05:29] bonald commented on #228
do you need every tick data? can you aggregate OHLC with group by time(xx) ? that's much faster.

[2020-04-09 16:27] rbdm-qnt commented on #228
Unfortunately, I'm doing more additional calculus on the data, not just OHLCV, so I do need every tick

[2020-04-09 19:58] rbdm-qnt commented on #228
Today I tested the parquet file saving option from cryptostore, and it's perfect!
I only have 1 question left for @bmoscon
Is the L2 save time interval the right way of controlling the size of the parquet files?
I was thinking of doing this: with Influx I was using 30s save interval in the cryptostore config; so If 30s worth of L2 data in a parquet file weights, let's say, 1mb, and I want my parqu

[2020-04-10 01:41] cheekybastard commented on #228
I suggested that size for your data already archived in influx. Smaller parquet files resulting from  cryptostore saving regularly will not add much of a performance hit, parquet clients multi-thread when reading a dataset(directory).

[2020-04-10 01:45] rbdm-qnt commented on #228
I'm gonna erase my Influx database and re-backfill from scratch anyway, since I had some holes in my March data. So I guess I'll try something in between, like 600s for example. Thank you so much for your input, I wish I could read this thread 3 months ago :)

[2020-04-10 02:49] xiandong79 commented on #228
not sure the `storege_interval` can be customized for each "save_type" or not.

for influxdb, 30 -60seconds is good.
but 30 -60seconds is too short for parquet, which would result to many many small files.
1 hour or 30 mins, imo, is a good solution, a large duration like 12 hours may crash the memory by redis memory size.

[2020-04-10 15:25] rbdm-qnt commented on #228
I don't think so either. I'll just ditch Influx. Thank you for your input!

[2020-04-11 15:40] jawilk commented on #217
You can get the .BXBT stream through the trades feed (obviously pushed every 1 minute):

`f.add_feed(Bitmex(channels=[TRADES], pairs=['.BXBT'], callbacks={TRADES: TradeCallback(trade)}))`

If you want the mark price check the implementation for open_interest. It's the same instrument/ endpoint.

[2020-04-11 18:25] rbdm-qnt commented on #217
I imagine that's the terminal command to modify the config file? I'll try it out, thanks!
I haven't been able to find the open_interest implementation either, would you be so kind to provide a link or a screenshot? Thank you!

[2020-04-11 19:22] jawilk commented on #217
This would be the whole code to print .BXBT stream to the console

[code]

Sorry I was referring to this line [https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/exchange/bitmex.py#L438](url)

In the 2nd post above you can see a lot of information, currently only the 'openInterest' key is used in the code. Adding 'markPrice', 'volume' etc. should be straight forward.

[2020-04-12 16:06] rbdm-qnt commented on #217
Thank you!

[2020-04-12 17:20] bmoscon commented on #199
looks like bitmex has been added now, so just need to add okex

[2020-04-13 06:37] caizhiwei opened #236 "contract code of huobi_dm mapping is not correct after settlement"
Pair name of huobi_dm is mapping to its expire date, and this map is read from api when started but it's changed after settlement in every Friday.
for example:
before 2020-04-10 16:00:
this week  ->  20200410
next week  ->  20200417
after 2020-04-10 16:00:
this week  ->  20200417
next week  ->  20200424
I think this mapping increases unnecessary complexity and should be removed.

[2020-04-13 07:46] xiandong79 commented on #236
yes

[2020-04-13 10:38] joelrich commented on #232
@bmoscon what is your opinion on this issue? Personally, I find it worrisome that there is no guarantee for some weak consistencies (e.g. bid and ask do not overlap). If only a single websocket message is lost for whatever reason, this may affect all snapshots until the process is restarted.

[2020-04-15 00:39] bmoscon commented on #232
Its not something I've ever observed, but it will depend on the exchange most likely. Some have sequence numbers, so those will reconnect if a message is missing. Could be a case where messages are being lost due to queue sizes in websockets, so could up that to see if it improves.

[2020-04-15 00:40] bmoscon commented on #228
@rbdm-qnt there is no way to control the size of the files, cryptostore works with time intervals, not size intervals

[2020-04-15 01:51] rbdm-qnt commented on #228
Thanks moscon, I saw that once I finished my backfill. It's working perfectly now!

[2020-04-15 02:33] xiandong79 commented on #228
@bmoscon can the "storage interval" be customized for each storage type?

[2020-04-15 05:56] xiandong79 commented on #228
@rbdm-qnt do you think this suggestion is useful?

https://github.com/bmoscon/cryptostore/pull/39

[2020-04-15 06:38] joelrich commented on #232
Where is the queue size configured?

Yeah, I agree that this most likely only happens with some exchanges. I will analyze all my data at some point and will then provide a list of the affected exchanges.

Do you think it would be a good idea to check if the asks and bids are overlapping? I would suggest the following: Having a heapq for each order book side for the best prices. Then it is very che

[2020-04-15 23:20] bmoscon commented on #232
@joelrich its a param on connect:

https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/feedhandler.py#L202

the kwarg is `max_queue` and the default is 32.

https://websockets.readthedocs.io/en/stable/api.html

if the bids and asks overlap, the connection should be reset - but it could also be an exchange issue. eg, this was an issue on kraken for a while, but its since been fixed. In gen

[2020-04-15 23:22] bmoscon commented on #236
the same issue would exist with or without the mapping though, right? you'd still need to subscribe to new instruments as time progresses?

[2020-04-16 09:00] joelrich commented on #232
Ah, sorted dicts are even better. I will test the following check for a while:
[code]

[2020-04-16 09:20] joelrich opened #238 "KeyError: 'trades_swap' & KeyError: 'ticker_swap'"
On the latest code. This did work before:

[code]

Code:
[code]
With:
[code]

[2020-04-16 09:50] joelrich commented on #238
@xiandong79 is this related to your change?

[2020-04-16 10:00] joelrich commented on #232
The first finding is that for UPBIT bid and ask are very often the same, e.g.:

[code]

[2020-04-16 10:11] xiandong79 commented on #238
[code]
should change to

[code]

Will test it tonight.

[2020-04-16 10:54] xiandong79 commented on #238
For  OPEN_INTEREST, more dig is needed.

[2020-04-16 11:07] xiandong79 commented on #238
@joelrich for your error, I think you could change the key name in your `callbacks` variable.

[2020-04-16 13:25] rbdm-qnt commented on #228
As far as I know the storage interval can't be customized for each storage type. The suggestion #39 is not ideal for me because my functions already process the OB with the previous syntax, I'd rather not change it, as I'd have to rewrite a lot of lines of code

[2020-04-16 13:29] joelrich commented on #232
Bittrex seems to be affected as well (but happened only once so far):
[code]

[2020-04-17 06:17] joelrich commented on #238
@xiandong79 In my opinion, the best solution would be to get rid of `*_SWAP` and `*_FUTURES` entirely since they are only used for OKEX even tough other exchanges (like for example FTX) also support all instrument types (spot, futures, swaps and even options). Then the symbol/pair itself would determine the type of the instrument. As far as I understand, the feed (TRADE, L2_BOOK, ...) is directly

[2020-04-17 07:24] joelrich commented on #232
And also OKEX:
[code]

[2020-04-17 08:08] caizhiwei commented on #236
No, subscription to this week will change to next week automatically after settlement. If we remove the mapping, we only need to subscribe once and record data permanently and when we need expired day we can calculate it from data update time and contract type.

[2020-04-18 03:44] xiandong79 commented on #238
**`get rid of *_SWAP and *_FUTURES entirely` would be cool, and the system would be easier to use.**

However,

in `/cryptofeed/standards.py` file, the channel has already be designed like below.
so, L2_BOOK, L2_BOOK_SWAP, L2_BOOK_FUTURES are the different channels.

othervise,  a new design is needed, and it is hard to find a better design, IMO.

[code]

[2020-04-19 09:17] joelrich commented on #238
@xiandong79, a relatively simple solution would be to support a different channel per instrument type (if needed):

[code]

In combination with an exchange-specific `getInstrumentType(symbol)`-function. This function could either be implemented with pattern matching or by fetching information from the exchange (usually there is an exchange info or contract info API).

[2020-04-21 00:04] bmoscon commented on #231
merged

[2020-04-21 00:04] #231 closed

[2020-04-21 00:07] bmoscon commented on #238
I'm trying to work out a good solution for removing the _swap and _futures channel types. Nothing has really clicked for me yet. I agree what is there currently is ugly, but no point in replacing ugly with ugly.

[2020-04-21 00:08] bmoscon commented on #232
I'll take a look into Bittrex this week, it could be I'm processing the messages incorrectly or there is some other bug for that exchange. it was a pain to implement because of the way it uses websockets, so let me take a look into that one

[2020-04-21 00:09] bmoscon commented on #236
makes sense. I think you can use the contract name directly though right? You dont have to use the mapping do you?

[2020-04-21 02:02] xiandong79 commented on #238
100% agree with @bmoscon

[2020-04-21 05:23] caizhiwei commented on #236
@bmoscon
It raised the problem when I restarted my program at around 2020-03-22. Before I restarted my program, data from this quarter contract were recorded as 200327, and after I restarted, data from this week were recorded as 200327. Data from different contract were messing up and I couldn't separate them any more because I didn't remember the exact restarted time.

[2020-04-21 05:36] caizhiwei commented on #236
It is easy to map contract type to contract date anytime but it's impossible to make it reversely unless we record the timestamp when we start program. That's why I think it's unnecessary complexity.

[2020-04-21 08:49] joelrich commented on #238
@bmoscon What do you think about my proposal above? Unless you want to get rid of `_feed_to_exchange_map` entirely, I don't think there is a better solution. The `getInstrumentType` would only have to be implemented for exchanges like OKEX which have a dict instead of a single channel (as in my example).

[2020-04-21 08:59] joelrich commented on #232
Cool, thanks! Bitfinex has also issues (but much less frequently):
[code]
Summary so far:
- Upbit is completely broken
- Bittrex has issues very frequently
- Bitfinex has issues infrequently
- Bitmex hasn't happened yet since I added the exception, but I know that there were issues in the past

[2020-04-22 18:30] vincentmele commented on #165
I've solved a similar problem using cron to run a script that rebuilds the config.yaml file of a running cryptostore instance. Cryptostore then automatically picks up the new config.

[2020-04-23 09:44] joelrich commented on #232
Bitstamp & OKEx:
[code]

[2020-04-25 00:07] bmoscon commented on #232
if you open a PR we can get this code in and at least have it reset books when they are bad. I can also do some testing to see if increasing the queue size will help. For individual exchanges I can look into any sequence numbers they provide (if any).

[2020-04-25 00:09] bmoscon commented on #238
@joelrich how do you know which key to access in the sub-dict? for most exchanges, you just look up the channel, eg L2_BOOK, and then the exchange, to get the mapping for the subscription. How do you know which one to use here, is it based on the symbol?

[2020-04-25 09:13] joelrich commented on #232
Here you go: https://github.com/bmoscon/cryptofeed/pull/240
For most exchanges, I do not expect that you can do anything else. One improvement would be to not reconnect, but only to re-initialize the orderbook (e.g. unsubscribe and then subscribe again --> new snapshot).

[2020-04-25 09:27] joelrich commented on #238
Yes, I would do this based on the symbol. Example for OKEx:

[code]

Which leads to the following regexes:

[code]

To make sure that the regexes are correct, you can just fetch all instruments from the different instrument APIs (e.g. https://www.okex.com/api/futures/v3/instruments) and make sure that the only the correct pattern matches.

The alternative would be to fetch the instrument APIs for

[2020-04-25 14:48] vdbelt commented on #232
In addition, some exchanges provide checksums/signatures for entire books. Im not sure what the resource costs of implementing such a verification check would be on every book update though. Perhaps we could make it a configuration option (on feed level?) as to what level of integrity is expected.

[2020-04-25 15:58] joelrich commented on #232
Personally, I think that's overkill. I would find a fast re-initialize (with subscribe & unsubscribe) more valuable. Then it could simply re-initialize every book every hour or so.

[2020-05-10 09:54] pavs94 opened #243 "[Feature request] Grouping for Orderbooks"
Request to add feature to group orderbooks similar to the exchanges like Bitmex, Binance, etc.

[2020-05-10 12:28] bmoscon commented on #243
@pavs94 going to need more information than that. "grouping for orderbooks" doesnt mean anything to me, so please elaborate.

[2020-05-10 13:39] pavs94 commented on #243
![image](https://user-images.githubusercontent.com/10599184/81500697-86872980-92f1-11ea-9cf4-e617990d7980.png)
![Screenshot 2020-05-10 at 7 08 00 PM](https://user-images.githubusercontent.com/10599184/81500708-97379f80-92f1-11ea-853a-716f1fe57753.png)

Please check attached screenshots from bitmex and binance futures. The grouping features in not available on the websocket or APIs of Bitmex by def

[2020-05-11 06:05] cheekybastard commented on #243
@pavs94 You can use pandas library for summary stats like that,  with cryptofeed CustomAggregate.

https://github.com/bmoscon/cryptofeed/blob/master/examples/demo_custom_agg.py

Rough 1st draft example pandas code on 1,000 rows of test data takes about 30ms on an old i7 cpu. Using pandas cut (segments values into bins) inside groupby aggregations. Maybe casting decimal/float to int when constructi

[2020-05-17 07:01] AlgoTrader5 opened #244 "Add New Exchange - FTX US"
FTX US is in beta with limited instruments. API may already be similar to original FTX.

[2020-06-07 12:55] Jay54520 commented on #232
I think this is a more rigorous solution. And is easy to achieve -- you just need to imitate the implementations on the exchanges' public library, such as [sequence number of  Huobi](https://github.com/HuobiRDCenter/huobi_Python/blob/7c26d1a2192adad5762b21ce071756174b1438e7/huobi/demo_service/mbp/mbp_data_process.py#L191)
[code]

or [checksum of FTX](https://github.com/ftexchange/ftx/blob/356f0747

[2020-06-07 19:12] brizzbane opened #245 "How to get Kibana to recognize timestamp? - demo_elastic.py"
Using the demo in the examples, Kibana does not recognize the time field as a timestamp.  Do I need to change how it is indexed?  Or do I need to create mappings before starting the demo_elastic.py?

Any help or direction would be much appreciated!

(This is an amazing project btw!)

Thank you!

[2020-06-07 19:24] bmoscon commented on #245
I've never used kibana, so I couldn't say. I'm also not a big elasticsearch user either, so its definitely possible that the timestamp field needs to be tweaked. If you let me know what kibana expects and what you're seeing in elastic, I can take a look. Also - what version of elastic are you using? 7.X ?

[2020-06-07 20:05] brizzbane commented on #245
Yea...using latest version of Elasticsearch.  Kibana just sees it as a number.  I'm not sure why it doesn't recognize as timestamp.  I'm not super familiar with Elasticsearch...I've used it years ago, and really liked the Kibana interface to explore and represent the data..

I thought you might know right off the bat what the issue was :\.

I do know from past experience--the actual python datetim

[2020-06-08 01:01] brizzbane commented on #245
Yea...I tried creating a template in Kibana before index started receiving data, but once script starts running, it gives an error saying:

don't know enough to know where to go next..

[2020-06-08 01:28] brizzbane commented on #245
May have made some progress!  I got 'book' to work using index template.  So maybe that is what needs to be done to have timestamps recognized as timestamps?  I don't know..  It seems to be working though.

[2020-06-08 15:24] bmoscon commented on #245
@brizzbane i'm going to create a branch with a change to return the timestamps in timestamp format. Can you test that branch out with kibana?

[2020-06-08 20:50] brizzbane commented on #245
Sure

[2020-06-09 00:24] bmoscon commented on #245
I'll ping you here when I have the branch ready. Crypotfeed is just a library - you have to write the code to use it in an application. Cryptostore is an application that uses cryptofeed. Its a data collection application. You supply a config indicating what you want to store and where, and it does the rest

[2020-06-09 23:30] bmoscon commented on #244
added - thanks!

[2020-06-09 23:30] #244 closed

[2020-06-12 16:46] Quenos commented on #200
You're right that funding is not supported via websocket for FTX, but in your intro you write that REST is used when ws is not available ;)

[2020-06-12 16:51] bmoscon commented on #200
Sure anything can be supported - feel free to open a PR

[2020-06-15 12:22] PyPatel commented on #225
I have been trying this on different exchanges using **Websockets** but I am facing this issue. I feel working on authentication for websockets is tougher than with websocket (also author of Websockets does not support use of package for cryptocurrencies for environmental reasons)

https://github.com/aaugustin/websockets/issues/775

If @bmoscon or any one else can help me with this, I can port who

[2020-06-16 12:35] bmoscon commented on #245
@brizzbane ok, the branch is named "datetime". The elastic search documentation indicates that elastic will natively store timestamps in ms since epoch, cryptofeed was returning sec since epoch, so I think this might fix it. let me know

[2020-06-16 21:16] DennyZen commented on #15
@bmoscon let me ask one more question about multithreading..

[2020-06-16 21:31] DennyZen commented on #15
@bmoscon let me ask one more question about multithreading..
I am using cryptofeed in trading robot. count orderbook volumes  in needed way every 0.2 second.
BitMex is a huge market.  It can be hundreds updates in a second in overload periods ..
Can it be that cryptofeed can't handle to process updates during that periods and they disappear?
I saw Some projects they put all updates in a queue and

[2020-06-16 23:12] bmoscon commented on #15
if you only need order books every .2 seconds, you can use the Throttle class in backends to wrap the book callback, it will throttle the data and deliver updates on that interval.

Bitmex is pretty large but I haven't had issues with a data overload - it all depends on how fast to release the callback. You can also tweak the message queue size that websockets uses as well if you're losing data

[2020-06-17 00:28] brizzbane commented on #245
Deleted all indexes and index patterns that I had in Elasticsearch, and Kibana.  did git checkout datetime, and ran demo_elastic.py.

When going to create index pattern for Kibana, it still said:

Tried it for all indexes created by the demo_elastic.py: book, funding, trades

Proceeding with creating the index pattern timestamp, and receipt_timestamp show up as 'number'.

Let me know if there is a

[2020-06-17 13:48] DennyZen commented on #15
thanks, i will try

[2020-06-17 14:04] bmoscon commented on #245
ok, let me try sending the timestamps as a string and see if that does the trick or not

[2020-06-17 15:19] bmoscon commented on #245
@brizzbane - ok - branch updated. Let me know if this does the trick!

[2020-06-17 21:58] brizzbane commented on #245
I actually tried string before creating this ticket... but I'll give it another go.

[2020-06-17 22:11] brizzbane commented on #245
Seems to be working!

The timestamps though, I'm wondering why they are what they are.  Right now it is showing 14:09.  Local time is 6:10.  UTC would be 22:00?

Thanks for fixing this.  I was kind of surprised that ended up working.

[2020-06-17 22:28] bmoscon commented on #245
Seems like it didnt work. What was the data type? Something realtime like trades or book should have a correct/current timestamp. Other things like funding may be weird times as they come from the exchanges. Was the receipt timestamp incorrect as well? Only thing i can think of is that its not recognizing the timestamp as utc and applying some timezone to it. I'm going to try one tweak to see if i

[2020-06-17 22:31] bmoscon commented on #245
I updated the branch @brizzbane

[2020-06-17 22:50] brizzbane commented on #245
You said 'Seems like it didn't work'..  ..What do you mean?

It is indexing the correct time.  What is weird is in Kibana I can set to 'UTC'--and it does show the correct indexing time, but then 'last 15 minutes' doesn't work. ...So I think Kibana not showing correct times is a Kibana issue.  I'll debug and try and figure it out.

What changes did you make?  Sorry if you misunderstood what I said-

[2020-06-17 23:30] brizzbane commented on #245
Ugh.  Really frustrating.. have no idea why Kibana wouldn't just have a setting to not mess w/time of documents indexed.

[2020-06-17 23:59] brizzbane commented on #245
Wondering if maybe this is what is going on?  From https://discuss.elastic.co/t/kibana-show-wrong-time-compared-to-the-time-value-indexed-in-elasticsearch/43992/3:

[2020-06-18 00:40] brizzbane commented on #245
@bmoscon
Think I found a solution.  I've tested, and it seems to be working.  I'm not sure what would be the 'best' coding practices to implement, but let me know what you think?

from:
https://www.artificialworlds.net/blog/2017/06/09/python-printing-utc-dates-in-iso8601-format-with-time-zone/

[code]

This has Kibana working correctly, and previous post that I made suggesting that this might be t

[2020-06-18 21:27] bmoscon commented on #245
@brizzbane that was the last change I made, did you re-test with that change, because I already made it:

https://github.com/bmoscon/cryptofeed/commit/b06af688802fbccb2cb93ecdf66c92295f0ee2be

[2020-06-19 01:51] brizzbane commented on #245
Yea I re-tested... it does not include timezone though--which is why I had issues with it being a few hours off.

I don't see tz=tzinfo in the changes?...

[2020-06-19 13:41] bmoscon commented on #245
ah I see - I added that to the branch, please try again. Also, does the timestamp come out correct in elastic? Does it recognize the field as a timestamp or does it think its a string? @brizzbane

[2020-06-19 16:36] brizzbane commented on #245
Yep it is working.  Timestamp (and receipt_timestamp) are both of type 'date'.

Thank you for figuring this out!

[2020-06-19 17:08] bmoscon commented on #245
merged to master, closing this. thanks for the help!

[2020-06-19 17:08] #245 closed

[2020-06-19 18:00] bmoscon commented on #200
FTX funding now supported!

[2020-06-20 21:53] brizzbane opened #252 "Can you add additional liquidation feed?"
Looking at standards.py, it looks like Bitmex is the only liquidation feed?

[code]

There is another project that I've been watching (that is also pretty awesome IMHO), [SignificantTrades](https://github.com/Tucsky/SignificantTrades)..  I'm particularly interested in Binance (in this case Binance Futures) at this time, because that is where I have funds.  So...I guess that is why I am aware of th

[2020-06-21 19:25] bmoscon commented on #252
yes, it would be pretty easy to add, but currently liquidations are not supported on the backends, so it would have to be added there (thats the large task). I can do it in the next week or so

[2020-06-25 20:04] yohplala opened #254 "Understanding content of order and trade"
Hello,
I have rather general questions, but I think others can have the same, so I write this in a ticket instead of using slack.
Order and trade structures are defined in
https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/defines.py

Order has most notably these fields:
[code]
Please, can you confirm 'pending' is only for limit orders?

Also, assuming there is one market order, bigger t

[2020-06-25 20:27] bmoscon commented on #254
those are exchange specific, so its going to depend on the exchange

[2020-06-25 20:30] yohplala commented on #254
ok, let's take Binance as example?
May I find an example somewhere of how a market order would be translated into `order` and `trade`?
Thanks for your help!

[2020-06-25 20:39] yohplala opened #255 "KeyError: 'channel_timeouts'"
Hi,
I installed Cryptostore along with Redis.

I used following configuration file:

[code]

I get no data and following error message. Any idea what could be wrong?

[code]

[2020-06-25 20:42] bmoscon commented on #254
Docs are here https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#account-endpoints

As a us citizen I can't trade on the exchange so I have no way of testing it out myself to verify

[2020-06-25 20:46] bmoscon commented on #255
what version of cryptostore?

[2020-06-25 20:51] yohplala commented on #255
Thanks for your reactivity Bryan.
I saw that there is no command to show cryptostore version.
I typed then pip3 install --upgrade cryptostore, and here is the output:
[code]

[2020-06-25 20:54] yohplala commented on #254
Thanks a lot for your help Bryan, I appreciate.
I could see that for a market order, the 'fill' is split in different price levels. Thanks!

[code]

[2020-06-25 20:55] #254 closed

[2020-06-25 23:14] bmoscon commented on #255
Can you update to the latest source in github and try again? It works for me with the code in github

[2020-06-26 05:55] yohplala commented on #255
Hello Bryan,

First sorry for issuing the issue in the wrong repo. I was speaking about Cryptostore. Sorry for that.

Second, yes, you are right, this did the trick. I updated from git with following command:

`pip3 install git+git://github.com/bmoscon/cryptostore --upgrade`

And no more error related to this trouble!
Thanks a lot!

[2020-06-26 05:55] #255 closed

[2020-06-26 09:26] joelrich opened #256 "Kraken order book updates broken: not enough values to unpack (expected at least 2, got 1)"
Error:
[code]

They seem to have changed the messages. E.g.:
[code]
`c` is then interpreted as `ASK` instead of being ignored.

[2020-06-26 09:45] joelrich opened #257 "HuobiSwap fails to initialize"
Latest code. Error:
[code]

Reason is that `HUOBI_SWAP` is missing in `_exchange_function_map`. Also, at least in my opinion, it's wrong to include the swap symbols in `huobi_dm_pairs`. They should be separated since there are two separate exchange classes.

@caizhiwei, will you take care of this?

[2020-06-26 10:43] yohplala commented on #232
Hello, it will not bring much, but error can be on the exchange itself.

It is a personal experience: I have been contributing 'manual market making' with a team of several people for a while on IDEX for a given pair.
Each one of us had some limit buy orders positioned in IDEX orderbook at same price level.
One day, we noticed, trades had been filled at price distinctly lower than that of our orde

[2020-06-27 16:28] yohplala commented on #232
Hello,
One question that may lead to a feature request, maybe be to be addressed into Cryptostore, instead of Cryptofeed.
Is there a tool to visualize in 'real time' data flowing through redis of kafka?
A 'simple' tool showing in a table data, most notably for trades and order books would help to compare with trades and order books from the exchanges.
In addition of being visible in the exchanges

[2020-06-30 02:04] pyrex41 commented on #256
Fix suggested in #258

[2020-06-30 22:47] bmoscon commented on #256
fixed

[2020-06-30 22:47] #256 closed

[2020-06-30 22:48] bmoscon commented on #232
looks like kraken now has checksums as well, so that could be used to validate

[2020-07-14 10:47] rbdm-qnt opened #260 "Huge latency on trade data"
I'm getting BitMEX trade and OB data, and I have a few questions about latencies:

1) When getting trade data I usually have about 0.3ms latency between timestamp and receipt_timestamp, and that's ok. However, if I measure the latency from the receipt timestamp to now using time() I always get latencies between 200 and 1200ms. My ping to BitMEX is 28ms. If I measure the same thing on OB data, the

[2020-07-16 18:08] briancp37 opened #261 "FTX funding Key Error"
Running the example code below, I get a Key error.
async def funding(**kwargs):
    print(f"Funding Update for {kwargs['feed']}")
    print(kwargs)

def main():
    f = FeedHandler()
    f.add_feed(FTX(pairs=['BTC-PERP', 'THETA-PERP'], channels=[FUNDING], callbacks={FUNDING: FundingCallback(funding)}))
    f.run()

if __name__ == '__main__':
    main()

ERROR BELOW
`File "/cryptofeed/standards.py"

[2020-07-17 09:03] xiandong79 commented on #260
For Q2.

IMO, from bitmex.py file, or in detail https://github.com/bmoscon/cryptofeed/blob/4b3ca1bc3a2ed4ffc89dce784d0d866d557696de/cryptofeed/exchange/bitmex.py#L117, we can know that no matter "set the OB delta to true or false", cryptofeed or bitmex.py would re-construct the orderbook.

Fundamentally, this is due to bitmex.py subscribes the  "BITMEX: 'orderBookL2'", according to https://github.

[2020-07-20 00:08] bmoscon commented on #261
Thanks for submitting this issue, I'll take a look at this soon

[2020-07-20 00:09] bmoscon commented on #260
If you are using cryptostore, how are you getting the data delivered to your application?

[2020-07-20 00:09] bmoscon commented on #257
@joelrich I'll take a look at this

[2020-07-20 09:14] olibre commented on #257
Hi @bmoscon
I am currently improving / fixing the HUOBI_SWAP code of Cryptofeed and I will send you soon a Pull Request :smile:

[2020-07-20 10:42] olibre commented on #257
This is my *work in progress* code being tested...

[2020-07-20 10:43] rbdm-qnt commented on #260
I'm using cryptostore with redis and zmq.

Yes, I've tested the bitmex websocket and the exchange doesn't provide timestamps on OBs and doesn't provide already reconstructed OBs.

[2020-07-20 12:33] olibre commented on #257
From my side, I think the Pull Request #262 is OK to be merged despite HUOBI_SWAP is not currently publishing market data...

[2020-07-20 15:28] olibre commented on #257
I only forgot to add `channels=[TRADES, L2_BOOK]` in `Feedhandler.add_feed()` to test `HUOBI_SWAP`.
On my side, I have validated the code change of pull request #262.

[2020-07-28 06:50] yohplala opened #266 "Retrieving crypto data from complementary data aggregation services / Coingecko?"
Hi,

Currently, cryptofeed is managing data coming from exchanges.
Please, is there any contraindication for proposing new data feeds like CoinMarketCap, CoinGecko, Nomics...
From these data feeds, I would like to get complementary 'global' crypto data like circulating supply, global trading volumes, dominance...

Could related PRs be accepted in cryptofeed?
If yes, what would be your recommandati

[2020-07-28 08:14] olibre commented on #266
I am thinking about how we could handle this exciting new feature...

# 🤔

Maybe we could add a folder called `aggregators` next to `exchanges`.
The global name for both could be `platform`:
the source `platform` can be an `aggregator` or an `exchange`.

I would also rename `exchange` -> `market` in reference to a *market place*.
because some exchanges (Binance) provide several market places (Bina

[2020-07-28 09:12] yohplala commented on #266
@olibre
Thanks for providing 1st thoughts on this.

Hmm, I would not remove the notion of `data_type`.
- a pair has several `data_type`: l2_book, trades, tickers...
- in the same way, a crypto has several 'global data', as shortly listed: `circulating_supply`, `trading_volume`, `dominance`

Obviously, there can be several others, like all the on-chain indicators computed by Glassnode, but to be ho

[2020-07-31 14:13] bmoscon commented on #266
why would you need to switch anything? You can create a new class (DataFeed) that mirrors the minimum requirements for interfacing with the feed handler (would need a subscribe method).

[2020-07-31 14:26] yohplala commented on #266
@bmoscon
Thanks Bryant! So my understanding is that you have nothing against integrating such a new type of data feed. Great!
I still have a look to workout for Cryptostore in the coming weeks.
I should then be able to have a look to this topic in the coming weeks!
Thanks again!

[2020-08-01 00:10] bmoscon commented on #261
I'm guessing you're using an older version of the software. Using the latest version from github, I have no issues with the above:

Funding Update for FTX
{'feed': 'FTX', 'pair': 'BTC-PERP', 'rate': Decimal('0.000009'), 'timestamp': 1596240000.0}
Funding Update for FTX
{'feed': 'FTX', 'pair': 'THETA-PERP', 'rate': Decimal('0.000059'), 'timestamp': 1596240000.0}

[2020-08-01 00:10] bmoscon commented on #261
I'm going to close this - make sure you are on the latest version from github. If the issue persists, please re-open

[2020-08-01 00:10] #261 closed

[2020-08-01 00:16] bmoscon commented on #260
for 1 - if there is no exchange provided timestamp, receipt == timestamp. For any update if the receipt and timestamp are equivalent, you know there was no exchange provided timestamp

2. was answered.

3. see 1.

For your second set of points, I dont see any way to get what the "real" timestamp is. If the exchange doesn't provide it, not sure what can be done.

As far as latencies are concerned,

[2020-08-01 00:16] bmoscon commented on #257
thanks for fixing this @olibre

[2020-08-01 00:16] #257 closed

[2020-08-01 00:27] #136 closed

[2020-08-01 00:27] bmoscon commented on #136
fixed - sorry it took so long - good catch :D

[2020-08-01 00:42] bmoscon commented on #159
Needs more info to adequately investigate. The timestamp normalization code should convert regardless of string or float.

[2020-08-01 00:42] #159 closed

[2020-08-01 00:43] bmoscon commented on #165
I agree - work needs to be done here to "automate" this. Ideally something could adjust the subscription before that error event. Needs some investigation and design

[2020-08-01 00:45] bmoscon commented on #167
Sorry, its been a while since I reviewed the issues. Can you elaborate? It seems like you're telling me that if the response json has a specific key, I can take some action, but I'm not sure what the action is, and I'm not sure what the key is. I'm not sure what the issue is either. If you don't recall, I apologize for taking nearly 10 months to respond :(

[2020-08-01 00:47] bmoscon commented on #200
Need to add support for Huobi, then can close this

[2020-08-01 00:51] bmoscon commented on #228
this is old, and seems resolved - at least - there is nothing to fix. closing

[2020-08-01 00:51] #228 closed

[2020-08-01 00:53] bmoscon commented on #232
Basically this needs an exchange by exchange go over to double check that everything that can be validated is being validated. Some exchanges provide things like checksums and sequence numbers that can be used to validate orderbooks.

[2020-08-01 00:56] bmoscon commented on #243
If someone wants to put in some custom aggregation callback, I'll take the PR, but this functionality seems better suited to something done during analysis or in a front end tool, like the example shows.

[2020-08-01 00:56] #243 closed

[2020-08-01 00:58] bmoscon commented on #252
Need to:
- Add Liquidations to Binance
- Add backend for liquidations

[2020-08-01 19:34] bmoscon opened #267 "Add in performance metrics and timing"
Users frequently want to know where the library spends its time. I've instrumented some code a few times to track these things, just need to release it and make it easily configurable, or available in a separate branch/release

[2020-08-03 03:55] AlgoTrader5 commented on #167
@bmoscon will add some info this week

[2020-08-04 00:31] AlgoTrader5 commented on #167
@bmoscon

I'm able to successfully query my balances from coinbase. But when I attempt to place a market buy order (body = {'product_id': 'BTC-USDC', 'side': 'buy', 'size': '0.01', 'type': 'market'}) I am met with the following cryptofeed exception:

Traceback (most recent call last):
  File "create_rest_order.py", line 22, in <module>
    resp = r.coinbase.place_order(symbol, side, order_type, am

[2020-08-06 00:42] bmoscon commented on #260
I added in some metrics for bitmex's book processing. Here are some results. Note for the first entry, the large max is from the initial book update (which is thousands deep per side):

For last 1000 executions:
   Min: 0.0019073486328125 ms
   Max: 49.30400848388672 ms
   Average: 0.07050687616521663 ms
For last 1000 executions:
   Min: 0.003814697265625 ms
   Max: 0.1609325408935547 ms
   Averag

[2020-08-06 00:54] bmoscon commented on #267
Some code is in, need to add more perf code in the callbacks, test more, and add some documentation

[2020-08-18 23:45] bmoscon commented on #167
@AlgoTrader5 I tweaked the order message handling so if the message is missing a status it will raise a new exception type with the contents of the message. Let me know if this helps and what you get once you're passed your other error and we can improve this further

[2020-08-23 00:04] bmoscon opened #279 "Bitfinex Channel limit"
Bitfinex allows only 25 channels per connection - this means if you want to subscribe to 26 symbols for trade data -> you get an error. If you want 15 symbols for trades and book data -> error. The only solution is to create multiple websocket connections and to split the data requests among them. No functionality exists to do this currently, so will need a new solution to handle this

[2020-08-23 22:57] zanoo opened #282 "AsyncFileCallback fails when `length` is reached due to change in aiofile>=2.0.0"
**Describe the bug**
The `AsyncFileCallback` in async_file.py relies on [the aiofile package](https://github.com/mosquito/aiofile). When aiofile>=2.0.0 is installed, and the number of writes to the callback reaches the `length` argument provided to an `AsyncFileCallback`, a TypeError is raised.

**To Reproduce**
Install aiofile>=2.0.0. Install cryptofeed. Run the following mwe:
[code]
This results

[2020-08-23 23:43] bmoscon commented on #252
@brizzbane currently working on this. should have some of the backends working by tomorrow. will focus on redis and kafka first, then do the rest as i have time. Is there a specific backend that you want to use, or did you just want the liquidation feed (the feed is there, just not a backend).

[2020-08-24 00:32] #282 closed

[2020-08-24 01:29] brizzbane commented on #252
I'm familiar with Elasticsearch, so like using that (mainly because of Kibana).

Thank you!

[2020-08-24 02:05] zahnz opened #284 "Feed monitoring and reporting"
**Is your feature request related to a problem? Please describe.**
Sometimes Cryptofeed encounters errors or has to contend with undesirable feed or system behavior. This may cause the `Feedhandler` disconnect or be degraded (in terms of feed latency or other metrics). The `Feedhandler` usually is able to reconnect with the current exponential backoff retry logic in feedhandler.py, but human users

[2020-08-24 23:42] bmoscon commented on #232
deribit sequence number validation for books added

[2020-08-24 23:51] bmoscon opened #285 "Order Book Sequence Number Validation"
Some exchanges support methods for ensuring no messages were lost, some do not. This is especially important for exchanges that supply only orderbook updates. All exchanges need to be re-checked to see if this support exists or not, and to validate that the existing code validates correctly (assuming said code exists):

- [x] Bitcoin.com
- [x] Bitfinex
- [x] BitMax - has sequence numbers in API v2

[2020-08-24 23:51] davidtwomey opened #286 "BUG: BinanceFuture Ticker Channel subscribing to wrong stream."
**Describe the bug**
When running BinanceFutures `TICKER` channel you get the following key error on the ticker callback:
[code]
The reason for this error is because it is subscribing to the wrong channel.
- The BinanceFutures class is using the Binance base class `_address()` and subscribing to `"{pair}@ticker".
    - For example, "BTC-USDT@ticker".
- This is the **incorrect channel**, as accordi

[2020-08-25 00:06] bmoscon commented on #232
I create #285 to track this. Once complete I'll add a page to the docs with information about this, how to enable verification, which books support seq #s, etc.

[2020-08-25 23:20] bmoscon commented on #252
@brizzbane ok, its been added to elasticsearch. The backend callback is LiquidationsElastic. Let me know how it works for you. You can close this or respond back if there are issues.

[2020-08-25 23:33] brizzbane commented on #252
I'll close--and re-open if there are any problems.

Thanks so much!

[2020-08-25 23:33] #252 closed

[2020-08-26 13:02] bmoscon commented on #286
fixed by #287

[2020-08-26 13:02] #286 closed

[2020-08-27 00:47] bmoscon commented on #285
Adding checksum verification to FTX takes about 0.4 ms (400 microseconds).

[2020-08-28 08:10] zanoo commented on #285
Bybit has a "cross_seq" field which looks like a sequence number, but based on messages in their API support Telegram channel, it's clear that it's not a sequence number, and is only used internally:
![image](https://user-images.githubusercontent.com/6364837/91537057-8d4ea200-e8ca-11ea-8925-2d17d2b12528.png)
That screenshot is from 2020-Feb-21, but that response is consistently given to other user

[2020-08-29 18:54] zanoo opened #290 "Coinbase L3 change messages for non-open order IDs are not ignored"
**Describe the bug**
I've been running the Coinbase L3_BOOK feed for a while now, and I've noticed an occasional error. Rarely, change messages are received for prices which are not in the L3 orderbook that Cryptofeed maintains. This has happened about 5 times over the past 2 days. Each time, no sequence numbers are missed between the initial snapshot and this error. Each time, the change message

[2020-08-31 00:09] bmoscon commented on #290
fixed

[2020-08-31 00:09] #290 closed

[2020-08-31 00:09] bmoscon commented on #290
thanks for raising the issue @zanoo !

[2020-08-31 22:48] zanoo commented on #284
After thinking about this for a week, I think that most of this can be done by downstream applications and is actually out of scope for Cryptofeed. Feel free to close this.

[2020-09-01 03:10] zanoo opened #291 "Finer grained resets in response to sequence number misses on Coinbase"
**Is your feature request related to a problem? Please describe.**
Currently, a reset and book snapshot is triggered for *all* pairs in a Coinbase feed if *any* of the pairs encounters a missing sequence number. Instead, what might be better is to only trigger the reset and subsequent REST book snapshot request for the pair(s) that had sequence number misses.

**Describe the solution you'd like**

[2020-09-01 22:27] bmoscon commented on #291
its doable, its just a good amount of work to add this capability and then test it out.

[2020-09-01 22:29] bmoscon commented on #285
confirmed field is not useable in bybit - https://github.com/bybit-exchange/docs/issues/102

[2020-09-01 22:58] bmoscon opened #292 "Update BitMax to use new api"
BitMax has a new api: https://bitmax-exchange.github.io/bitmax-pro-api/#websocket

[2020-09-02 10:58] zanoo opened #293 "Coinbase L3 feed with many pairs encounters errors on connection due to hitting REST API rate limit for orderbook snapshots"
**Describe the bug**
When starting a Coinbase L3_BOOK feed for several pairs (somewhere greater than 10 pairs; seems to be vary between 12-20 in my testing), the full book snapshot REST API requests generated by Cryptofeed to initialize the L3 book trigger a rate limit. This occurs because the requests in `_book_snapshot()` in coinbase.py are made without regard for the REST API rate limit.

**To

[2020-09-11 13:41] bmoscon commented on #293
@zanoo thanks for filing this - should be easy to fix - i know what their limits are, just need to put in some sleeps

[2020-09-11 20:31] zanoo commented on #293
Sorry, I got rather busy this week (and will be for the next few months). I might have time to fix it this weekend, but I'm not completely sure.

[2020-09-12 00:04] bmoscon commented on #293
fixed

[2020-09-12 00:04] #293 closed

[2020-09-12 00:15] bmoscon opened #294 "Update Bittrex api to V3"

[2020-09-12 21:00] zanoo commented on #293
Thanks!

[2020-09-18 00:02] bmoscon commented on #284
I'm not even sure you need a new feed, the feedhandler could very easily inject these messages to client supplied callbacks. It might be cleaner to have it as a feed, but I also think it could be done with minimal uglieness in feedhandler as well. Either would probably be fine @zanoo

[2020-09-18 00:06] bmoscon commented on #291
to do this you'd need to implement a piece of new functionality:

unsubscribe - you'd need to unsubscribe from the channel/pair in question and then resubscribe.

Sequence would be:

1. Detect missing data, clear/reset book (for just this pair)
2. Unsubscribe from the channel/pair
3. Ensure no pending data from this channel/pair (i.e. either wait for message back that unsub was successful or wait

[2020-09-23 00:28] bmoscon opened #295 "Add support for open interest in Huobi Swap"
Add support for open interest in Huobi Swap

[2020-09-23 08:21] abvashis opened #296 "Custom Mongo Callback feature"
Hello,
Thanks a lot for the great efforts you put on this amazing project. It's proving very helpful to us.
However, my requirement is to extend the feature to use private websocket streams as well, i.e. I need to call streams which requires authentication. Once we started fetching the data, we need to save it in MongoDB.

For existing websocket streams mongo callback is working fine. But for my c

[2020-09-23 12:12] bmoscon commented on #296
Unless I'm mistaken, you're asking for help on an issue that is not something I can reproduce because its part of changes you made on your own codebase. I don't have access to your code, so how can I fix / debug it?

[2020-09-23 12:32] abvashis commented on #296
Thanks for the quick response, do you think it would be helpful if I share code on a public repo?

[2020-09-23 12:44] bmoscon commented on #296
@abvashis that or you can email it to me, my email address it on my github profile

[2020-09-23 12:45] abvashis commented on #296
Sure, will do that.

[2020-09-24 06:29] gshpychka commented on #111
Greetings - any updates on the fate of this feature?

[2020-09-24 23:42] bmoscon commented on #111
no one has implemented it yet - I may do something along these lines, but it would have all the data encompassed above

[2020-09-25 01:44] bmoscon commented on #111
@AlgoTrader5 @gshpychka @AnnimouseCryptoUser
Ok, I went ahead and added this in. Its a classmethod, so you can do something like:

[code]

and you'll see supported pairs, data channels, and tick size. If there are other fields you want, please open a ticket for each piece of information (or if they are related, please group them together in one ticket). Also make sure that its widely supported - i

[2020-09-25 01:44] #111 closed

[2020-09-25 06:31] gshpychka commented on #111
Thank you!

[2020-09-25 13:35] bmoscon commented on #147
@xiandong79 - this is done - I added in a static method to all exchange classes called `info()` that returns information about what exchanges support (trading pairs, supported data channels, tick size, etc)

[2020-09-25 13:35] #147 closed

[2020-09-26 00:37] bmoscon opened #300 "Poloniex Futures data"
https://futures-docs.poloniex.com/#general

[2020-09-29 00:00] bmoscon commented on #200
done

[2020-09-29 00:00] #200 closed

[2020-09-30 09:37] yohplala opened #301 "Unused `ts` variable `ftx.py`?"
Hi,
Reading the code to get familiar, I spot in rest/ftx.py [the definition of this variable `ts`](https://github.com/bmoscon/cryptofeed/blob/7d11a862d74070d954ce2a687753157166a7d77f/cryptofeed/rest/ftx.py#L204) that does not appear to be used afterwards in method `_funding_normalization`.

Please, what am I missing?

Thanks for your help.
Have a good day,
Bests,

[2020-10-01 00:01] bmoscon commented on #301
Yep, looks like its an un-used variable. I didn't write this, must have just missed it when it got merged in. Feel free to open a PR to remove it, or I'll do it later

[2020-10-05 09:52] warproxxx opened #302 "Rest API for Binance Futures"
Binance Futures provides REST API for historic trade data but it is not implemented

[2020-10-05 09:52] warproxxx opened #303 "Rest API for binance futures"
Binance Futures provides REST API for historic trade data but it is not implemented

[2020-10-05 09:59] warproxxx commented on #303
Added pull request for [here](https://github.com/bmoscon/cryptofeed/pull/304). I have used aggregate trade. Thank you for creating this wonderful project, and let me know if you want something to be done differently.

[2020-10-05 10:01] warproxxx commented on #302
Posted a duplicate in mistake

[2020-10-05 10:01] #302 closed

[2020-10-07 04:58] warproxxx commented on #303
The pull request was added

[2020-10-07 04:58] #303 closed

[2020-10-13 05:50] yohplala opened #306 "Useless import in `feedhandler.py`"
Hi,
Except I am missing something, it seems the `Blockchain` import is redundant with the one immediately below:
https://github.com/bmoscon/cryptofeed/blob/09053add0bcc0d906bddb755d1554902cb6f6674/cryptofeed/feedhandler.py#L27

Line below, `Blockchain` is already imported in `exchanges`:
https://github.com/bmoscon/cryptofeed/blob/09053add0bcc0d906bddb755d1554902cb6f6674/cryptofeed/feedhandler.py#L

[2020-10-13 13:14] bmoscon commented on #306
yep looks redundant, you can remove it

[2020-10-13 13:40] yohplala commented on #306
ok, still deep diving for Coingecko implementation.
I will solve this probably in the process.
Thanks Bryant,

[2020-10-13 18:26] yohplala commented on #266
Hi @bmoscon ,

I have made a 1st implementation.
I am not sure where I am yet, as my objective is to be able to use Cryptostore over it.
I am not sure the Callback with Redis is done yet.

Still, if you have any comment on current status, I will gladly take them into account.
Branch is here:
https://github.com/yohplala/cryptofeed/tree/coingecko

I have been testing it with following script, copied

[2020-10-13 20:06] cryptorevizor opened #308 "Binance trades feed ERROR code = 1006 (connection closed abnormally"
Hi,
I fetch trades (by 15 symbols) from binance-futures and store it in postgresql.
Time to time I getting this error.
Could you please help me to solve this problem?

[code]

[2020-10-13 22:52] bmoscon commented on #308
see

https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/feedhandler.py#L128

there is a timeout kwarg that defaults to 120. If you go without an update within that timeout window, the connection will be restarted. There are certainly some symbols and time intervals that might not see trades within that window, so I'd recommend increasing it to whatever you're comfortable with.

[2020-10-13 22:52] #308 closed

[2020-10-13 22:56] bmoscon commented on #266
looks pretty good so far, and yes, you'd need to add your new callback to all the backends, there are quite a few :)

[2020-10-14 06:45] yohplala commented on #266
Thanks Bryant,
So you confirm the error message I am getting is ok?
In this case, maybe it is not a 'real error' and maybe it should be caught and only a warning be issued?
(just thinking aloud - for a beginner like me, having this makes wondering what is not going ok)

[2020-10-14 07:23] cryptorevizor commented on #308
Thanks, but I think that it's impossible (on BTC USDT pair binance-futures) that there were't any trade within this big time interval 120 seconds. I think it possible on instrument with poor liquidity.
What can I check yet?

[2020-10-14 07:48] cryptorevizor commented on #308
Also, i asked this question in binance-api telegram community and they told me that yesterday was ok, and anyone didn't have problem with websocket stream for futures

[2020-10-14 12:38] bmoscon commented on #308
I know of no way to know if the exchange is dropping messages or not unless its something they provide (like with sequence numbers). I dont believe Binance has sequence numbers on trades and I dont think the trade ids are monotonically increasing either. This is why the timeout is there as sort of a failsafe, i think there might be windows where no trades happen, but its hard to know what a good v

[2020-10-14 12:41] bmoscon commented on #266
i dont see anything in your code that would cause the error, that error looks like its coming from something else running asyncio, like ipython or a jupyter notebook. You can't run cryptofeed in something like that

[2020-10-14 12:53] yohplala commented on #266
Thanks Bryant,
Ok, I confirm I am running it in ipython (spyder environment installed with miniconda)
Thanks again Bryant!

[2020-10-14 18:31] cryptorevizor commented on #308
Ohh, maybe I found problem. I ran each symbol separately, 1 symbol = 1 python script, and i think I was block by binance (5 request  per seconds(ping-pong)) . Right now, I try to subscribe on all 14 symbols that i need in multiplex stream. So in this case i can't broke binances rate-limit.

[2020-10-14 18:36] bmoscon commented on #308
you should be able to subscribe to them all in a single `add_feed` call

[2020-10-14 22:28] cryptorevizor commented on #308
Yes, I did exactly as you said.

Also, if anyone have question about 1006 error this is good explanation:
https://github.com/oliver-zehentleitner/unicorn-binance-websocket-api/issues/113

Thank you bmoscon!

[2020-10-15 11:26] cryptorevizor opened #309 "Bulk/batch insert in PostgreSQL by one query and AWS vs Vultr perfomance"
Hello.
Firstly, I would like thanks all contributors for this greatest tool for working with websocket.

**My question: Is it possible a bulk/batch insert in PostgreSQL by one query?**

Because, we getting time to time something like this, bulk list with trades at the same timestamp:

ID  | SYMBOL | Timestamp | Received timestamp | Side | Amount | Price
------------ | -------------  | ------------

[2020-10-15 20:37] yohplala commented on #266
Hi @bmoscon,
As far as I understand, it seems I am nearly done with this.
([Github branch](https://github.com/yohplala/cryptofeed/tree/coingecko) up to date with my last modifications)
There is one last callback for postgres backend that I have not completed.

I m not understanding why for some channels, `write` is re-implemented, example [line 63](https://github.com/bmoscon/cryptofeed/blob/ff827e

[2020-10-17 19:48] nivilo opened #310 "Group Bid + Ask volume at Depth X"
I would like to group the bid and asks with depth X and store it in a database.

Currently it does not support grouping the bid and asks or i might be missing something. I would be great to implement that functionality.

Thank you and keep up the great work!

[2020-10-17 19:59] bmoscon commented on #310
I dont know what you mean by this - do you mean you only want the bid/ask at depth N and none of the bid/asks at depths 0 -> N and N+1 -> end ?

[2020-10-17 20:00] nivilo commented on #310
So basically i would like all bids and asks volume up to depth x

[2020-10-17 20:31] bmoscon commented on #310
this isnt supported by default, but its something doable with this backend - https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/backends/aggregate.py

Have a look at OHLCV, basically you can wrap any other callback type (like book) and process the data in your own custom aggregator

[2020-10-19 09:06] singhpav09 opened #311 "Bybit Ticker Channel"
Bybit does not have a ticker Channel, I feel it could be easily added.

**Describe the solution you'd like**
https://bybit-exchange.github.io/docs/inverse/#t-websocketinstrumentinfo
The ticker channel can be added from here. It also includes the Open Interest data.

[2020-10-20 23:03] #310 closed

[2020-10-21 03:01] xiandong79 opened #313 "bitFlyer exchange, a top20 exchange"
bitFlyer exchange is a top20 exchange
Reference:
https://coinmarketcap.com/rankings/exchanges/

Documentation:
https://bf-lightning-api.readme.io/docs/endpoint-json-rpc

[2020-10-21 15:15] saleh-mir opened #314 "Is the license a custom?"
Hi. Thank you for the great package. This might be a silly question, but what is the type of license in the matter of the popular licenses like MIT, GPL, Apache, etc?

[2020-10-21 15:19] bmoscon commented on #314
its the XFree86 license.

It is here:

https://github.com/bmoscon/cryptofeed/blob/master/LICENSE

[2020-10-21 15:19] #314 closed

[2020-10-22 00:03] olibre commented on #314
The body license is from the XFree86 License 1.1 (2004),
and the warranty notice is from the XFree86 License 1.0:
https://www.xfree86.org/legal/licenses.html

Note:
* The XFree86 License 1.0 is from the [MIT license](https://en.wikipedia.org/wiki/MIT_License).
* The XFree86 License 1.1 is not [OSI-approved](https://opensource.org/licenses/alphabetical) but [mentioned as GPL3-compatible](https://ww

[2020-10-22 00:21] #260 closed

[2020-10-22 00:39] bmoscon commented on #260
@rbdm-qnt you all set with this?

[2020-10-22 10:12] saleh-mir commented on #314
@olibre thank you for your complete response. I highly appreciate the work that has gone through this code base. I personally think it would be better if the repository chose a more popular license for it to be less confusing. I already understand MIT, Apache, GPL, LGPL, etc I had never seen XFree86 which makes is hard for me whether to use it in my project or not.

[2020-10-22 10:35] bmoscon commented on #314
@saleh-mir - nothing would prevent you from using this as a dependency in a project (i.e. just as a pypi dependency in setup.py or requirements.txt). If you want to take it and modify it to make your own library, or take parts and put into an application, the license needs to be included at the top of copied/modified files and credit needs to be given per clause number 3. So, its pretty open, even

[2020-10-25 19:38] yohplala opened #315 "Trouble with aiohttp 3.6.3"
**Describe the bug**
When installing last cryptofeed, I get this error message (aiohttp 3.6.3 has to be not installed to get the error message. If it is, the system will not try to install it, and the error message will thus not show up)

[code]

**Operating System:**
Ubuntu 20.04 with `cython` and `build-essential`

**Cryptofeed Version**
1.6.1

To solve the trouble, I installed the last `aiohttp

[2020-10-25 20:04] bmoscon commented on #315
I changed it to be >= 3.7.1, so this should be fine. I looked in pypi and they have wheels for 3.7.1 for manylinux, so i think you should be ok

[2020-10-25 20:04] #315 closed

[2020-10-26 04:08] mfw78 opened #316 "Redis Sentinel support"
Request support for redis sentinel to allow for graceful clustered / failover solutions.

[2020-10-26 21:07] bmoscon commented on #316
Can you give me more info here - I'm not familiar with sentinel. I can see that it exists in the redis libraries, but its unclear to me what you need. Is it a replacement for the normal redis connector? Is it compatible with non-sentinel enabled clusters (or will there need to be support for both modes)?

[2020-10-27 01:42] mfw78 commented on #316
No problems, thanks for the prompt reply @bmoscon.

From my understanding, Sentinel provides High Availability to redis clusters, allowing for a central point that clients may query to get the address of the current cluster's master (essentially, Sentinel acts as an "authority" for which redis instance is master in the cluster, and will work to promote instances in the cluster to master if there i

[2020-10-27 19:06] yohplala opened #317 "Use of asyncio semaphore to limit the number of concurrent tasks and/or requests"
**Is your feature request related to a problem? Please describe.**
When querying a lot of exchanges, I ran into the error message:
`aiohttp.client_exceptions.ClientConnectorError: Cannot connect to host api.coingecko.com:443 ssl:default [Temporary failure in name resolution]`

After googling this problem, it appears linked to software limits on the server.
This software limits (number of max open

[2020-11-01 22:15] cryptorevizor commented on #309
Any answers?

[2020-11-03 08:12] yohplala commented on #279
Hi Bryant,
Binance has the same kind of limitation, between 230 & 235 streams (a stream: pair + channel).
Might be worth to see if such a feature can be 'generic'.
Bests,
Pierre

[2020-11-03 08:14] yohplala opened #320 "Support of Kucoin?"
**Feature request.**
Addition of Kucoin exchange (authorized exchange in Texas, so I have heard :))
- websocket for data retrieval: trade, order books, tickers...

[2020-11-03 16:17] AlgoTrader5 commented on #167
Adding more info to this. Current issue is when placing an order to coinbase via REST I am getting invalid signature. I am able to query balances, orders and trade history just fine.

The API keys are set up to view/trade/transfer so I don't think its an issue of permissioning. Version 1.6.0

///////////////////////////////////////////////////////////////

response = r.coinbase.place_order(symbol=

[2020-11-04 12:42] bmoscon commented on #260
This was the original content of this ticket:

1. When I get trade data from my own websocket, I get about 30ms latency from timestamp to now with 51ms ping to bitmex.com. This seems to work correctly. I don't know where the 1 second latency comes from when using cryptostore.
2. Still open.
3. Dived deeper into this, I've seen Mex does not provide a timestamp on OBs, but cryptofeed doesn't account

[2020-11-05 07:50] yohplala opened #323 "Optionally taking into account rate limit of rest feeds in retry strategy implemented in FeedHandler."
**Rationale**

Because the 'retry' logic is implemented in `Feedhandler` class, the rate limit management for a rest feed should be managed as well directly in `Feedhandler` class as well, and not individually by each rest feed as it is currently the case.

**Implementation**

In `RestFeed` class
- add a class parameter `rest_sleep` similarly to the `id` class parameter in `Feed`

In `FeedHandler`

[2020-11-10 21:37] CryptoFood opened #324 "SyntaxError: invalid syntax"
Hello,

I'm trying to install and work with cryptofeed.
But it seems i do something wrong.

I used this command to install :
**python3 -m pip install --user --upgrade cryptofeed**

Results :

`Requirement already up-to-date: cryptofeed in /root/.local/lib/python3.5/site-packages (1.4.1)
Requirement already satisfied, skipping upgrade: aiodns in /root/.local/lib/python3.5/site-packages (from crypto

[2020-11-10 21:38] bmoscon commented on #324
You are using python 3.5. 3.7+ is required

[2020-11-10 21:38] #324 closed

[2020-11-10 21:52] CryptoFood commented on #324
Right.
But now :
`ModuleNotFoundError: No module named '_bz2'`

Even after : sudo apt-get install libbz2-dev

Thank you.

[2020-11-10 22:00] bmoscon commented on #324
I'm not sure what that error is, its not related to this project, its a python issue. I'd recommend using a virtual environment or something else to manage your python versions. The SO post has other solutions (other than installing the lib):

https://stackoverflow.com/questions/12806122/missing-python-bz2-module

it also mentions you should "rebuild" python after installing that dependency. I'm g

[2020-11-10 22:08] CryptoFood opened #325 "NameError: name 'TICKER' is not defined"
Hello again,
After update python3.5 to python3.7, reconfigured , i have a last bug with the first example code :

[code]

For this code :
[code]

Thank you again.

[2020-11-10 22:09] bmoscon commented on #325
yeah you need to import things before you can use them. Take a look at the demo code in https://github.com/bmoscon/cryptofeed/blob/master/examples/demo.py

[2020-11-10 22:09] #325 closed

[2020-11-10 22:15] CryptoFood commented on #325
Thank you, demo.py worked well, now I just need to understand by myself.
Thank you again.

[2020-11-10 22:59] bmoscon commented on #325
surem no problem

[2020-11-12 20:35] yohplala opened #326 "Binance Jersey closing the 30th of November - should be removed?"
Hi,

Binance Jersey is closing the 30th of November.
Proposal to remove it from source (and from cryptostore as well)

[2020-11-13 00:10] bmoscon commented on #326
removed.

[2020-11-13 00:10] #326 closed

[2020-11-13 00:11] bmoscon commented on #323
the retry there should only be for exceptions. I don't see any advantage from moving it out of the exchanges and into the feedhandler class. the rate limits are per exchange, and should be done individually in each exchange, if needed.

[2020-11-13 00:12] bmoscon commented on #320
seems reasonable - docs are here: https://docs.kucoin.com/#public-channels

[2020-11-13 00:16] bmoscon commented on #306
fixed

[2020-11-13 00:16] #306 closed

[2020-11-13 00:18] bmoscon commented on #301
removed.

[2020-11-13 00:18] #301 closed

[2020-11-13 00:19] bmoscon commented on #313
looks like a good one to add - thanks for including a link to the docs!

[2020-11-13 08:10] yohplala commented on #323
Hi @bmoscon
I fully agree, I don't ask to change the rate limit definition and the way it is used within the child feed class.

But giving you an example with Coingecko:
- support recommands to wait 1.2 s between 2 requests, and my own test show me we are totally safe with 1.8s
- the retry logic use 1s

So the 1st retry is doing the opposite as the target requested: instead of waiting some time be

[2020-11-13 14:54] OnlyC opened #328 "Binance futures now has stream limit 200"
**Describe the bug**
Binance futures now has 200 stream limit (2020-10-27)
https://binance-docs.github.io/apidocs/futures/en/#change-log

**To Reproduce**
Use pairs=binance_futures_pairs() the app will freeze without getting any update. I have to make an array of SYMBOLS and remove some from the full list. Full list has 216 symbols.

[2020-11-14 21:34] yohplala commented on #323
Implemented in both Coingecko and Whale Alert branches.
They both have sleep time above 1s (Coingecko: 1,8s - Whale Alert: 6s with free plan)
Current delay defaulting to 1s is worsening the situation.
In the proposed implementation, it is now defined [line 216](https://github.com/yohplala/cryptofeed/blob/161560a7db20b56d3c59a27dd5f4aafbbe4ad43e/cryptofeed/feedhandler.py#L216) as:
[code]

[2020-11-19 08:27] GoldenNaim commented on #328
Hello,

I just trying to reproduce the bug, it works fine for me, binance_futures_pairs() return all pairs with this simple code :
[code]
    pairs=binance_futures_pairs()
    print(pairs)

if __name__ == '__main__':
    main()

[2020-11-19 08:30] OnlyC commented on #328
I mean it will freeze when you use in like: `add_feed(pairs=binance_futures_pairs())` & `feed.run()`.

[2020-11-19 08:31] GoldenNaim commented on #328
Okay, I will try to see what happened my crypto-friend

[2020-11-19 08:32] GoldenNaim commented on #328
It works fine for me with this code :

[code]

[2020-11-19 08:40] OnlyC commented on #328
Please try with 4 channels: TRADES, L2_BOOK, OPEN_INTEREST, LIQUIDATIONS

[2020-11-19 08:46] GoldenNaim commented on #328
Okay, it seems the bug it's only with the LiquidationCallback

[2020-11-19 08:56] OnlyC commented on #328
try with 3 channels also freeze [TRADES, L2_BOOK, TICKER]
74 pairs * 3 = 222 streams > 200 streams limit.

[2020-11-19 09:08] GoldenNaim commented on #328
But works fine with :  channels=[OPEN_INTEREST, TRADES, L2_BOOK] .

I think the problem is not here

[2020-11-19 09:10] OnlyC commented on #328
The OPEN_INTEREST is not a stream, it's a restAPI call.

[2020-11-19 09:12] GoldenNaim commented on #328
You have right, I will try something to see if it works, 5min.

[2020-11-19 09:19] GoldenNaim commented on #328
Okay so, the Binance documentation say :  The maximum stream number **that a single connection can listen** to changes as 200.

So this solution work fine for me ( tested ) :
[code]

[2020-11-19 09:23] OnlyC commented on #328
Ahh, nice. Thank you!

[2020-11-19 09:24] OnlyC commented on #328
Then this issues shouldn't tag as a bug, I can't change it.

[2020-11-19 12:12] bmoscon commented on #328
so I'm confused - is there an issue still or not?

[2020-11-19 12:22] OnlyC commented on #328
Yes, there is an issue with Binance that we can't use 1 feed connection to stream all the pairs but we can with more feeds.
I think a notice in the docs will do the job.

[2020-11-19 13:52] bmoscon commented on #328
let me see if its possible to get something working in the code that solves this.

[2020-11-20 18:43] degloff opened #332 "OHLCV Aggregation Coinbase fails with `unexpected keyword argument 'order_type'`"
I use the script `examples/demo_ohlcv.py`

[code]

Binance or FTX works, however, for Coinbase I get:

[code]

I use the current dev version 1.6.2.

Do I use it wrong?

Thansk for a quick reply

[2020-11-20 18:47] degloff opened #333 "Coinbase Level3 orderbook callback broken?"
I use `example/demo_config.py' which registers a callback fro L3 orderbook data on Coinbase

[code]

I use cryptofeed 1.6.2 and get the following error:

[code]

Is this callback broken or just the example?

[2020-11-20 18:49] bmoscon commented on #333
the example is, I'll fix it later today. demo.py is the only one I test frequently

[2020-11-21 01:35] bmoscon commented on #332
fixed

[2020-11-21 01:35] #332 closed

[2020-11-21 01:47] bmoscon commented on #333
fixed

[2020-11-21 01:47] #333 closed

[2020-11-21 19:30] degloff commented on #333
@bmoscon cool, thanks a lot. I find cryptofeed is amazing.

[2020-11-25 21:29] jzay opened #334 "Bybit Liquidations"
Hi, Are Bybit liquidations supported already?

I tried to bring them up but couldn't.

[2020-11-25 21:50] bmoscon commented on #334
no, only these feeds currently support liquidations:

BITMEX, BINANCE_FUTURES, FTX, DERIBIT

the `info()` method on an exchange class will give you information about what data channels it supports

[2020-11-27 07:45] DavidOtherAcc opened #335 "Higher CPU usage with time"

[2020-11-27 07:46] #335 closed

[2020-11-27 07:49] machacd opened #336 "Higher CPU usage with time"
**Describe the bug**
When I start Cryptofeed, it consumes very little resources (say 10-13% CPU on a single core), however, after few hours, it goes up to 30-50% and plateaus there. If I restart it, it is low again.

**To Reproduce**
I am using the following feeds:
[code]

with

[code]

**Operating System:**
Ubuntu 18.04

**Cryptofeed Version**
1.61

[2020-11-28 05:34] mccoydj1 opened #338 "NBBO example did not work"
https://github.com/bmoscon/cryptofeed/blob/master/examples/demo_nbbo.py

I got an error that said "TypeError: __call__() got an unexpected keyword argument 'receipt_timestamp'"

[2020-11-28 13:22] bmoscon commented on #338
fixed

[2020-11-28 13:22] #338 closed

[2020-11-28 13:58] davidtwomey commented on #328
@bmoscon note this also affects Binance spot (`BINANCE`), as well as `BINANCE_FUTURES`

BINANCE (Spot) [docs](https://binance-docs.github.io/apidocs/spot/en/#limits) under websocket limits:

BINANCE (Futures) [docs](https://binance-docs.github.io/apidocs/futures/en/#websocket-market-streams)

(also shows up in change log on the same page for 2020-Oct-27)

Note: this only appears in the tether USDT

[2020-11-28 14:25] bmoscon commented on #336
I'm not sure this is a bug - I see no evidence here that there is a bug in cryptofeed, its more likely your setup cant handle the volume of writes to postgres. you might want to consider caching/batching the writes, or having a 2nd process handle the writes

[2020-11-28 14:25] #336 closed

[2020-11-28 14:27] bmoscon commented on #309
yes - its possible, but you'd need to add in some state/storage mechanism in the callback to handle the caching/batching, or you'd need to rely on a 2nd process to receive and handle the updates (or handle writing from a cache, like redis)

[2020-11-28 14:30] #296 closed

[2020-11-28 15:49] qinghuangchan commented on #336
Im writing to a postgres database too, and I have seen both the collector and the pg process piling up because individual writes have WAAAYY to much overhead.

https://github.com/bmoscon/cryptofeed/pull/339  for caching and writing in batches.

[2020-11-28 17:18] machacd commented on #336
Thank you @qinghuangchan, I am trying your branch now. What order of magnitude of writes are you talking about, when you observe piling? In my case, I write about 50 records per second

[2020-11-28 19:35] bmoscon commented on #309
@cryptorevizor also take a look at this PR - https://github.com/bmoscon/cryptofeed/pull/339 it will likely fix the issues you are seeing

[2020-11-28 21:23] bmoscon commented on #285
adding checksums to kraken adds ~1.2 ms

[2020-11-28 21:29] machacd commented on #336
I have tried it out @qinghuangchan , with different batch sizes from 5 to 40. It seems to work quite well, but it unfortunately does not resolve my issue, the CPU usage still climbs after a while.

[2020-11-28 23:58] qinghuangchan commented on #336
I see that you are subscribed to trades and l2 book, which should be pretty noisy channels.. I have mine set at 1000 for exchanges that I seem to be less noisy, and 10000 for exchanges that are more noisy.

[2020-11-29 19:22] bmoscon commented on #199
done

[2020-11-29 19:22] #199 closed

[2020-11-29 20:03] bmoscon commented on #311
@singhpav09 - I had a look at it - it looks like it has best bid/ask for a 24 hour period, not most recent.

[2020-11-29 20:04] bmoscon commented on #317
I'm not sure this is something we'd want to add. Its far better to increase the os limits if needed than to potentially block data for some period of time. This could mask real issues with a setup/configuration

[2020-11-29 20:37] bmoscon commented on #285
checksum validation for okex/okcoin takes 0.4ms

[2020-11-29 20:37] bmoscon commented on #285
all exchanges verified, closing

[2020-11-29 20:37] #285 closed

[2020-11-29 21:01] bmoscon commented on #232
all supported exchanges have been checked and verified against the docs, seq number and checksum validation has been done when supported. New doc was added that lists out what exchanges support what. Closing this.

[2020-11-29 21:01] #232 closed

[2020-11-30 01:02] mccoydj1 opened #341 "Example for OHLC information does not work"
The example code here
https://github.com/bmoscon/cryptofeed/blob/master/examples/demo_ohlcv.py

fails with this error
TypeError: __call__() got an unexpected keyword argument 'order_type'

[2020-11-30 01:09] bmoscon commented on #341
I just ran it, no issues

[code]

What version of Python? What version of the code? Are you using latest from githuh, or what is in pypi?

[2020-11-30 01:15] bmoscon commented on #341
I'm pretty sure you are just running with outdated code, this was fixed a few days ago in 1.6.2, it hasnt been released to pypi yet, so use the latest code from github or wait for the next release

[2020-11-30 01:15] #341 closed

[2020-11-30 04:27] mccoydj1 commented on #341
oops sorry!

[2020-11-30 06:43] yohplala commented on #317
Hi @bmoscon ,
Ok,
On my side, I feel this feature is leagues above my skills. I was just proposing as it seems the way to go when willing to handle more connections while hardware still has ability to handle it.
OS limits is not necessarily aligned with hardware limits given considered use case.
Anyhow, what I did to solve my trouble is to adjust server profiles I was using to make the most of the

[2020-11-30 06:43] #317 closed

[2020-12-01 20:52] jzay commented on #334
Thank You

[2020-12-01 20:53] jzay commented on #334
1.

[2020-12-01 20:55] bmoscon commented on #334
@jzay - the exchange does support it - just need to add it to the code, I'm going to re-open this, I can add support in the coming days

https://bybit-exchange.github.io/docs/inverse/#t-query_liqrecords

[2020-12-02 20:55] yohplala opened #342 "HUOBI_SWAP error"
**Describe the bug**
I get following error message from HUOBI_SWAP.
[code]

**To Reproduce**
Everything was working ok since several days, so I suspect there has been a change with HUOBI_SWAP API or with HUOBI_SWAP server maybe?

**Expected behavior**
The error message is pretty clear.
IMHO, 2 things could be improved:
- having an error because of a missing key should be stopped 'earlier'. Before

[2020-12-02 20:59] yohplala commented on #342
Here is the configuration for HUOBI_SWAP.
[code]

[2020-12-02 23:22] bmoscon commented on #342
see https://huobiglobal.zendesk.com/hc/en-us/articles/900003742046-Announcement-on-the-Delisting-of-Some-Assets-for-Huobi-Coin-margined-Swaps

some of their trading pairs are being delisted, so are no longer valid.

[2020-12-02 23:26] bmoscon commented on #342
i put in some code to have it ignore empty book updates

[2020-12-02 23:26] #342 closed

[2020-12-03 05:59] yohplala commented on #342
Bryant, do you think there could be a warning message indicating that a pair is not in the response and probably delisted?
I believe having detailed warning to set user on a track are great added value.

[2020-12-03 07:57] yohplala opened #343 "Bybit - error in BTC-USDT pair"
**Describe the bug**
With following config file.
[code]

I got following error (running from Cryptostore).
[code]

**Expected behavior**
Well, if channel or pair, either of them is not known, the usual error message indicating they are not known.
But I run `info()` method and they both appear to be ok.

[code]

**Operating System:**
Ubuntu 18.04

**Cryptofeed Version**
1.6.2

[2020-12-04 00:30] bmoscon commented on #343
as best I can tell this is an issue with BYBIT. The trading pair is still listed/active, no notices have been posted about any change to their supported pairs, and other symbols still work. I re-verified the API is being used correctly, and confirmed other symbols do work. Doesn't look like anything I can do

[2020-12-04 05:19] warproxxx opened #345 "Bybit trade data isn't precise"
**Describe the bug**
All other exchange get precise timestamp of when the trade took place like 1607058533.066 (which includes millisecond). But the bybit trade data dosen't include millisecond 1607058532.0

**To Reproduce**
[code]

**Expected behavior**
O/P
BINANCE_FUTURES BTC-USDT 1607059067.177
BYBIT BTC-USD 1607059067.0

BINANCE_FUTURES and all other gets precise timestamp. Bybit get .0

**Scr

[2020-12-04 05:20] warproxxx commented on #345
As bybit API provides millisecond data, there must be error in processing somewhere. I think i will able to find the fix in a couple of hours

[2020-12-04 05:32] warproxxx commented on #345
Sent a pull request for fixing this in #346

[2020-12-04 05:47] warproxxx commented on #345
The fix messes OI and L2_BOOK. @bmoscon to fix the trade issue, we have to send the trade_time_ms which is an int. But OI only has datetime value. I can fix this by creating an optional parameter in timestamp_normalize for bybit which indicates which is it or check if we sent a int or datetime, but it might make a clean function timestamp_normalize look a little messy. Do you have a better idea?

[2020-12-04 05:56] warproxxx commented on #345
Sent a fix commit to not break OI. Its kinda hacky but i think its the best fix

[2020-12-04 17:25] bmoscon commented on #345
merged - thanks!

[2020-12-04 17:25] #345 closed

[2020-12-05 00:31] bmoscon commented on #343
Also, I tried to reach out to support but you have to have an account to do so.

[2020-12-05 07:23] yohplala commented on #343
Hi @bmoscon , I have sent them an email, and started to discuss that by chat. They are looking into it. I will let you know as soon as I have a feedback!
Thanks for your very reactive support Bryant!