[2020-12-05 07:25] yohplala commented on #343
The error message seems related to the way we call the pair/channel.
I wanted to have a look to the response returned by the url used to generate the list of pairs, but haven't had the time yet.

[2020-12-05 11:41] yohplala commented on #343
@bmoscon, support answer is not crystal clear to me, but it gives a direction.
They basically tell me the following before redirecting to the documentation page:
_The relevant team confirmed that the Inverse and USDT pairs API are different. Please feel free to visit this link for reference:
https://bybit-exchange.github.io/docs/linear/#t-websocketorderbook25_

While I am not sure the link provide

[2020-12-05 11:45] yohplala commented on #343
Beetween, I am surprised **l2_book** only takes **l2_25** and not **l2_200**. Is it common in Cryptofeed?

[2020-12-05 20:07] yohplala opened #347 "Kraken: KeyError: 400?"
**Describe the bug**
From time to time, I get this error message.
[code]
**To Reproduce**
Extract of the config file.
[code]

**Expected behavior**
I have no idea what a `KeyError: 400` refers to, but it seems that if a key is not existing, it is masking another trouble that might be worth to catch.

**Operating System:**
Ubuntu 18.04

**Cryptofeed Version**
1.6.2

[2020-12-05 20:10] yohplala commented on #347
Checking another server, I can see this time `KeyError` is sometime with `400`, sometime with `1200`:
[code]

[2020-12-05 20:40] bmoscon commented on #347
were there other connection resets for kraken before these messages ? when you connect to kraken it gives you an id for pair/channel updates, thats the key this is referring to. So you're getting data for a pair/channel combination thats not in the mapping. the channel map should only be reset on subscribe, so if you're disconnecting for some reason and reconnecting, you may be still getting old u

[2020-12-05 20:42] bmoscon commented on #347
I put in some code so that this wont cause an error / disconnect. It should just log some information. If this is happening frequently I can take the issue up with kraken (they have had issues with their websocket data before). Once you move to my new code, keep an eye out for data loss after you see the new log lines. That would indicate an error on Kraken's end

[2020-12-05 20:45] yohplala commented on #347
Thanks Bryant,
Ok, to be honest, I am not yet at being able to say if there is data loss or not, even if this is something I would like to be able to do.
However, it will not be for the short term :)
Thanks again Bryant!

[2020-12-05 20:52] bmoscon commented on #347
I just mean once you update to the new code, if you see this message and you notice you are no longer getting data for a pair, that would be something I could raise with Kraken

[2020-12-05 20:53] yohplala commented on #347
Ok, good to know, thanks Bryant.
I will probably update to the new code next week-end :)
I will let you know.
Thanks again!

[2020-12-05 20:54] bmoscon commented on #343
the L2_200 feed is not realtime, its only ever 100ms. Since the L2_25 is realtime, that is preferred.

[2020-12-05 20:58] bmoscon commented on #343
it looks like they have a websocket address for USDT pairs and one for USD pairs, but they share the same rest API for querying trading pairs. I'll need to make an architecture change to cryptofeed to support multiple websocket connections per exchange/feed. Its not terribly hard to do, I've just been putting it off. Its needed for authenticated channels too. I have a design/plan, going to start o

[2020-12-05 21:03] yohplala commented on #343
aaahhh, when user's need differ... I am more interested in having more complete view of the ob, and would be fine with 100ms refreshment (anyway, I am building a view of the ob only every minute).
Is there any 'keyword' to allow the user to chose?

Actually, there is one in cryptostore `max_depth`.
Is there any way (maybe on cryptostore's side then) that if `max_depth` <26, then l2_25 is used in c

[2020-12-06 01:00] bmoscon commented on #343
There is no support for changing between things like this in either cryptofeed or cryptostore

[2020-12-06 22:00] bmoscon commented on #309
@cryptorevizor let me know if you have any questions, comments, etc. If I don't hear back I'll consider this resolved and close it

[2020-12-06 22:06] bmoscon commented on #225
I've started seriously working on this, hope to have a few exchanges implemented by end of the year

[2020-12-07 19:39] yohplala opened #349 "Reset delay and retries in '_rest_connect'"
**Describe the bug**
[code]
Yeah, we clearly see the factor 2 that is used to multiply the delay between each retry...
Hmm resetting would be nice however :)
From `feedhandler.py`, [lines 225](https://github.com/bmoscon/cryptofeed/blob/1a7ce5d686c64a627a4344dc95d55b09adca63a5/cryptofeed/feedhandler.py#L225) to 234
[code]
I do think that a copy/paste from the `_connect` part would do the trick :) l

[2020-12-08 06:36] yohplala opened #350 "Having more complete order book for Bybit"
**Is your feature request related to a problem?**
2 depths of order book are possible for Bybit, the 25 1st levels or the 200 1st levels.
The 25 1st levels are provided in real time.
The 200 1st levels are provided every 100ms.
Currently, `l2_25`is queried by cryptofeed as a default.
I would like to querry `l2_200`.

**Describe the solution you'd like**
Could a parameter be made available for the

[2020-12-11 08:12] zfsamzfsam opened #352 "Support D-Bus"
https://dbus.freedesktop.org/doc/dbus-specification.html

D-Bus support two basic IPC operations - signal and method.
	[pubsub]Signal implements a publisher / subscriber model
	[RPC]Method implements an one-to-one caller / callee model, which is the same as  RPC.

dasbus
	https://github.com/rhinstaller/dasbus

Python3 binding for D-Bus using asyncio

	https://github.com/ldo/dbussy
	https://github.

[2020-12-12 00:51] bmoscon commented on #352
looks pretty cool. Definitely would opt for a binding that doesnt use GLib, as thats 100% overkill for something like this. Since none of these seem to be a defacto library for this, will need to do some profiling and determine which implementation is the best for this

[2020-12-12 00:51] #309 closed

[2020-12-12 00:52] #323 closed

[2020-12-12 07:23] yohplala commented on #349
Implemented in PR #331

[2020-12-12 07:23] #349 closed

[2020-12-12 07:25] yohplala commented on #266
Implemented in PR #331

[2020-12-12 07:25] #266 closed

[2020-12-13 18:32] yohplala opened #353 "KeyError 'openInterest' with Binance Delivery"
**Describe the bug**
Error message...
[code]

**To Reproduce**
... obtained with following config file.
[code]

**Expected behavior**
No KeyError, but possibly a message indicating that OPEN_INTEREST channel is not implemented for BINANCE_DELIVERY.

**Operating System:**
Ubuntu 18.04

**Cryptofeed Version**
1.6.2

[2020-12-13 19:08] bmoscon commented on #353
fixed

[2020-12-13 19:08] #353 closed

[2020-12-14 06:23] yohplala commented on #347
Hi @bmoscon,
I rolled-out last cryptofeed version yesterday evening and am coming back on this topic.
In the past 8 hours, I did receive 6 warnings (so not a big deal) as follow:
[code]
Within this 8 hours, I do have a few corresponding parquet files, so my understanding is that the stream is still open, despite the warnings.
Do you think this is related to previous error?

[2020-12-14 06:24] yohplala commented on #347
(small typo noticed with 'recevied')

[2020-12-14 06:28] yohplala opened #354 "Gemini / Invalid message / 'auction_open'"
**Describe the bug**
Getting warning message...
[code]

**To Reproduce**
... with config file.
[code]

**Expected behavior**
From time to time, I have this warning.
I got these 2 warnings within 8 hours.
Are they 'normal'?

**Operating System:**
Ubuntu 18.04

**Cryptofeed Version**
1.6.2

[2020-12-14 08:18] interzonez opened #355 "Unable to add LiquidationsArctic to script"
I'm simply adding LiquidationsArctic to demo_open_interest.py

Adding just as the others:

`def main():
    f = FeedHandler()
    f.add_feed(Bitmex(pairs=['XBTUSD'], channels=[TRADES, OPEN_INTEREST, TICKER], callbacks={
               OPEN_INTEREST: OpenInterestArctic('cryptofeed-test2'), TRADES: TradeArctic('cryptofeed-test2'), TICKER: TickerArctic('cryptofeed-test2'), LIQUIDATIONS: LiquidationsA

[2020-12-14 09:16] yohplala opened #356 "Add support for funding in Bybit"
**Feature request**
Add support for funding in Bybit

[2020-12-14 18:46] AlgoTrader5 opened #357 "Support Crypto.com exchange"
**Is your feature request related to a problem? Please describe.**
Crypto.com is a relevant exchange in the cryptocurrency space

**Describe the solution you'd like**
L2 Book, Ticker, Trades

**Describe alternatives you've considered**
n/a

**Additional context**
Add any other context or screenshots about the feature request here.
API docs look pretty solid. Supports REST and Websocket
https://exc

[2020-12-14 21:59] bmoscon commented on #355
can you confirm what version of cryptofeed you are using, and what version of Python? I added that import to the same file and had no issues.

[2020-12-14 22:02] bmoscon commented on #354
fixed. weird that was coming, the docs say that for the v2 api only results and indicative auction messages should be coming. Its being ignored now.

[2020-12-14 22:02] #354 closed

[2020-12-14 22:04] bmoscon commented on #347
it looks like you're subscribed to USDC, USD, USDT and DAI trading pairs. Are you still getting data for all 4? Were those the only 4 you subscribed to on kraken?

[2020-12-14 22:06] bmoscon commented on #343
I'm working on an update to the connection architecture in cryptofeed that will allow an exchange to have multiple websocket connections open (for things like this, as well as for authenticated feeds)

[2020-12-14 22:10] bmoscon commented on #328
I have a fix for this, but it will require waiting until I've rolled out my update to the connection architecture to allow exchanges to connect on more than one websocket. Probably another week or two

[2020-12-15 06:35] yohplala commented on #347
Hi @bmoscon
I have weird things indeed.
For USDT pair, over 24 hours, when I record parquet file every 2 hours, I only have 5 of them:
- first at ~3:45am
- 2nd at ~9:15am
- 3rd at ~2pm
- 4th at ~6pm
- 5th at ~10:30pm
Parquet appending does not ensure fix time writing, only how many appendings there are, but it seems to me that BTC-USDT pair is a traded pair, so this should be every 2 hours.
(I do

[2020-12-15 06:40] yohplala commented on #343
hi @bmoscon
ok great,
also for Binance that limits number of symbol for one websocket? (meaning a same websocket can be opened several times? or are there necessarily different websockets?)

[2020-12-15 07:05] interzonez commented on #355
I was using Python 3.6 Anaconda - switched to 3.8 working now.

[2020-12-15 07:06] interzonez opened #358 "Reading binary data from MongoDB or Arctic"
How can I read the binary data from within the MongoDB or from within the Arctic store?

Using Mongo Compass all data is in binary form.

I've got this far with python:

`>>> pprint.pprint(cryptofeed2.find_one())
{'_id': ObjectId('5fd8774edae92XXXXXXXXX'),
 'compressed': True,
 'data': b'H\x00\x00\x00\xf3\x0e\x00.?\xdaV\XXXXXXXXXXXX'
         b'\x00\x00T\x00\x00\x00M\x00\x00\x00E\XXXXXXXXXXXX'

[2020-12-15 14:11] bmoscon commented on #358
arctic compresses data so its only readable via the arctic library. if you want raw data stored, use the mongo backends.

[2020-12-15 14:11] #358 closed

[2020-12-15 15:33] bmoscon commented on #347
your timestamp from the logs correspond with a kraken maintenance window. It makes me think that after a maintenance window connections may need to be reestablished. https://status.kraken.com/incidents/2fr2t4gcchdc

[2020-12-15 15:44] bmoscon commented on #347
do the warnings go on forever or do they stop at some point?

[2020-12-15 16:13] yohplala commented on #347
Here are they all. It is not 'forever', but they do be some.

[code]

[2020-12-16 01:33] interzonez commented on #358
Got it thanks!

[2020-12-16 10:14] interzonez opened #359 "Store timestamps as date from unix"
How can I have the timestamp as date instead of unix format when feed is sent to MongoDB?

Can this be done in the python script or need to updateMany (having trouble with this) in Mongo Shell e.g.

Thanks.

[2020-12-19 20:45] bmoscon commented on #359
you'd need to modify the code for the mongo backend to convert the unix timestamps to something else. im not sure its something you want to do from python or mongo shell after the fact, unless you have a small amount of data.

[2020-12-19 20:45] #359 closed

[2020-12-19 20:45] bmoscon commented on #355
ok great

[2020-12-19 20:45] #355 closed

[2020-12-20 20:04] yohplala opened #360 "Bitfinex: failing pair normalization strategy"
**Describe the bug**
`BCHN` & `BCHABC` are not distinguished by Cryptofeed/Bitfinex.
`LINK` is not recognized by Cryptofeed/Bitfinex.

Current code in `pairs.py` assumes only 3 letters allow identifying a coin.
[code]

-  Which does not allow distinguishing `BCHN` and `BCHABC`.
  "tBCHABC:USD"
  "tBCHN:USD"
  (to be noticed within the normalization effort: Binance, Kraken, Huobi, OKEX, FTX... keep

[2020-12-20 20:27] yohplala opened #361 "Bitmex: implement pair normalization"
**Feature request**
Implement pair normalization for Bitmex as well.
Possibly, make both possible: legacy pair naming and pair normalization? (for those willing to keep legacy pair naming)

**Additional context**
I am using a script to generate config file, at least the part concerning exchanges.
I basically list:
- base coins
- quote coins
- exchanges
- channels
The script checks then every possi

[2020-12-20 23:21] bmoscon commented on #361
each exchange has a generate pairs method, even bitmex - why doesnt your strategy work?

[2020-12-21 06:03] yohplala commented on #361
Hi @bmoscon ,
Sorry, the ticket is possibly not very clear.
Pair normalization is not implemented for Bitmex. For instance, to query `BTC-USD` to Bitmex, you need to write `XBTUSD` in the config file.
In this sense, my strategy fails because it only generate pairs in the form `base_coin-quote-coin`.
Bests

[2020-12-22 01:04] bmoscon commented on #361
ok, makes sense. its probably time to bring bitmex into the normalized pair fold :)

[2020-12-23 14:23] bmoscon commented on #360
fixed

[2020-12-23 14:23] #360 closed

[2020-12-23 14:27] yohplala commented on #361
Hit @bmoscon, hi @olibre
I am sorry, i just checked PR #363, and from what I could not find in this PR, I just confirm it does not implement it.

[code]

Results
[code]

Normalized paris should read (proposing to use `_` to further split contract end for futures, similar to Binance)
[code]

[2020-12-23 14:28] yohplala commented on #361
@bmoscon
could you re-open this ticket please?

[2020-12-23 14:42] bmoscon commented on #361
yes, i closed the wrong one

[2020-12-23 14:43] bmoscon commented on #361
The other PR was misnamed I believe, it fixed the bitfinex issue, not the bitmex issue

[2020-12-23 16:06] yohplala commented on #361
Hmm, I had a look: there have been some new lines for BitmAx when before there was nearly none.
So yes, I think it is misnaming, but Bitmax instead of Bitmex :+1:

Thanks Bryant

[2020-12-23 20:40] olibre commented on #361
Sorry guys. The bug is in my brain: confused the names Bit[m]ex and Bit[fin]ex. :open_mouth:

[2020-12-24 17:56] bmoscon commented on #292
done

[2020-12-24 17:56] #292 closed

[2020-12-24 22:53] bmoscon commented on #343
fixed now that exchanges can create multiple websocket connections!

[2020-12-24 22:53] #343 closed

[2020-12-24 22:57] bmoscon commented on #311
since the data does not appear to be available via that channel, closing. If there is another way to provide the true ticker data, please reopen and provide that information.

[2020-12-24 22:57] #311 closed

[2020-12-24 23:50] bmoscon commented on #279
fixed now that each exchange can create more than 1 connection :D

[2020-12-24 23:50] #279 closed

[2020-12-25 00:03] bmoscon commented on #328
this has been fixed!

[2020-12-25 00:03] #328 closed

[2020-12-25 23:43] bmoscon commented on #313
support added!

[2020-12-25 23:43] #313 closed

[2020-12-26 08:29] yohplala opened #369 "Adjust `delay` depending `feed.sleep_time`?"
**Describe the bug**
Before exchange connection refactoring, `sleep_time` attribute has been used for `rest_feed`(Coingecko & Whale_Alert) to initialize `delay`:
[code extract from commit](https://github.com/bmoscon/cryptofeed/commit/89701073c917a18224500e04f158fc247e70cc8d#diff-9fad70d8501bc6736b79d842f38708a0cb13c76fd0dbcbc8793883cfb9eff685L235)

This need arises because sleep time for rest conn

[2020-12-26 14:31] bmoscon commented on #369
sleep time is passed in and used as the sleep for https connections in the asyncconnection object. If there are connection issues it will fallback to the connect handler in feedhandler and retry the connection. Why won't that work here?

[2020-12-26 15:29] bmoscon commented on #369
I think this will fix the issue for coingecko:

https://github.com/bmoscon/cryptofeed/commit/b00fe8922e95331919c32d7af2137f3bf17d9cf6

Let me know what you think.

[2020-12-26 16:41] yohplala commented on #369
I just had a look and it appears good to me Bryant, thanks!

[2020-12-26 19:31] #369 closed

[2020-12-27 21:49] UnitNote opened #370 "Demos & examples fail with import errors"
**Describe the bug**
Various import errors trying to run the demos / examples after the standard install

**To Reproduce**
[code]

**Expected behavior**
Expect demos & examples to work immediately when install procedure is followed as given

**Operating System:**
 - Ubuntu 18

**Cryptofeed Version**
1.4.1

[2020-12-27 21:50] bmoscon commented on #370
cryptofeed requires 3.7+, you are using 3.6

[2020-12-27 21:50] #370 closed

[2020-12-27 22:24] UnitNote opened #371 "Pipenv installation broken"
**Describe the bug**
When installing via `git clone` and `pipenv`, the user must also run `python3 -m pip install .`, running `python3 -m pipenv install` is not enough (with Python 3.7.5), but the INSTALL.md documention does not mention this.

The error appears to be that the pipenv install does not result in uvloop (or cryptofeed itself ) being installed.

**To Reproduce**
[code]

**Operating Sys

[2020-12-27 22:27] UnitNote opened #372 "NBBO demo fails"
**To Reproduce**
[code]

[2020-12-28 00:09] bmoscon commented on #371
fixed. i dont use pipenv, so it may or may not always be up to date.

[2020-12-28 00:15] bmoscon commented on #372
the code in examples/demo_nbbo.py works. I've updated the readme to mirror that

[2020-12-28 00:15] #372 closed

[2020-12-28 00:27] bmoscon commented on #371
@olibre if you think you can fix the pipenv, go for it, otherwise I'll just remove it, I'm not a pipenv user, and I'm not really willing to support it. I can't get it to work on my mac laptop either - i just get a ton of strange errors from it trying to build numpy

[2020-12-28 00:32] bmoscon commented on #371
to be clear the issue is not that uvloop is not in the pipfile, the code will work without that dependency - after all windows doesnt support it at all

[2020-12-28 02:19] olibre commented on #371
Hi @bmoscon I am having a look on this issue...

[2020-12-28 02:43] bmoscon commented on #371
i can post my tracebacks if necessary

[2020-12-28 02:55] olibre commented on #371
Hi @UnitNote
In lieu of `python examples/demo.py` try to use:
[code]

or:

[code]

If you want to avoid having to set `PYTHONPATH`, you can use this command line:

[code]

That creates a `Pipfile` similar to:
[code]

I am updating the INSTALL.md ...

@bmoscon I am wondering about your NumPy build errors when using Pipenv on macOS.
1. How do you install the NumPy? (or Pandas) Do you use Pip?
2. Wha

[2020-12-28 08:08] qinghuangchan opened #374 "Binance futures ticker API changed"
**Describe the bug**

it seems like Binance Futures has slightly changed their API..

previously, as documented in binance_futures.py, it seems like the ticker stream message has an empty message type field, and the code relied on that to process ticker info
[code]

However, it seems like from the 2020-12-08 onwards, binance changed their api to publish e: bookTicker

`2020-12-08 11:16:09,671 : WA

[2020-12-28 15:25] olibre commented on #371
Hi @UnitNote
Please let me know if the refreshed INSTALL.md fixes your issue:
https://github.com/olibre/cryptofeed/blob/update-install-and-setup.py/INSTALL.md
Merry xmas

[2020-12-28 22:16] UnitNote commented on #371
On Sun, Dec 27, 2020 at 04:28:07PM -0800, Bryant Moscon wrote:

There needs to be *some* kind of documented way to build from a `git
clone`, that's fairly basic... if the only documented way to use
`cryptofeed` is with `pip install` then that makes it very hard to test
recent changes to the codebase.

[2020-12-28 22:34] UnitNote commented on #371
I tried and got a pipenv.patched.notpip._internal.exceptions.HashMismatch error during the install stage, but I assume that's a local issue and the extra PYTHONPATH variable is enough to resolve the issue under normal circumstances.

[2020-12-28 22:34] UnitNote commented on #371
I tried and got a pipenv.patched.notpip._internal.exceptions.HashMismatch error during the install stage, but I assume that's a local issue and the extra PYTHONPATH variable is enough to resolve the issue under normal circumstances.

[2020-12-28 23:27] bmoscon commented on #371
@UnitNote there are multiple ways to install python packages from source. two others are `python setup.py install` and `pip install -e .`

[2020-12-28 23:28] #371 closed

[2020-12-28 23:36] bmoscon commented on #371
@olibre i use conda to create virtualenvs and i use pip or setuptools to install all dependencies.

I've tried removing pandas from the pipfile, adding numpy to it, no avail. Still fails:

[code]

if i install with pip, it just downloads and installs the wheel, as expected. With pipenv it tries to build the source. No idea.

[2020-12-28 23:54] UnitNote commented on #371
Fixed the hash error, but running it fails:
[code]

[2020-12-29 00:15] bmoscon commented on #371
that appears to be an error decoding the response from the exchange. I just tried the demo locally, and saw no error. could you try again? not sure if coinbase was having maintenance or not.

[2020-12-29 09:57] olibre commented on #371
Hi @bmoscon
I have checked the Pipenv output and I do not understand why it does not downloads the package in the same way as Pip!
Anyway, I have seen you are using Python-3.9 => you may add Python-3.9 in the supported versions in `setup.py`.

Hi @UnitNote
As @bmoscon has noticed, your Pipenv/Cryptofeed is OK. The Cryptofeed stopped because of an invalid JSON response from Coinbase. If this issue

[2020-12-29 14:31] bmoscon commented on #371
@olibre 3.9 is in the supported versions already

[2020-12-29 14:37] bmoscon commented on #374
fixed - thanks!

[2020-12-29 14:37] #374 closed

[2020-12-30 02:41] bmoscon commented on #291
fixed (for coinbase). Other exchanges that support book snapshots via REST requests can probably benefit from the same treatment.

[2020-12-30 02:41] #291 closed

[2021-01-01 16:03] bmoscon opened #376 "Poloniex historical data response format changed"

[2021-01-01 16:13] bmoscon commented on #376
fixed

[2021-01-01 16:13] #376 closed

[2021-01-06 16:32] AngryBeam opened #382 "ImportError: cannot import name 'SIGHUP' from 'signal'"
Hi,

After clone this git and done pip install cryptofeed[all] + python setup.py install

I am trying to run Basic usage code

[code]

But got an error "ImportError: cannot import name 'SIGHUP' from 'signal'

[2021-01-06 16:36] bmoscon commented on #382
provide os info and python version please

[2021-01-06 16:51] olibre commented on #382
`signal.SIGHUP` can be missing on some macOS (Python 3.6)
https://stackoverflow.com/q/58787330

Please @AngryBeam provide your system version, Python version...

[2021-01-06 17:03] AngryBeam commented on #382
I am using window10 and python3.7

[2021-01-06 17:16] bmoscon commented on #382
fixed, you'll need to update the source code from github or wait for a release on pypi

[2021-01-06 17:16] #382 closed

[2021-01-06 21:14] Eavan0103 opened #384 "There was an API change due to the addition of Bithumb's BTC market."
*....

[2021-01-06 21:25] bmoscon commented on #384
i'm guessing this was the wrong repo/project - closing

[2021-01-06 21:25] #384 closed

[2021-01-07 11:21] zfsamzfsam commented on #225
ftx-recorder
	https://github.com/evanatyourservice/ftx-recorder
	record trades, orders, and account activity from FTX Exchange to influxdb (for viewing in a grafana dashboard)

[2021-01-07 23:19] strcat32 opened #386 "Add Huobi USDT/Linear Swaps"
if i am not mistaken only coin margined Swaps for Huobi are implemented.

https://huobiapi.github.io/docs/usdt_swap/v1/en/#swap-api-access-guide

The API Url is also slightly different:
https://api.hbdm.com/linear-swap-api/v1/swap_contract_info

Or am i missing something?

[2021-01-08 01:34] bmoscon commented on #386
I'm not sure what you are asking for here

[2021-01-08 03:14] strcat32 commented on #386
Huobi has coin margined swap futures (BTC-USD, etc.) and Tether margined futures (BTC-USDT).
Cryptofeeds only supports coin margined future as far as i can see?!

https://futures.huobi.com/en-us/swap/exchange/#symbol=BTC (supported)
vs
https://futures.huobi.com/en-us/linear_swap/exchange/#contract_code=BTC-USDT (not supported)

[2021-01-15 16:36] jeans-all opened #395 "No module named 'cryptofeed.symbols' when executing demo.py"
Hi, I am new to this project and follow up on the demo.

After installing cryptofeed on Windows by 'pip install cryptofeed[all]', I literally copied demo.py into my local machine and executed it, but it failed with an error as follows:

Traceback (most recent call last):
  File "C:\Users\donta\Desktop\Arbitrage\demo.py", line 8, in <module>
    from cryptofeed.symbols import binance_symbols
Module

[2021-01-15 17:14] bmoscon commented on #395
the version on github and the version in pypi are different, so if you want to use the examples from github directly you need to be using the latest version in master, or wait until a release

[2021-01-15 19:09] #395 closed

[2021-01-18 09:18] yohplala opened #401 "Updating WHALE_ALERT feed to latest cryptofeed standards"
Hi @bmoscon,
In the process of updating WHALE_ALERT feed, I have a trouble in fitting Whale Alert HTTP request into (what I understand is) new Cryptofeed logic.
For this I am reviewing what you have done in COINGECKO feed (hence another question in Slack that I have also raised regarding Coingecko).

Ok, this ticket is about WHALE_ALERT HTTP request to be issued to retrieve data.
This HTTP request

[2021-01-18 12:56] olibre commented on #401
Hi @yohplala

Bryant re-factorized/unified the HTTP/websocket stuff around the Christmas holidays.
Just after, I have started a deeper connection refactoring impacting Feed and FeedHandler, and adding a new file `Runner.py`. I am working on this PR to change (improve?) the way to manage the websocket connection and the HTTP polling. Please see https://github.com/bmoscon/cryptofeed/pull/381

To eas

[2021-01-19 08:38] yohplala commented on #401
Hi @olibre,
Thanks for your detailed feedbacks.

1.
__Are you interested in my rewritten versions of Whale Alert and CoinGecko? (tell me before I revert them, I have already started reverting the channel=SCORES)__
I am a strong believer in open source, and this is why I PR'ed in the 1st place COINGECKO and WHALE_ALERT feeds. The initial implementation fits my need, which does not mean it has to st

[2021-01-19 09:34] olibre commented on #401
Perfect if you are an end user/trader of Cryptofeed. :+1:
I want to deliver a clear source code that traders can easily understand, and you can help me with the design.
The idea is not to bother end users too much with async/await semantic.

My personal version in CoinGecko writes one MARKET_INFO per symbol, in lieu of writing one MARKET_INFO for all symbols linked to one asset (e.g. BTC). Therefo

[2021-01-19 09:46] yohplala commented on #401
__If you want to use my CoinGecko and/or WhaleAlert versions, I can push another PR, to replace the current one(s) with my version(s).__
Please, can you have them available somewhere so that I can review them?
I mean Ican review also the COINGECKO feed with your change regarding SCORE if you want.

Regarding COINGECKO:
- I don't mind splitting scores and market_info.
- I like very much what Bryant

[2021-01-19 09:48] yohplala commented on #401
hmm, this discussion is kind of drifting away, from WHALE_ALERT, to COINGECKO, to COINPAPRIKA... :)

[2021-01-19 12:23] olibre commented on #401
Yep, we can add an Config option to let the user decide to produce MARKET_INFO keeping together all coin related symbols, or to produce MARKET_INFO for each individual symbol. :+1:

Concerning COINPAPRIKA, Yes, I am also interested by collecting their liquidity-aggregated information. However, I do not have time to investigate more about this data retrieval.

[2021-01-19 18:49] yohplala commented on #401
Ok @olibre , so I am in stand-by mode to review this PR when you feel it is ok to be reviewed. Just let me know. Have a good evening, Bests,

[2021-01-19 23:19] olibre commented on #401
OK, I will try to find some time during the week-end for another pull request...

[2021-01-23 08:47] DennyZen commented on #285
@bmoscon

[2021-01-23 08:51] DennyZen commented on #285
i am using Bitmex.
if they dont have sequence numbers - can i get new orderbook snapshot by rest periodically and check it  ?
@bmoscon

[2021-01-23 17:25] bmoscon commented on #285
@DennyZen you can, but it would be hard to know how far off the rest book was from the websocket book, its unlikely they'd be identical at any given moment, you'd have to look backwards at an older websocket book

[2021-01-27 11:27] Quenos opened #404 "Binance OI feed crashes and does not recover"
When a feed crashes it seems as if the exception is not caught and successively the feed stops and is not recovered.
I notice this primarily on the Binance Futures OI feed. That the feed crashes is most likely because of Binance Futures and not cryptofeed perse.

Would be great if this could be somehow fix, or worked around.

I've tried to fix it myself, but am not able to do so. So some help woul

[2021-01-28 01:49] bmoscon commented on #225
This is supported now - currently Gemini supports authenticated data channels. The base support is now available, so other exchanges can be added. I cannot get accounts for most the exchanges due to the fact I'm a US citizen, so support for many popular exchanges will need to be added by others

[2021-01-28 01:49] #225 closed

[2021-01-28 01:55] werner-ventures commented on #320
I am working on this, though I have little experience. Any support/reinforcements would be appreciated.

[2021-01-28 02:13] bmoscon commented on #320
@werner-ventures  there are docs for this, though slightly outdated: https://github.com/bmoscon/cryptofeed/blob/master/docs/exchange.md

[2021-01-31 01:02] bmoscon commented on #404
Binance does not support open interest, binance futures does. I'm not sure how you configured it, but when I try to I get the correct error:

cryptofeed.exceptions.UnsupportedDataFeed: open_interest is not currently supported on BINANCE

[2021-01-31 13:10] Quenos commented on #404
Sorry for not being clear on this one. But I meant Binance Futures obviously.
So after a while (can take a couple of days) I get this error.

[2021-01-31 13:19] bmoscon commented on #404
ok - thanks for clarifying, I'll take a look

[2021-02-01 11:08] alekiv opened #406 "Latency for handling book messages increasing in time with max_depth"
I'm getting Binance book data and I have a question about latency increase for handle book messages in time.
When I start Cryptofeed, latency is ~0.5ms, however, right after that, it starts to go up and continue increasing. If I restart it, it is low again.

![image](https://user-images.githubusercontent.com/9446663/106450411-3612b600-6496-11eb-97f7-57341dd2187a.png)

right after start:
time() - r

[2021-02-01 13:51] Jay54520 opened #407 "How to Make Sure WS Data is Up to Date"
Definition of up to date: latency between local order book and remote is within `x` ms

My solution: Check the latency by `current_timestamp - receipt_timestamp`

But `receipt_timestamp` may not be updated if the server didn't send due to various reasons such as order book doesn't change or cryptofeed has some errors. If using REST won't have this problem. Is there a better way to handle this prob

[2021-02-01 13:54] bmoscon commented on #407
some exchanges just don't provide a timestamp on the book data at all. I'm not sure why you wouldnt have the problem with rest - you don't know the delay between the data there either, or if the book data they provide via rest is real time, plus due to rate limits, you can probably only poll the book a few times a second, when lots of exchanges have books that update much more frequently than that

[2021-02-01 14:18] Jay54520 commented on #407
The lantency of REST is fixed while ws of cryptofeed can be much longer after retrying max retires when entering error.  And there is a cached local order book of ws while REST doesn't have.

[2021-02-01 14:25] Jay54520 opened #408 "How to Handle Custom Exception"
I want to handle my custom exception in callback but cryptofeed doesn't directly raise it  but trying to reconnect.

[code]

[2021-02-01 14:44] bmoscon commented on #407
i disagree, the latency of both should vary wildly - there is the internal latency on the exchange side - after the book is updated it takes some time for the update to be ready to send via websocket or other real time messaging systems, and the same goes for rest - the data returned by polling systems lives somewhere and has to be populated. that latency is probably pretty constant, and may only

[2021-02-01 15:10] yohplala commented on #407
Hi @Jay54520
Sorry for maybe a dumb question, but why don't you check `timestamp`in the 1st place vs `current_time`?
Why `receipt_timestamp`?
Would I want to check I have 'recent' data, then I need to checl `timetamp` which is the timestamp of the data on the exchange's side.

[2021-02-01 23:07] bmoscon commented on #406
I tested on the latest version in master, I get very different values. I'm not sure what hardware you are using, or if the differences are attributed to the version difference, or OS differences, so can you try on the latest in master and see if it changes dramatically? also, using depth= can add latency because a new book needs to be created and returned to the user. When I ran, I ran this:

[cod

[2021-02-01 23:08] bmoscon commented on #408
there is currently no way to handle an exception. cryptofeed handles them internally and resets the connection as needed. Is there a need to provide a custom exception handler?

[2021-02-02 11:10] alekiv commented on #406
Thanks for testing it. Will also test additional scenarios.

[2021-02-02 18:48] sebabuso opened #411 "demo_postgres.py error"
Hi. I am testing demo_postgres.py and it does not create the corresponding tables in the DB. Is there a file.sql to create the empty tables?

The error:
File "asyncpg/protocol/protocol.pyx", line 316, in query
asyncpg.exceptions.UndefinedTableError: relation "trades" does not exist

[2021-02-02 22:01] alekiv commented on #406
tests results:
[code]
![image](https://user-images.githubusercontent.com/9446663/106667522-14aaea80-65ba-11eb-8049-c651a3bf2d00.png)

[code]
![image](https://user-images.githubusercontent.com/9446663/106667678-47ed7980-65ba-11eb-8811-ea722d1123ac.png)

[code]
![image](https://user-images.githubusercontent.com/9446663/106667784-71a6a080-65ba-11eb-83f9-b041d1fb72ed.png)

[code]
![image](https://user

[2021-02-02 23:55] bmoscon commented on #406
I am surprised it continually increases, but max_depth is having to do extra processing on the book to truncate it, so its not totally unexpected that it will increase the latency vs non truncated books. The code on master does have some performance improvements, but I wouldnt expect this to be wholly resolved. My new order book code will make this a lot faster (once its completed). I'll leave thi

[2021-02-02 23:57] bmoscon commented on #411
no, the tables can be configured in many ways with many different configurations, indexing, etc so I don't provide anything.

[2021-02-02 23:58] bmoscon commented on #404
ok, this will be fixed once the binance code is migrated to the new connection abstraction. Currently it just creates a task for the rest endpoints, but nothing is there to restart them.

[2021-02-03 03:22] Jay54520 commented on #407
In my server, the `timestamp` from exchange is greater than the `receipt_timestamp` from local, this means my server's time is smaller. Use `receipt_timestamp` can avoid the not synced time but also can check whether the data is fresh, you just need to reduce the latency of network.

[2021-02-03 08:28] yohplala commented on #407
Thanks for taking the time to explain. I understand.
the trouble then is that you have no shared reference time with the exchange, and it is the exchange time that will tell you if the data is 'fresh' or not.
Tricky topic.

[2021-02-03 09:48] Dynamikey commented on #406
@alekiv may I ask what you used to graph your results? Did you use matplotlib or something like grafana?

[2021-02-03 19:24] alekiv commented on #406
it is Grafana

[2021-02-06 01:28] bmoscon commented on #408
@Jay54520 let me know if a user defined callback handler is something you'd want to see. I can see it being done one of three ways.

1. User specifies list of exceptions its DOES not want cryptofeed to handle
2. User provides list of exceptions and corresponding handlers for said exceptions
3. user provides only an exception handler that will be used to handle ALL exceptions, including all interna

[2021-02-06 01:39] Jay54520 commented on #408
I prefer `1`. After cryptofeed raising the exception, user can catch and handle it in his existing exception handler, `2` is the same as `1` in this scene. The majority exceptions that user want to handle are in the callbacks of cryptofeed but not the internal logic such as connecting, parsing raw response, so user doesn't want to handle all exceptions in `3`.

[2021-02-06 01:48] Jay54520 opened #412 "Support Order Channel in FTX/FTX.US"
**Is your feature request related to a problem? Please describe.**
There is already trade channel but order channel is better in this scene. I use market order so the order will be executed immediately but sometimes with many trades. I only need one signal to know whether the order is filled but trade channel may send many signals.

**Describe the solution you'd like**
Support order channel: https

[2021-02-09 00:36] bmoscon commented on #412
thats an authenticated channel. Support exists for those now, but it is a lot more work than just adding a public channel. I'll add this to the list

[2021-02-12 04:40] leeauk21 opened #415 "Binance Futures Postgres Ticker Channel Not Working"
2021-02-12 12:37:49,557 : WARNING : BINANCE_FUTURES: Unexpected message received: {'e': 'bookTicker', 'u': 202921797037, 's': 'BTCBUSD', 'b': '47392.1', 'B': '0.015', 'a': '47432.4', 'A': '1.449', 'T': 1613104669685, 'E': 1613104669691}
2021-02-12 12:37:49,559 : WARNING : BINANCE_FUTURES: Unexpected message received: {'e': 'bookTicker', 'u': 202921797231, 's': 'BTCBUSD', 'b': '47393.6', 'B': '0.00

[2021-02-12 09:54] mfw78 opened #416 "Deribit Liquidations channel not working"
**Describe the bug**
When subscribed to `TRADES` channel, with `LIQUIDATIONS` callback comprised of a class which inherits `KafkaCallback` and `BackendLiquidationsCallback`, no liquidation messages are passed to the Kafka topic.

**Expected behavior**
Liquidation messages passed to the applicable topic.

**Operating System:**
- Kubernetes 1.20.1 - Flatcar Container Linux by Kinvolk 2705.1.0 (Oklo)

[2021-02-12 22:05] bmoscon commented on #416
Can you provide the `add_feed` method calls with all the params, callbacks, etc?

[2021-02-12 22:07] bmoscon commented on #415
Pretty sure this has been fixed on master - I just tested it locally and it works for me. Please upgrade to the latest version in github and try again.

[2021-02-12 22:08] #411 closed

[2021-02-13 02:02] mfw78 commented on #416
Find the source code that I'm working with [here](https://github.com/bmoscon/cryptofeed/files/5974963/main.txt). This is the complete implementation, with the only external dependencies being git commit `6275d95`.

[2021-02-14 06:40] 0trade opened #417 "Put multiple symbol in same line export"
Hello Mr Moscon,

The simple example is:

[code]

The export this:
`Timestamp: 1613284390.284 Feed: UPBIT Pair: BTC-USDT Book Bid Size is 15 Ask Size is 15`
`Timestamp: 1613284390.284 Feed: UPBIT Pair: ETH-USDT Book Bid Size is 15 Ask Size is 15`

Is there any chance put two symbol in one line, like is:
`Timestamp: 1613284390 Feed: UPBIT Pair: BTC-USDT Book Bid Size is 15 Ask Size is 15, Pair: ETH

[2021-02-14 14:30] bmoscon commented on #417
probably not for a few reasons
1. None of the callbacks assume lists of data
2. Most exchanges send updates one at a time, or one at a time per symbol, so to return data like that would require waiting, which would add unnecessary latency
3. to get that working would require a lot of work, for little, if any, gain

[2021-02-14 14:46] 0trade commented on #417
Noted, thank your response, sir.

[2021-02-14 14:46] #417 closed

[2021-02-14 19:09] thisiscam opened #418 "Dynamically adding feeds"
**Is your feature request related to a problem? Please describe.**
I'm running cryptofeed in a separate thread, and I would like to dynamically subscribe to feeds from the main thread.
Is this already supported?

**Describe the solution you'd like**
Potentially, the `add_feed` function should be callable from another thread?
Currently I get an error saying `No feeds specified`here https://github.c

[2021-02-15 22:04] bmoscon commented on #418
its not currently supported, and calling add_feed later (after run) won't work. Run is what does the actual work of creating the tasks.

[2021-02-15 22:19] bmoscon commented on #416
I've reviewed the deribit docs, and the code, it looks correct, how long did you wait while testing? liquidations dont happen that frequently

[2021-02-15 22:19] bmoscon commented on #415
this has been fixed in master

[2021-02-15 22:19] #415 closed

[2021-02-16 17:22] thisiscam commented on #418
I'm temptive to implement this, but would be good to hear from you if there is a fundamental reason why we cannot support this?
For example, does all the exchanges support dynamically subscription (I'd expect them to)?

Also, does it make sense to make feedhandler to fully support asyncio? Like, making the `run` and `subscribe` functions async -- this will allow better integration with existing as

[2021-02-16 17:56] bmoscon commented on #418
I didnt say it cant be supported, I said it wont work now.

I'm not sure what your second question means. Cryptofeed only works with asyncio, there isnt anything here that would prevent integration, so im not sure how we can better integrate.

[2021-02-16 18:04] cygenb0ck opened #421 "demo_mongo.py results in RuntimeError: Task got Future attached to a different loop"
**RuntimeError when running example**
`
RuntimeError: Task <Task pending name='Task-1' coro=<FeedHandler._connect() running at PATH/cryptofeed/cryptofeed/feedhandler.py:322>> got Future <Future pending cb=[_chain_future.<locals>._call_check_cancel() at /usr/lib/python3.8/asyncio/futures.py:360]> attached to a different loop`

**To Reproduce**
execute examples/demo_mongo.py

**Operating System:**
U

[2021-02-16 18:40] thisiscam commented on #418
Thanks for confirming! I was just trying to understand the possible outcomes before getting my hands on the code.

Sorry I wasn't clear.
My imagined use case is the following:
Some existing code uses `asyncio` for its own processing.
For example, it might have an async task that is run every few seconds -- like making a decision for if to open a buy order or not.
It would naturally like to use `cr

[2021-02-17 00:43] bmoscon commented on #421
fixed

[2021-02-17 00:43] #421 closed

[2021-02-17 00:49] bmoscon commented on #407
I dont think there is anything else I can answer on this topic, so closing the ticket, since its a question and there is nothing left to do here

[2021-02-17 00:49] #407 closed

[2021-02-17 00:53] bmoscon commented on #347
I updated the logging here. Didn't realize we werent actually logging the message. the fact that its always channel id 400 makes me think it some other informational message that is being misinterpreted. If you see it again (and you're using the updated code that logs the message), please post it here @yohplala

[2021-02-17 06:50] yohplala commented on #347
@bmoscon thanks,  i will.
Yes, not using the updated code yet.
'lazily waiting' for @olibre proposal regarding whale alert.
(much busied on other stuff any way,  but yes,  as soon as we have something for whale alert, i will give it a test)

[2021-02-17 08:37] mfw78 commented on #416
@bmoscon My bad. It seems the consumer that I wrote to test the topic was incorrectly configured. On closer inspection the liquidations were indeed being logged.

[2021-02-17 08:37] #416 closed

[2021-02-17 08:39] mfw78 commented on #418
Not to encourage too much feature creep, I'd add my support for requesting dynamic channel subscriptions. Preferably this would be great if something along the lines of a simple API that allowed feeds to be added programmatically by a cryptofeed manager. A bonus would be metric reporting so it could be monitored on a clustered scale.

[2021-02-17 12:14] bmoscon commented on #418
@thisiscam it can already do that. There are kwarg options that indicate the caller wants to manage the loop lifetime themselves, so all run will do in that case is add the tasks, but it will not start the loop.

[2021-02-17 16:59] cygenb0ck commented on #421
thank you!

[2021-02-17 21:08] Dynamikey commented on #418
I did something similar to what you're asking for in this PR https://github.com/Dynamikey/cryptofeed/pull/5/files. Main thing is that "connection" object in feed is stored for later use. I also have a separate async task to poll for new instruments to subscribe to. Perhaps @bmoscon  has a better suggestion as to how this should be done?

[2021-02-18 12:12] OnlyC commented on #404
I'm getting the same issue.

[2021-02-20 14:59] zhenpingfeng commented on #406
I have this problem for a long time too. The latency keeps increasing, sometimes even more than several minutes.

[2021-02-20 17:00] bmoscon commented on #404
fixed

[2021-02-20 17:00] #404 closed

[2021-02-21 11:24] 0trade opened #422 "Currency map in Poloniex"
The Stellar XLM be called "STR" at Poloniex, so i believe need a little currency map in Poloniex Exchange.

[2021-02-21 14:23] bmoscon commented on #422
fixed, thanks for raising the issue

[2021-02-21 14:23] #422 closed

[2021-02-21 16:07] bmoscon commented on #406
@zhenpingfeng I'm actively working on several improvements that will reduce the book processing time (which adds this latency) by 80%+

[2021-02-21 21:27] bmoscon commented on #418
Added a new method, `add_feed_running` that allows the creation of new feeds on an already running instance of a feedhandler. See https://github.com/bmoscon/cryptofeed/blob/master/examples/demo_loop.py for an example

[2021-02-21 21:27] #418 closed

[2021-02-21 21:34] Dynamikey commented on #406
@bmoscon May I ask what’s exactly causing this latency increase here pls? Also, what methods are you using to reduce the processing time? Thanks

[2021-02-21 21:40] bmoscon commented on #406
for some exchanges and some trading pairs you have have over 1000 updates a second on an orderbook. Processing that data takes time, and for some scenarios, you cant process the messages faster than they are received. Since most the issue is with Python being slow (relatively speaking, when compared to compiled languages) I'm experimenting with Cython and C implementations for these pain points. I

[2021-02-23 22:24] bachirelkhadir opened #423 "Bitstamp L3 book"
First all, thank you to the author for the fantastic work  you put in!

I am not sure if I encountered a bug or if I am simply doing something wrong. I am trying to get level 3 orderbook data from Bitstamp. Here is the code I am using.

[code]

This code fails and throws the following error:
`2021-02-23 17:18:47,532 : ERROR : Error: UnsupportedDataFeed('book_delta is not currently supported on BIT

[2021-02-24 00:44] bmoscon commented on #406
For those interested, see https://github.com/bmoscon/cryptofeed/discussions/420#discussioncomment-399654

[2021-02-24 12:18] BeforeFlight opened #424 "Set create_db callback's parameter to False by default"
Backend - InfluxDB v1.8
When authorizing with credentials for _non-admin_ user that has access for single database inside InfluxDB instance like so:

[code]

.

Got an error `requests.exceptions.HTTPError: 403 Client Error: Forbidden for url`

Problem is that this is somewhat misleading in this context. The actual reason of the error is not incorrect rights set for user, or wrong credentials, but

[2021-02-24 13:23] igorjan opened #425 "Problem with InfluxDB and filedKey type for trade ID"
When inserting Trades into influxDB the ID field is of type float for Binance and Coinbase while for Poloniex is type string.

When the program is runing it seems to be doing OK insetring data for all three exchanges but periodically it will produce this error.

2021-02-24 14:17:08,143 : ERROR : POST to http://localhost:8086/write?db=CryptoDataV2 failed: 400 - {"error":"partial write: field type c

[2021-02-24 22:16] bmoscon commented on #423
You dont subscribe to the delta as a channel, you just provide a callback for it. So it would look something like this:

[code]

But bitstamp doesnt support deltas on L3 books. They can be calculated, but this isnt supported for L3 books (maybe it will be in the future).

[2021-02-24 22:16] #423 closed

[2021-02-24 22:21] bmoscon commented on #424
seems reasonable, the db is not likely to need to be created, so it should probably be a turn on feature, not a turn off feature. I'll change it

[2021-02-24 22:21] #424 closed

[2021-02-25 02:35] mfw78 opened #426 "Potential memory leak"
**Describe the bug**
Extended use of cryptofeed with Deribit exchange / Kafka backend results in memory leak, potentially in websocket connection, resulting in intermittent stream and no warning of connection timeout / buffer issues.

**To Reproduce**
Steps to reproduce the behavior:

* Configure a Kafka cluster
* Deploy [main.py](https://github.com/bmoscon/cryptofeed/files/6040121/main.txt)
 atta

[2021-02-25 11:06] mfw78 commented on #426
Further to this I attempted to reduce the scale and simplify the setup to try to better isolate the issue. I implemented the following:

1. Replace Kafka with InfluxDB to simplify writing to the store.
2. Instead of searching for all futures instruments, I instead have simplified this by family ('BTC' in instrumentName, 'ETH' in instrumentName, etc). I therefore focused just on BTC and reduced the

[2021-02-25 12:34] mfw78 commented on #426
Actually, this is really starting to confuse me. I just deployed the `HEAD` commit to the container with the InfluxDB code, and without the L2_BOOK / BOOK_DELTA subscriptions. Maybe in the previous comment, I hadn't let the processes run for long enough as the issue has started to recur. The following shows the last commit lines in the InfluxDB:

[code]

The formatting for the columns in the measu

[2021-02-25 13:21] bmoscon commented on #426
that doesnt surprise me (the last message). You have a single task reading, parsing, and writing. Assume the exchange sends you 1 message a second. If the read takes 0.1 seconds, the parse takes 0.1 seconds and the write to influx takes 1 second, you'll be adding 0.2 seconds per message. Trade data is very low volume (relatively) and the reading and parsing add negligible overhead, so the very lik

[2021-02-25 13:24] bmoscon commented on #426
in regards to the other messages, definitely seems like a case of getting more data than it can process. the aforementioned solution will help here, as will the code changes coming to use a new orderbook. There is non memory leak though (at least not in cryptofeed). So far I only have python code, so thats not really possible. The websockets code is partially in C, so there could be one there, but

[2021-02-26 10:38] zhenpingfeng commented on #426
@mfw78 Have you used a low disk io cloud server? Most cloud vendors limit the frequency of hard disk read and write operations. I have tried the influxdb's backend on some resources-limited cloud servers, when the server performance is not enough, the influxdb backend does cause a very large latency. You can try to upgrade the hard drive of the server to high throughput one.

[2021-02-26 10:52] zhenpingfeng commented on #426
You can check the disk IO. Most cloud service vendors will restrict disk read and write operations. If you are using a cloud server, it may be due to insufficient disk IO to cause data accumulation in memory.

[2021-02-27 13:45] mfw78 commented on #426
Thanks for the prompt feedback @bmoscon and @zhenpingfeng. I elected to instead migrate away from using Kafka and instead use cryptostore with ZMQ pass-through to an xpub-xsub consolidator.

The whole point I was trying to achieve was a consistent data feed, with the ability to deploy rolling updates to cryptofeed / cryptostore as well as being able to suffer a node outage without interruption to

[2021-02-27 21:41] bmoscon commented on #361
done

[2021-02-27 21:41] #361 closed

[2021-02-28 18:37] peerchemist opened #427 "Support for fetching candles?"
Does this library support subscribing to a new candle feed. Binance calles them "klines'.

[2021-03-04 13:58] Jay54520 opened #429 "Support Dydx Websocket"
Doc: https://docs.dydx.exchange/#v3-websocket-api

[Dydx](https://trade.dydx.exchange/margin/ETH-DAI) is a decentralized exchange which has 10M volume per according to [coingekco](https://www.coingecko.com/en/exchanges/dydx).

[2021-03-06 09:25] jeans-all opened #430 "real-time data retrieval from Binance"
Hi,

I recently tried to retrieve real-time ticker data from Binance, but it found that cryptofeed only gets data with update delay (like 100 or 1000ms).

So I wonder if you can include following two websocket stream as in an option for Binance channel?

Individual Symbol Book Ticker Streams
All Book Tickers Stream

Those two are the only tickers that provide real-time data.

https://binance-docs.

[2021-03-06 14:31] bmoscon commented on #430
fixed. I changed ticker to use bookTicker

[2021-03-06 14:31] #430 closed

[2021-03-07 11:00] zhenpingfeng commented on #406
Nice result, my pure rust implementation is about 23µs with depth 20 order book on 2.8Ghz cascade lake intel CPU.

[2021-03-07 11:31] mutedstack opened #431 "Enhance Speed of Huobi Spot L2_BOOK"
**Is your feature request related to a problem? Please describe.**
Now cryptofeed is using [market-depth](https://huobiapi.github.io/docs/spot/v1/en/#market-depth) which is snapshot at 1 second interval to fetch L2_BOOK.

**Describe the solution you'd like**
Use [market-by-price-incremental-update](https://huobiapi.github.io/docs/spot/v1/en/#market-by-price-incremental-update) whose latency is bel

[2021-03-09 07:19] zhenpingfeng commented on #406
@bmoscon Should we replace std zlib with [deflate](https://pypi.org/project/deflate/)? It's a [libdeflate](https://github.com/ebiggers/libdeflate) python wrapper. In my test, deflate is faster than std zlib 24% with depth 20 order book.

[2021-03-09 16:44] bonald opened #433 "gcppubsub"
Can't get demo_gcppubsub.py working , any idea?

`python3.7 examples/demo_gcppubsub.py
examples/demo_gcppubsub.py:66: RuntimeWarning: coroutine 'SubscriberClient.create_subscription' was never awaited
  client.create_subscription(subscription_path, topic_path)
RuntimeWarning: Enable tracemalloc to get the object allocation traceback
Traceback (most recent call last):
  File "examples/demo_gcppubsu

[2021-03-09 16:45] bmoscon commented on #433
ask the person who added it. I can remove it if no one can fix it, its not something i want to support

[2021-03-09 16:56] bonald commented on #433
@globophobe could you help me with this?

[2021-03-09 17:02] olibre commented on #425
Hi @igorjan
I got a similar issue. If you help me I can write another InfluxDB back-end much cleaner.
I would need you test my Git repo and update the documentation. If you validate my improvement, we will together pull a request. Are you motivated?

[2021-03-09 17:43] bmoscon commented on #433
my guess is the sdk changed, so the latest version of the library probably has a breaking change

[2021-03-09 19:12] bmoscon commented on #425
@olibre I'll test it if you open a PR

[2021-03-09 20:05] igorjan commented on #425
Hi @olibre I am happy to test and help with the documentation. Let me know when you have something to test.

[2021-03-09 20:20] globophobe commented on #433
yes, I can fix. gcloud-aio has breaking changes

[2021-03-09 20:52] olibre commented on #425
All right @igorjan.
I will work for a couple of hours tomorrow on my Git repo.
I do not plan to change the current InfluxDB backend for backward compatibility reasons,
but to add a new one targeting InfluxDB v2. I will also add cache optimization.
Then I will ask you to test it and to help improving code and documentation.
Is it still OK for you @igorjan?

[2021-03-10 09:22] igorjan commented on #425
@olibre Yes this sounds good to me.

[2021-03-11 09:13] zhenpingfeng commented on #431
Can you help me test the incremental version I implemented?

[2021-03-11 11:56] Jay54520 opened #437 "Support Ticker of Huobi Spot"
Huobi's 5-level/20-level incremental MBP is a tick by tick feed but 150 levels incremental MBP feed is 100ms interval. 5-level/20-level incremental channel only supports btcusdt,ethusdt,xrpusdt,eosusdt,ltcusdt,etcusdt,adausdt,dashusdt,bsvusdt. Huobi's ticker is updated every tick and supports all symbols. Users can use ticker to replace 150 levels when they only need ticker data.

Doc: https://huo

[2021-03-12 06:17] walter211 opened #438 "GateioV4 api support"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Support GateIo V4 API Version

**Describe alternatives you've considered**
cause V3 already supported, so nothing else

**Additional context**
None

[2021-03-12 08:10] walter211 commented on #438
FYI

https://github.com/gateio/gateapi-python

[2021-03-14 13:26] bmoscon commented on #426
I'm going to close this - I've made a few changes to documentation and to the way the backends work (using a separate async task to handle backend writes). This should reduce the latency on the read side significantly. If there are more questions about this please re-open or create a new issue

[2021-03-14 13:26] #426 closed

[2021-03-14 13:27] bmoscon commented on #427
no, it doesnt. You're the first person in over 3 years to ask about them so I'm not sure if its a data channel that is of widespread use or not. It can certainly be added

[2021-03-14 20:34] bandito1 opened #440 "Huobi, Binance, Okex. Not to get funding rate from different swaps"
**Describe the bug**
Hello,
When I subscrime to the funding channel, I get only one of Coin or USD based swap's funding rate is rhapsodic.
Binance I get the USDT based funding rate, Okex I get coin based funding ratre, Huobi_swap get USDT based again.
When I checked the symbol list in debug, not found separated swap/future like BTC-USD (coin based) BTC-USDT (USD based).
Can you include to get the

[2021-03-15 21:01] olibre commented on #425
Hi @igorjan
Sorry I have not yet found enough time for the moment, but do not worry, I will find some time soon…

[2021-03-16 01:42] hertzC opened #441 "Binance Websocket Question"
Hi,

First of all, I am new to this library but this is an amazingly useful library to get into the crypto world.  Thanks for the great project!

I have a dummy question when testing some of the example in the demo.py.

I tried to get the ticker BTC-USDT from both Binance and BinanceFutures, but I only got the response from the Binance_Futures and no response from the Binance. Do you guys run into

[2021-03-17 14:22] idclevxx opened #443 "Small bug and suggested fix in demo_binance_delivery.py"
**Describe the bug**
A clear and concise description of what the bug is.
Line 20: max depth can't be 3, should be e.g. 5

[2021-03-17 14:58] bmoscon commented on #443
@idclevxx why cant max depth be 3? This code works from latest in master

[2021-03-17 21:41] bmoscon commented on #427
@peerchemist this has been added. Candles are now supported in Binance!

[2021-03-17 21:41] #427 closed

[2021-03-17 21:42] bmoscon commented on #443
@idclevxx im going to close this. The demo file works in master. There was a bug in an older version, but it has been fixed. You can use a max depth of 3. It will use 5 when communicating with the exchange as the depth and truncate down to 3.

[2021-03-17 21:42] #443 closed

[2021-03-17 21:45] bmoscon commented on #441
I get a response from both when I run that exact same code:

[code]

Can you try it again? Is there a reason Binance would be blocking or rate limiting you?

[2021-03-17 21:46] bmoscon commented on #440
I'm not positive I understand what the issue is. Can you try explaining it a different way?

[2021-03-17 23:21] peerchemist commented on #427
Thank you! I'll test shortly and report back.

[2021-03-18 22:43] CommanderJax opened #445 "Bybit BTCUSD perp contract symbol overriden by inverse futures"
bybit_symbols() function is returning incorrect results. The BTC-USD perp contract symbol value gets overriden by inverse futures BTCUSDM21 symbol because the quote and base currencies are the same

steps to reproduce:

[code]

result:

[2021-03-18 22:43] bmoscon commented on #445
When did you last update? Pretty sure I fixed this yesterday

[2021-03-18 22:45] CommanderJax commented on #445
bummer, updated 2 days ago 🤦‍♂️

Thanks.

[2021-03-18 22:46] bmoscon commented on #445
@CommanderJax - you should double check that its fixed. I couldnt really tell what your error was due to the formatting of the issue, but I fixed an issue with that symbol not ending in USD/USDT, so do confirm its resolved. If its not, please re-open (and maybe re-format or otherwise clarify the issue)

[2021-03-18 22:59] CommanderJax commented on #445
@bmoscon double checked on the latest version, the issue is unfortunately still there. I reformatted my first message, does it make more sense? Sorry I was already tired. For additional context:

the bybit_symbols() function returns a dictionary of symbols, bybit returns the perp swap together with futures symbols in the same response, both have the same base & quote currency, so in the first iter

[2021-03-19 00:34] nickthorpie opened #446 ""This event loop is already running""
**Describe the bug**
Regardless of what I try, I keep running to an exception raised from asyncio that says "This event loop is already running.

** Steps to reproduce the behavior**

Here's the code I'm running, super bare bones:
`from cryptofeed import FeedHandler
from cryptofeed.defines import VOLUME
from cryptofeed.exchanges import Poloniex

async def volume(**kwargs): print(f"Volume: {kwargs}

[2021-03-19 00:43] bmoscon commented on #446
ipython/jupyter notebooks use asyncio, so you cant run from those.

[2021-03-19 00:43] #446 closed

[2021-03-19 10:23] quazzuk opened #447 "Hitting Rate Limit on BitMEX"
**Describe the bug**
Subscribing to multiple channels (in my case 6: l2_book, funding, open_interest, liquidations, ticker and trades causes the following message:

server rejected WebSocket connection: HTTP 429
2021-03-19 09:15:06,081 : WARNING : BITMEX-294cef: Rate Limited - waiting 60 seconds to reconnect

And then repeated failed retries.

**To Reproduce**
I used cryptostore to configure the f

[2021-03-19 14:48] ghazaryanartashes opened #448 "Binance - Authenticated Websocket"
Hi,
Thanks for the great lib. I am new to cryptofeed and wanted to understand if it is possible to get only PERSONAL TRADES via WebSocket on Binance.

Thanks in advance.

[2021-03-19 22:21] bmoscon commented on #411
@sebabuso there is now an example postgres SQL file to create the tables for the demo

[2021-03-19 22:48] bmoscon commented on #448
this is currently not supported. Will be supported at some point. I do welcome PRs!

[2021-03-19 22:49] bmoscon commented on #441
It works for me, even with a subscription to all symbols. I'm not sure what version you are using, please update your code and try again.

[2021-03-19 22:49] #441 closed

[2021-03-20 23:39] sebabuso commented on #411
Thanks @bmoscon !!!. I already have cryptofeed working with postgres SQL and InfluxDB.
Another question, is there idea in the cryptofeed roadmap to get historical data?

[2021-03-21 17:08] elyase opened #449 "Example for storing orderbook in Postgress"
I was looking at the examples and it is not clear how to create the table to save the orderbook in postgress. Could you provide some hints?

[2021-03-22 00:33] bmoscon commented on #411
its already supported, its in rest/

[2021-03-22 01:46] sebabuso commented on #411
Thanks again!!! I'm going to test it !!

[2021-03-23 08:27] idclevxx commented on #445
First, thanks for a great package @bmoscon! Can confirm the issue is still there. ByBit has launched two new inverse futures contracts, one of which (BTCUSDM21) is overriding the original inverse swap (BTC-USD). Just upgraded and symbols function printed the following:

`{'BTC-USD': 'BTCUSDM21', 'ETH-USD': 'ETHUSD', 'EOS-USD': 'EOSUSD', 'XRP-USD': 'XRPUSD', 'BTC-USDT': 'BTCUSDT', 'BCH-USDT': 'BCHU

[2021-03-23 12:47] Jay54520 commented on #437
Can be closed because of https://github.com/bmoscon/cryptofeed/pull/176

[2021-03-23 12:47] #437 closed

[2021-03-23 23:59] brizzbane commented on #427
Came here looking for answers of where "Candles" went in the demo.py (it can't be imported, so I assume it was removed).

This is total newb question, but candles are what show OHLC right?  and ticker is ..second by second..ticks?

I would like to have a feed for both ticker, and OHLC data on a minute basis.  Is candles what I'm wanting?

[2021-03-24 00:04] bmoscon commented on #427
@brizzbane there is a candle example here:

https://github.com/bmoscon/cryptofeed/blob/e03d472cf2c10d39e991b21b4c937df882f9f15e/examples/demo.py#L107

candles show open, close, high, low, volume, trades and other information for a time interval. A ticker is usually an indication of price by side (bid/ask) that is updated whenever one of those changes.

[2021-03-24 00:07] bmoscon commented on #449
an example for this doesnt exist, but I can add one at some point

[2021-03-24 00:22] brizzbane commented on #427
Thank you!

Is this https://github.com/binance/binance-spot-api-docs/blob/master/web-socket-streams.md#individual-symbol-ticker-streams

Data apart of the current program? ("e": "24hrTicker",)

[2021-03-26 18:56] brizzbane commented on #427
Nevermind about above.

I want to say though, the reason I had issues with  CandleCallback not being found is because it doesn't seem to be in the latest version installed by pip.  I had to do pip install git+https://github.com/bmoscon/cryptofeed

[2021-03-27 18:09] bmoscon commented on #427
yep. if you see changes in the changelog under a version that doesnt have a date associated with it, those are unreleased changes

[2021-03-27 18:18] bmoscon commented on #445
fixed

[2021-03-27 18:18] #445 closed

[2021-03-30 07:21] uranuse2019 opened #454 "OHLCV calculation problem"
**Describe the bug**
there some structural issue with OHLCV calculation method
first of all, OLCV calculate based on trade timestamp, but in cryptofeed code, it's check the local server time and start to counting according to time windows. so the generated data is not usable because cryptofeed create candle different from exchange.

 the correct procedure is:
1- check the trade timestamp
2- start

[2021-03-30 07:34] yohplala commented on #454
Hi, it is a bit more tricky than that actually.
- you should keep in a buffer the last candle till it is not finished.
- each storage interval, you release all candles, even the last not finished one
- user has then to take care that candles issued by cryptostore overwrite previous ones if they share same timestamp & same timeframe

This last part is the tricky one I think. For each storage, one s

[2021-03-30 07:35] yohplala commented on #454
and you should check about the case when storage interval is lower than candle timeframe
There is no reason it would not work. Just a check

[2021-03-30 08:19] uranuse2019 commented on #454
@yohplala
it is need more than one candle in buffer. according to my experience  10 candle is more safe (1m interval).
but the base of OHLCV calculation in cryptofeed is not correct.

[2021-03-30 09:15] yohplala commented on #454
@uranuse2019

Could you please elaborate? To what 'trouble' keeping 9 finished candles that will not change any longer does it answer?
(or I am not understanding something)

[2021-03-31 22:54] bmoscon commented on #454
if the exchange supports candles there is no reason to use this code, it was intended as an example of a how to for using an aggregator callback. There could be issues

[2021-03-31 22:54] bmoscon commented on #447
Are you subscribing to a large number of symbols?

[2021-04-01 02:23] Vniex commented on #418
Besides, how to dynamic close a running feed?

[2021-04-01 12:32] idclevxx commented on #443
Sorry mate, was AFK for a bit. When I run the demo code without adjustments on max depth 3, I periodically (i.e. sometimes it prints what it should, sometimes not) get the error:

`
2021-04-01 14:28:47,121 : ERROR : BINANCE_DELIVERY-736064: encountered an exception, reconnecting
Traceback (most recent call last):
  File ".venv/lib/python3.8/site-packages/cryptofeed/feedhandler.py", line 322, in _c

[2021-04-01 18:11] leonwang893 opened #459 "Cannot subscribe correct symbol from bybit"
**Describe the bug**
I am trying to subscribe BTCUSD's trade data however it return me BTCUSD0625's data

**Expected behavior**
It should return me BTCUSD's data.

**Screenshots**
![image](https://user-images.githubusercontent.com/15900133/113336178-f1ee4580-9360-11eb-920c-47f8f4eb9990.png)

**Operating System:**
 - win10
 - python 3.7

**Cryptofeed Version**
- 1.7.0

[2021-04-01 18:16] bmoscon commented on #459
please use the version in master, this has been fixed but not released yet

[2021-04-01 18:44] leonwang893 commented on #459
Fixed, Thanks for you help!

[2021-04-01 18:44] #459 closed

[2021-04-01 20:47] uranuse2019 commented on #454
@bmoscon thanks for your clarification
I just shared my experience.
in addition creating candles based on live data is very useful for traders.
THX

[2021-04-01 22:01] bmoscon commented on #454
@uranuse2019 - if there is a bug, theres no reason to close this. I'm just recommending the use of the candles if they exist for the exchange in question.

[2021-04-01 22:02] bmoscon commented on #443
@idclevxx what version are you using?

[2021-04-01 22:18] bmoscon commented on #418
@Vniex - not currently possible. You can stop the event loop or kill the task to disconnect, but none of the exchanges have the unsubscribe functionality implemented

[2021-04-02 07:07] idclevxx commented on #443
1.7, but I know see there's a newer version; after upgrade the issue is gone. Perfect!

[2021-04-02 13:39] tristan-murfitt-elw commented on #408
@bmoscon can you confirm what happens if a feed connection (in `feedhandler._connect`) fails after all retries? It looks as though `ExhaustedRetries()` is raised and then this feed task just exists silently. A custom exception handler would be useful to detect if any Markets/Symbols are no longer actively running, so they can be handled in some way by the parent task (eg. send out an email notific

[2021-04-02 16:29] tristan-murfitt-elw opened #461 "Poor performance during `loop.create_task(self._connect)`"
I'm experiencing frequent and significant blocking of the event loop, with task times taking anywhere from `0.1` to `15` seconds.

Running 20 symbols from 3 exchanges `{'binance': 11, 'kraken': 3, 'coinbase': 6}` and subscribing to `TICKER, TRADES, CANDLES, L2_BOOK, BOOK_DELTA, OPEN_INTEREST, LIQUIDATIONS` (if available).

All warnings appear to stem from:
- `feedhandler.py:257` - which does the `

[2021-04-02 18:53] bmoscon commented on #461
There isnt anything specific in cryptofeed for the websocket connecting, it uses the websockets library, which is quite performant. Depending on how you have your stuff configured, a failure on a connection will definitely block things. See: https://github.com/bmoscon/cryptofeed/blob/master/docs/performance.md

[2021-04-03 06:51] uranuse2019 commented on #454
@bmoscon as you explained above "it was intended as an example of a how to for using an aggregator callback. There could be issues" so I just warn any one who want to use this part of project (specially High frequency traders) be aware those problem explained above. me and my team trying to  optimize the code.
Also this is great project @bmoscon. we are really appreciate you.

[2021-04-03 16:42] #461 closed

[2021-04-03 16:48] bmoscon commented on #461
@tristan-murfitt-elw if you have other questions or concerns, please let me know

[2021-04-03 16:56] tristan-murfitt-elw commented on #461
@bmoscon thank you

[2021-04-03 19:47] bmoscon commented on #425
@olibre - in case you don't have time, can you tell me your planned changes? I'm reworking the influx code now so I can probably do them unless you have already started

[2021-04-03 20:32] sydx opened #462 "Can't call self.get_instruments() from the constructor of Derebit Feed"
I'm trying to run the following script:

<pre>
import decimal

import cryptofeed
import cryptofeed.defines
import cryptofeed.exchanges

fh = cryptofeed.FeedHandler()

async def ticker(feed, symbol, bid, ask, timestamp, receipt_timestamp):
    mid = decimal.Decimal.from_float(.5) * (bid + ask)
    print(f'Timestamp: {timestamp} Feed: {feed} Symbol: {symbol} Mid: {mid}')

print(cryptofeed.exchanges.

[2021-04-03 23:27] bmoscon commented on #462
get_instruments no longer exists, use the info method instead.

[2021-04-03 23:27] #462 closed

[2021-04-04 09:50] sydx commented on #462
I don't call get_instruments from my code. It is called from the constructor of the Deribit exchange, which means that I can't call that constructor. The call to get_instruments is found here:

https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/exchange/deribit.py

[2021-04-04 13:49] bmoscon commented on #462
fixed in master

[2021-04-06 11:11] sydx commented on #462
Thank you very much!

[2021-04-06 23:14] bmoscon commented on #408
fixed in master. You have to provide a list of exception instances you want to handle, and provide an asyncio exception handler to actually handle them. See https://docs.python.org/3/library/asyncio-eventloop.html#asyncio.loop.set_exception_handler for specifics on that exception handler

[2021-04-06 23:14] #408 closed

[2021-04-06 23:16] bmoscon commented on #425
@igorjan - I believe this has been fixed - can you test with the latest code from github and let me know? I rewrote a large part of the influx backend, and all trade ids should be strings now

[2021-04-07 08:49] quazzuk commented on #447
yes, all available symbols via a wildcard mechanism I've added support for locally. I'm also doing the same on other exchanges and running into similar problems, especially bitfinex which also limits the number of connections per minute. I was just wondering whether there is some library code to manage communication with the exchange, respecting the various exchange specific rate throttling and co

[2021-04-07 21:18] agijsberts opened #465 "Redis DataError due to 'order_type' set to None"
**Describe the bug**
The `redis.TradeStream` handler raises an error because the `order_type` is set to **None** for the majority of exchanges. An empty `order_type` used to be filtered out in its parent `BackendTradeCallback`, but this filtering was removed recently in https://github.com/bmoscon/cryptofeed/commit/3a5339dad7d44ed16de3ea5f02c924246d3ba276.

**To Reproduce**
The minimal example
[cod

[2021-04-07 21:42] agijsberts opened #466 "Milliseconds of BitMex timestamps are interpreted as microseconds"
**Describe the bug**
The timestamp format of BitMex (and other exchanges) include milliseconds as fractional after the dot. However, these are interprete as microseconds, causing an error of up to 900ms. For instance, the raw json for a trade
[code]
becomes after processing
[code]

**To Reproduce**
The bug appears to originate in the parsing behavior of `yapic.json`:
[code]
The interpretation of t

[2021-04-07 21:57] bmoscon commented on #465
fixed. Interestingly this doesnt affect the zset callbacks (because they are json dumped)

[2021-04-07 21:57] #465 closed

[2021-04-07 22:02] bmoscon commented on #466
this appears to be an issue with yapic.json. If you want to raise the issue there, that would be great. If not I can raise the issue. Its easily shown to be incorrect:

[code]

[2021-04-07 22:04] agijsberts commented on #466
No problem, I'll raise the error there and (hopefully) get it fixed upstream.

[2021-04-07 22:06] bmoscon commented on #466
the maintainer has been very responsive to me in the past, so 🤞

[2021-04-07 22:08] tristan-murfitt-elw opened #467 "Binance connection fails for multiple symbols/channels"
**Describe the bug**
When connecting to Binance with multiple symbols **or** multiple channels, the connection string is incorrect and fails in an infinite loop.

**To Reproduce**
[code]
Exception is caught (and not handled) in `feedhandler._connect`. Logging the `conn.address` reveals there is a problem with the WS connection string:
[code]
Note the above has `bnbeth@ltcbtc`.

If we add a second

[2021-04-07 22:22] tristan-murfitt-elw commented on #467
It's also worth noting:

There is no warning log for this under the new `FeedHandler(exception_ignore=None)` (default) args, so it's hard to spot when a connection is failing for this reason.

The default for `self.exceptions` is `None` so the below fails silently:
[code]

[2021-04-07 23:25] bmoscon commented on #467
thanks for the report. Sorry this one slipped by and thanks for raising the issue about the exception handling as well. All have been fixed - thanks!

[2021-04-07 23:25] #467 closed

[2021-04-07 23:26] tristan-murfitt-elw commented on #467
Excellent, thank you for resolving so promptly!

[2021-04-07 23:36] bmoscon commented on #467
Sure - I tested with your examples and some others of my own - hopefully I havent missed anything. If I have please re-open or create a new ticket.

[2021-04-08 06:03] walter211 opened #468 "Authneticated Channels support binance"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
add binance Authneticated Channels support

**Describe alternatives you've considered**
none

**Additional context**
https://binance-docs.github.io/apidocs/delivery/en/#user-data-streams

[2021-04-08 10:09] ziegi opened #470 "Binance Stream List Error"
**Describe the bug**
This relates to exchange/binance.py
Version v1.8.2 0s working fine for me
The actual master version from April, 7, has a wrong concatenation syntax.
It produces:
wss://stream.binance.com:9443/stream?streams=ltcbtc@ethbtc@bookTicker
instead of
wss://stream.binance.com:9443/stream?streams=ltcbtc/ethbtc@bookTicker

[2021-04-08 11:48] bmoscon commented on #470
this was reported by someone else yesterday and has been fixed: https://github.com/bmoscon/cryptofeed/issues/467

[2021-04-08 11:48] #470 closed

[2021-04-08 11:49] bmoscon commented on #470
if you think this has been closed in error, please provide the commit hash you are using (multiple commits went in on April 7th) and a reproducible example

[2021-04-08 11:57] dirtyValera commented on #447
@quazzuk Do to you think you can't send PR with the fix? I think I'm having a similar problem.

What other exchanges do you hit rate limits on?

[2021-04-08 12:01] agijsberts commented on #466
All done! The issue is fixed upstream (https://github.com/zozzz/yapic.json/pull/12).

[2021-04-08 12:01] #466 closed

[2021-04-08 12:25] peerchemist commented on #84
This would be very useful indeed.

[2021-04-08 12:32] bmoscon commented on #467
@tristan-murfitt-elw - ngl, after I fixed this I found another one, which I also fixed yesterday. I put in a unit test around the binance address generation, so hopefully it never comes up again. Sorry for the churn :|

[2021-04-08 15:19] quazzuk commented on #447
@dirtyValera - it was more of a hack/workaround than a fix as I don't think it solves the problem completely, just spaces out some of the subscriptions. Essentially I added the following function to `cryptofeed/feedhandler.py`

[code]

and then modified `run` as follows

[code]

[2021-04-09 11:20] tristan-murfitt-elw opened #471 "OKEx Liquidations channel bug"
**Describe the bug**
Just a quick one - noticed these errors in the OKEx liquidations channel.

[code]

**To Reproduce**
This happens almost immediately when running something simple like:
[code]

**Cryptofeed Version**
latest (master)

[2021-04-09 11:25] tristan-murfitt-elw commented on #471
Unrelated, but I've set `cross_check=True` here because OKEx is also raising `BidAskOverlapping` error a lot for `ETH-USDT` (can be seen occasionally in the above reproducible example).

[2021-04-09 11:38] tristan-murfitt-elw commented on #471
**OKEx bugs**
Apologies, found another bug during the OKEx processing.

Using the same reproducible code above, I occasionally see:
[code]

To summarise, we have:
1. Liquidations channel `KeyError`
2. OrderBook `BidAskOverlapping` error
3. OrderBook `KeyError`

[2021-04-10 13:19] bmoscon commented on #471
I fixed the liquidations issues. there were some other problems there as well. In regards to 2 and 3, I never saw 3, but I did see 2. I turned on checksum validation and I can see that ever few hundred updates there is a missing message. Not sure there is anything the library can do other than what it does, which is reset the book and connection. I'd attribute the issue to the exchange. Its possib

[2021-04-10 13:19] #471 closed

[2021-04-10 13:19] bmoscon commented on #471
I will review the docs in regards to the book processing to confirm that nothing has changed and that the code looks good

[2021-04-10 13:50] bmoscon commented on #471
I reviewed the docs, I dont see anything amiss. I re-ran the code with checksum validation enabled and didnt see any issues, so the issue (at least from what I can see) seems intermittent, which definitely seems like an exchange/connectivity issue

[2021-04-10 16:44] tristan-murfitt-elw commented on #471
@bmoscon thank you for looking into this

Small request: is it possible to selectively apply the liquidations callback depending on the symbol, instead of raising an exception [here](https://github.com/bmoscon/cryptofeed/commit/2ff0c6a65f9837107be06f993b640540f4a6a4b0#diff-1fb586edd1f49508d984fc7d2852f440f54953f4f8ac81bbc48f0241e8823187R43)? I suspect a lot of users provide mixture of spot and der

[2021-04-10 18:06] bmoscon commented on #471
There is a way to do that, use the subscription dictionary and specify channels with specific pairs applied to them.

[2021-04-10 18:07] bmoscon commented on #440
no response, bug unclear, closing

[2021-04-10 18:07] #440 closed

[2021-04-10 18:09] bmoscon commented on #425
going to close this - I think its fixed, if someone wants to chime in and refute that we can reopen this

[2021-04-10 18:09] #425 closed

[2021-04-12 09:10] igorjan commented on #425
I can confirm the issue has been fixed for my use case.

[2021-04-20 00:18] bmoscon commented on #438
@walter211 thanks for the request. I'm currently implementing this - done with trades and tickers, need to add support for their new orderbook stream and candles and then will merge it (by end of week). Thanks for the request!

[2021-04-22 12:29] bmoscon commented on #438
done

[2021-04-22 12:29] #438 closed

[2021-04-22 23:54] bmoscon commented on #320
added. currently only supports ticker and trades, but I'll add in support for L2/L3 orderbooks and candles before the end of the week

[2021-04-22 23:54] #320 closed

[2021-04-23 00:28] #401 closed

[2021-04-24 09:59] CommanderJax commented on #425
This change doesn't appear to be backwards compatible, after upgrading cryptofeed there's now a discrepancy between old and new filed types and to the best of my knowledge influx doesn't offer support to change the old field types from float to string. Any chance there can be an option to cast string to floats?

[2021-04-24 23:31] bmoscon commented on #425
the new version of influx doesnt work well with strings, at least not from what i've seen. it also makes the code unnecessarily complicated and I'm having a hard time finding a reason to justify that.

[2021-04-24 23:31] bmoscon commented on #425
and yes, the change is not backwards compatible.

[2021-04-29 05:14] hertzC opened #481 "Support Binance Option"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Support the new Binance Option Market

**Describe alternatives you've considered**
No

**Additional context**
Add any other context or screenshots about the feature request here.
The Binance has launched the option market recently, i.e. https://binance-docs.github.io/apidocs/voptions/en/#202

[2021-05-01 12:20] WillowOfTheBorder opened #482 "Rest API extension"
**Is your feature request related to a problem? Please describe.**
No - purely a very nice feature to have in order for cryptofeed to be a complete tool (design/research of trading strategies down to proper/clean implementation)

**Describe the solution you'd like**
Add rest api functionalities:
- tradable asset pairs
- historic OHLC data
- spread data
- ledger history

**Describe alternatives you

[2021-05-01 12:29] bmoscon commented on #482
tradeable asset pairs are available via the exchanges, eg,
[code]

[2021-05-01 14:17] bmoscon commented on #482
but good points, the plan is to move the REST code into the normal exchange code, so it will all be unified. In the process of doing that, things will be cleaned up, re-verified, testing enhanced, etc.

[2021-05-05 18:02] yohplala opened #485 "Running last cryptofeed with last cryptostore causes AttributeError with 'aioredis'"
**Describe the bug**
Running cryptofeed through cryptostore and redis causes following error:
[code]

**To Reproduce**
Running last cryptostore version with last cryptofeed version and following config file.

[code]

**Operating System:**
 - Ubuntu 20.04

**Cryptofeed Version**
- Last development versions from Github, installed with `python3 setup.py install develop`

[2021-05-07 21:21] bmoscon commented on #485
@yohplala you need to upgrade to the version of aioredis listed in the requirements.

[2021-05-07 21:21] #485 closed

[2021-05-08 14:36] olibre commented on #425
Hi @bmoscon
I am very very busy and did not yet get time to put back my hands on Cryptofeed for four months!
I have no idea when I will be able to resume my WIP tasks on Cryptofeed...
Cheers

[2021-05-11 23:55] bmoscon opened #490 "Add candles to bittrex"
Bittrex supports candles, need to add this data channel

[2021-05-13 11:41] agijsberts opened #491 "RuntimeError when restarting Bybit connections"
**Describe the bug**
When a Bybit connection is restarted, it causes a `RuntimeError: dictionary changed size during iteration`.

**To Reproduce**
The situation can be reproduced with the following example:
[code]
This will produce the output:
[code]
**Cryptofeed Version**
Git head (commit 8c412c7ec9539d3d6b43f1f07cc8c3e431ff204c).

**Fix**
The problem is that the `__reset` method deletes items fr

[2021-05-14 21:11] bmoscon commented on #491
fixed

[2021-05-14 21:11] #491 closed

[2021-05-14 21:19] bmoscon commented on #347
I'm closing this. If it comes up again, let me know and we can try and diagnose it further. I havent seen it happen in a while so closing

[2021-05-14 21:19] #347 closed

[2021-05-18 00:37] bmoscon opened #492 "Add support for Huobi Options"

[2021-05-20 17:17] tristan-murfitt-elw opened #493 "ConnectionClosedError 1006 / IncompleteReadError"
**Describe the bug**
Same bug as https://github.com/bmoscon/cryptofeed/issues/308 but I've managed to replicate this on a consistent basis.

[code]

Background:
I have a requirement to disconnect particular feeds without restarting the feedhandler. To solve this I maintain a list of asyncio task objects in the `FeedHandler` whenever a feed is added. Then I can cancel any of these tasks from my mai

[2021-05-20 21:38] agijsberts opened #494 "OKEx passes unknown `status` argument to Liquidations callback"
**Describe the bug**
Contrary to other exchanges, OKEx adds a `status` argument to the liquidations callback. `BackendLiquidationsCallback` does not have it in its signature, thus causing an exception and the message to be dropped.

**To Reproduce**
The following minimal example
[code]
produces
[code]
**Expected behavior**
The liquidation message to be handled properly without error.

**Operating

[2021-05-21 19:43] Pcsl opened #495 "Add testnet option"
Many exchanges have a testnet where you can try transactions and that becomes very handy when building a script or bot. However, as long as I am concerned Cryptofeed doesn't let you choose subscriptions to this kind of networks.

If possible it would be great to have this added. If not directly, it would be helpful also to "take out" the endpoints from the exchange in a specific class so we can in

[2021-05-21 23:39] bmoscon commented on #495
this is supported, see:

https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/feed.py#L66

and https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/exchange/gemini.py#L38

so, if an exchange is missing the url, you can open a PR to add it

[2021-05-21 23:39] #495 closed

[2021-05-21 23:40] bmoscon commented on #494
@agijsberts are you going to open a PR for this or would you like me to?

[2021-05-21 23:44] bmoscon commented on #493
I feel like canceling a task is a surefire way to get disconnection errors like this. Why not shut that task down gracefully? If you look at the stop method:

https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/feedhandler.py#L172

you can see what it does to a feed - it calls stop, and then creates a task to call feed.shutdown. Not all of what goes on it shutdown is necessary, but it doe

[2021-05-22 08:51] agijsberts commented on #494
I have the PR almost ready, I'm just running a demo now  to make sure it works ok with all exchanges that support liquidations. You can expect the PR within a few hours.

[2021-05-22 18:12] bmoscon commented on #494
merged

[2021-05-22 18:12] #494 closed

[2021-05-22 19:36] agijsberts opened #498 "KeyError when using `max_depth` with Kucoin"
**Describe the bug**
When setting a `max_depth` on the L2 updates for Kucoin, it repeatedly throws a `KeyError`.

I am not 100% sure, but I believe that the problem is that with the first update it will request a snapshot
and set `Forced=True`, but if the snapshot's sequence number is higher than the one of the update, then the snapshot is actually never propagated to the `book_callback`.
https://

[2021-05-22 19:57] elyase opened #499 "Book deltas not working for Gateio and Kucoin"
**Describe the bug**
Book deltas not working using Gateio and Kucoin

**To Reproduce**
Run the `demo_book_delta.py` example with Gateio and Kucoin:

[code]

Errors out with:
[code]

**Expected behavior**
Should be able to receive / update order books same as with the rest of the exchanges

**Operating System:**
 - macOS

**Cryptofeed Version**

`pip install cryptofeed==1.9.0`

[2021-05-22 22:16] agijsberts commented on #499
It seems the same issue as https://github.com/bmoscon/cryptofeed/issues/498

[2021-05-22 23:16] bmoscon commented on #499
fixed

[2021-05-22 23:16] #499 closed

[2021-05-22 23:16] bmoscon commented on #498
if this is the same as #499 than this is fixed. If not, please re-open

[2021-05-22 23:16] #498 closed

[2021-05-24 15:57] tristan-murfitt-elw commented on #493
@bmoscon thanks for pointing these new methods out - this is a huge value add since the last release!

As for the `ConnectionClosedError 1006 IncompleteReadError` problem: this does happen often (and will continue to) just due to the nature of crypto infrastructure. Force cancellation of asnycio tasks is a great way to replicate the problem to see how we can make the library more resilient. I spen

[2021-05-25 15:37] mchangun opened #502 "Starting the feedhandler in another thread"
I'm starting to learn how to use `cryptofeed` and wanted to start with a simple example.  I want to start a feedhandler in a new thread and have my current thread just print the best bid / best offer every two seconds:

[code]

But when I run this code, I get the following error:

[code]

What's the correct way to do this? Or am I approaching this task from the wrong angle?

Thanks.

BTW: this lib

[2021-05-25 23:45] bmoscon commented on #502
asyncio and threading have to be done in a certain way. If you want to use asyncio and threads, I'd recommend reading up on: https://docs.python.org/3/library/asyncio-eventloop.html#asyncio.loop.run_in_executor

You can use that method to run a function in a thread in an asyncio application.

[2021-05-26 00:37] bmoscon commented on #347
this is definitely fixed now - kraken deprecated the channel mapping, and I removed it entirely from the kraken code

[2021-05-26 01:04] mchangun commented on #502
OK I'll give that a try.

Would you have any suggestions on a better / more natural way that I can structure my code to achieve the same thing?

[2021-05-26 04:05] mchangun commented on #502
I gave that a try but I still have the same error:

[code]

[code]

[2021-05-26 11:11] bmoscon commented on #502
if you are trying to run from pycharm that may have something to do with it. I think it does something weird (like jupyter notebooks do) and not all asyncio functionality will work. I don't use it, so not sure.

[2021-05-26 11:11] bmoscon commented on #502
also, i think you need to be using the thread pool in a running loop

[2021-05-26 12:44] bmoscon commented on #454
going to close this. A comment was added to the code, more exchanges support candles now, and the VWAP issue mentioned above is incorrect in my opinion. Maybe thats how Binance calculates and reports it, but thats not the standard way to calculate VWAP

[2021-05-26 12:44] #454 closed

[2021-05-29 01:18] tudorelu commented on #502
Can confirm this is not due to pycharm, I ran it from terminal, it has the same output.

[2021-05-29 02:04] mchangun commented on #502
Same here.  But I changed my code so that feedhandler runs in the main thread and display is run in the new thread.

[2021-05-30 14:15] gigitalz opened #505 "is CANDLES interval only available as 1m?"
I tried binance futures candles but I see only 1m intervals passing by, is it possible to have like 5m or do we need to compose it ourselves?

[2021-05-30 14:45] bmoscon commented on #505
its a kwarg to the constructor: https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/exchange/binance.py#L48

set `candle_interval` to the value you want, eg. `5m`

[2021-05-30 14:45] #505 closed

[2021-05-30 14:46] bmoscon commented on #502
sounds good, seems like you are all set

[2021-05-30 14:46] #502 closed

[2021-05-30 15:44] gigitalz commented on #505
thanks.
no way to add multiple intervals in the same call?

for example:

add_feed(...
candle_interval='1m,5m,1h'

[2021-05-30 15:55] bmoscon commented on #505
nope, you can create multiple Binance objects

[2021-05-30 17:14] maxholloway opened #506 "Error Handling"
I am trying to perform error handling on a feed. When an error occurs in my program, the exception handler does not get invoked. Here's my example code:
[code]

I would expect that when an error arises in my program, the `handle_exception` exception handler would be invoked, and thus its message would be logged to the console. Unfortunately, all I see logged to the screen is the Exception message

[2021-05-31 18:54] bmoscon commented on #506
If you want to handle a top level exception (anything that happens before the connection handler is running) what you have will work. If you want to handle internal exceptions within the connections, you need to specify the exceptions you want to handle in the Feed object. This code worked for me:

[code]

As you can see I changed the exception to ValueError and then I specified that type to the e

[2021-05-31 18:55] bmoscon commented on #506
going to close this, but feel free to ask any more questions on this and I'll see them and respond. Or join the slack and ask there.

[2021-05-31 18:55] #506 closed

[2021-06-02 06:11] MikeMaxNow opened #507 "OKEx error: Unexpected keyword argument 'status'"
**Describe the bug**
I am using the sample script for liquidations with OKEx. After a couple of seconds, it ends with this error message:
[code]
**To Reproduce**
[code]

[2021-06-06 23:46] tudorelu opened #509 "Kucoin order books can't be accessed (v2 deprecated)"
**Describe the bug**
Unable to pull kucoin order books due to deprecation of v2 API.

**To Reproduce**
[code]

Relevant Traceback
[code]

**Expected behavior**
Getting the Order Books

**Screenshots**
KuCoin recently deprecated v2 of their API for order books.

<img width="843" alt="Screen Shot 2021-06-07 at 9 43 41 am" src="https://user-images.githubusercontent.com/10128444/120943887-f9710700-c77

[2021-06-07 00:32] tudorelu commented on #509
Turns out the new KuCoin API requires API keys for the order books. I'd like to implement this, is there any other exchange implemented here from where I could get some inspiration?

[2021-06-07 00:42] bmoscon commented on #509
@tudorelu every exchange is different. Gemini and Okcoin/Okex have authentication support. You can take a look at those

[2021-06-07 15:30] evdoks opened #510 "Typos in examples in Adding a new exchange doc"
**Describe the bug**
Typos in examples in [Adding a new exchange](https://github.com/bmoscon/cryptofeed/blob/master/docs/exchange.md) documentation section:
* in definition of [`subscribe()`](https://github.com/bmoscon/cryptofeed/blob/master/docs/exchange.md#subscribing), `self.subscriptions.items()` should be `self.subscription.items()`,
* in definition of [`message_handler()`](https://github.com

[2021-06-08 20:38] #509 closed

[2021-06-09 09:49] gigitalz opened #514 "Does bitmex funding come every 8 hours?"
I noticed the funding inverval for bitmex is 28800 seconds which means 8 hours (60x60x8).
So how do we get the predicted funding intermediate values?

This I logged it this morning, printing the complete json received as soon as I started the
[code]

Isn't BITMEX sending this values? Other platform can monitor predicted funding so there must be a way unless that is calculated with other parameters

[2021-06-09 11:38] bmoscon commented on #514
that update is from bitmex. i dont know how they calculate it, or how other platforms predict it.

[2021-06-10 10:30] donfelipee opened #515 "KeyError: TickSize Binance"
**Describe the bug**
Seem like Binance changed their return values for the data
[code]

**To Reproduce**

Set up a feed stream (sample without imports)

[code]

**Operating System:**
 - macOS

**Cryptofeed Version**
lastest (1.9.0)

[2021-06-10 11:11] donfelipee commented on #515
Hmm, not sure what happed exactly - maybe it was a problem with the data stream itself, but I can confirm that this issue does not occur right now. However, would there be a way to catch the KeyErrors so that the key errors don't cause crashing of applications?

[2021-06-10 14:20] #515 closed

[2021-06-11 00:41] bmoscon commented on #515
@donfelipee this is very likely an issue with binance, probably they took the exchange down for maintenance or something like that. When you start up an exchange object it has to query the exchange to get a list of symbols for mapping purposes. Thats where this error came from.

You can catch the error, but it wouldnt really do much good - cryptofeed won't work without that symbol mapping informat

[2021-06-11 00:45] bmoscon commented on #507
@MikeMaxNow I can't reproduce this - what version are you using?

[2021-06-11 00:50] bmoscon commented on #510
fixed, thanks for raising the issue

[2021-06-11 00:50] #510 closed

[2021-06-12 14:40] zoh opened #516 "Clickhouse support?"
Hello!

Who uses this ?  https://clickhouse.tech/

Need feeder to clickhouse.

[2021-06-12 19:07] bmoscon commented on #516
Seems like something that can be added to the backend

[2021-06-13 08:45] xiandong79 opened #518 "examples/demo_custom_agg.py has bug on `custom_agg()`"
when I run `examples/demo_custom_agg.py`, it reports bug directly,

[code]

[2021-06-13 13:30] yfjelley opened #519 "add support huobi usdt perpetual contract."
Add support for Huobi USDT perpetual contract

[2021-06-13 13:34] yfjelley commented on #519
https://futures.huobi.com/zh-cn/linear_swap/exchange/#contract_code=EOS-USDT&type=isolated

[2021-06-13 20:22] bmoscon commented on #518
fixed - thanks for raising the issue :)

[2021-06-13 20:22] #518 closed

[2021-06-13 20:23] #514 closed

[2021-06-14 01:59] bmoscon commented on #490
done

[2021-06-14 01:59] #490 closed

[2021-06-14 01:59] bmoscon commented on #294
done

[2021-06-14 01:59] #294 closed

[2021-06-14 22:16] bmoscon commented on #507
I can't reproduce this - if you're able to provide more details please re-open this

[2021-06-14 22:16] #507 closed

[2021-06-16 08:15] michielmvs opened #521 "Authentication KuCoin not working?"
**TypeError: 'AttrDict' object is not callable**
When using the example nbbo_update function it doesn't seem to work for KuCoin.

**To Reproduce**
[code]

When I run above code in I get the following error:
[code]

**Expected behavior**
When running the same code but for a different exchange it does work. This is an example of the response:
[code]

**Operating System:**
 - macOS

**Cryptofeed Vers

[2021-06-16 13:21] Dynamikey commented on #468
I've actually got this working on a separate branch. I can raise a PR to merge this in.

[2021-06-16 13:22] Dynamikey commented on #448
@bmoscon I commented on a separate PR but I have this in my forked repo. I can raise a PR to merge the change in.

[2021-06-16 21:49] bmoscon commented on #521
you need to populate your config with your account information. look at this example:

https://github.com/bmoscon/cryptofeed/blob/master/examples/demo_kucoin_authenticated.py

[2021-06-16 21:49] #521 closed

[2021-06-16 21:50] bmoscon commented on #448
@Dynamikey go for it!

[2021-06-16 21:51] bmoscon commented on #468
@Dynamikey  - yes please

[2021-06-16 23:49] rodenwild opened #525 "HTTP Errors 525 and 526 on both local machine and VPS"
**Describe the bug**
Starting up the websocked feed gives the following error.

[code]

Also

[code]

**To Reproduce**
Can be reproduced with the following code

[code]

**Operating System:**
 - Mac (local)
 - Linux Ubuntu (VPS)

**Cryptofeed Version**
- Installed using pip. Version 1.9.0 and 1.9.1 both not working

[2021-06-17 00:06] bmoscon commented on #525
looks like a problem on the FTX side - I can't even access their website - it has an SSL error:

https://docs.ftx.com/

[2021-06-17 00:06] #525 closed

[2021-06-17 00:33] bmoscon commented on #525
the issue looks to have been resolved now

[2021-06-17 01:16] yfjelley opened #526 "when i run fh.run, but i want to add feed ,hao can i dou?"
def ticker():
    try:
        while True:
            time.sleep(1)
            obj = GridStrategy.objects.all()
            need_run = False
            for item in obj:
                time.sleep(1)
                log.info(item.symbol)
                feed = get_feed(item.platform, item.otype)
                if is_exist_in_redis(feed, item.symbol):
                    continue

[2021-06-17 07:58] michielmvs commented on #521
I've created the config.yaml file and when using the the demo code you are linking to it al works, I'm receiving the book data from KUCOIN.

I've added the config.yaml line to the nbbo script but then I get the same error as before.

[code]

I don't understand why it is working for the [demo_kucoin_authenticated.py](https://github.com/bmoscon/cryptofeed/blob/master/examples/demo_kucoin_authenticat

[2021-06-17 17:43] aceffer opened #528 "Deribit's symbols are not standardized"
**Describe the bug**
Deribit's symbols are not standardized

**To Reproduce**
/examples/deribit.py

Subscribe to something (e.g. the book of ETH-PERPETUAL). The CryptoFeed standardized name for this is ETH-USD-PERPETUAL, so we use this name, but in the callbacks, it returns with ETH-PERPETUAL, which is the exchange symbol id.

**Expected behavior**
It should return with the standardized symbol nam

[2021-06-20 01:02] kyle-downey opened #531 "Gemini feedhandler fails when subscribing to BTC-GUSD and ETH-GUSD"
**Describe the bug**
This code in the Gemini class:

[code]

assumes that symbols are three characters long. In the case of BTC-GUSD on Gemini, this does not hold true. It thus fails with the error: cryptofeed.exceptions.UnsupportedSymbol: BTC-GUSD is not supported on GEMINI.

**To Reproduce**

[code]

**Expected behavior**
I expect the trade prints and book updates to print to the console for thi

[2021-06-21 23:52] #528 closed

[2021-06-23 14:10] bmoscon commented on #531
@kyle-downey - thanks for raising this - will fix this today

[2021-06-23 14:54] bmoscon commented on #412
fixed!

[2021-06-23 14:54] #412 closed

[2021-06-23 18:00] bmoscon commented on #526
I don't understand the question. Can you elaborate?

[2021-06-23 23:56] bmoscon commented on #429
done

[2021-06-23 23:56] #429 closed

[2021-06-24 00:23] bmoscon commented on #531
fixed. Note that before the symbols shown included symbols that were not valid for trading. This is no longer the case (BTC-GUSD is no longer valid for trading).

[2021-06-24 00:23] #531 closed

[2021-06-24 06:32] sauravskumar opened #535 "Cannot save TRADES to Arctic DB"
I am trying to save TRADES to Arctic db using cryptofeed but i am facing the issue below.
(I can save TICKER without any issues but TRADES seems to throw the error.)

Can someone please help ?

[code]

Code i'm using to save TRADES
[code]

![image](https://user-images.githubusercontent.com/5647704/123213376-8f31c380-d4e3-11eb-966c-d009bf4a83d7.png)

[2021-06-24 07:15] rodenwild opened #536 "Timeout error even when receiving messages within the timeout period"
**Describe the bug**
`2021-06-24 05:56:01,255 : WARNING : BINANCE_FUTURES.ws.3: received no messages within timeout, restarting connection`

This error happens even when there is data being recieved within the timeout period. Disabling the timeout period with the following code also causes this error to occur.

[code]

This does not happen with other brokers such as FTX, only Binance.

**Operating

[2021-06-24 12:11] kyle-downey commented on #531
Thanks! I will pick it up and try once it's pushed to pip. I am integrating cryptofeed to replace the hand-rolled feed handlers in my project and it is working well so far. I am seeing some issues with connection retry stalling but I haven't yet narrowed it down enough to make a clear problem report; I will open a separate issue if I get to the bottom of it.

[2021-06-24 13:12] bmoscon commented on #531
@kyle-downey if you can elaborate on what you are seeing, I may be able to help. I've been using the software for a few years now, I've seen some things ;)

[2021-06-24 14:39] kyle-downey commented on #531
A day ago I saw that the Gemini feed handler reported a 1006 error (websocket disconnect) with a message that it was retrying connection in one second, but after that I saw no more order book or trade print updates and nothing more on the console. What happens on retry? Does it bubble up an exception or just print an error and retry? If I see it again I will open an issue with the exact error mess

[2021-06-24 19:55] kyle-downey opened #537 "add support for sequence ID in full book and book delta"
**Is your feature request related to a problem? Please describe.**
In order to synchronize a delta feed and a full book feed it is very useful to have a monotonically increasing sequence number associated with the underlying exchange book update; I know Coinbase Pro provides this on the feed, less sure about other exchanges. You can do this with timestamps but the integer is more robust.

**Descri

[2021-06-24 20:47] bmoscon commented on #531
the 1006 was the exception, its from the websockets library, basically means the connection was closed, but in a non-graceful manner. That can happen for many reasons, network issues, exchange issues, exchange maintenance, downtime, etc. I've seem some exchange docs that basically say they just reset everyones connections after a day. So that exception is caught and then the connection is reestabl

[2021-06-24 21:18] bmoscon commented on #537
cryptofeed already tracks and accounts for sequence numbers, see https://github.com/bmoscon/cryptofeed/blob/master/docs/book_validation.md
if one is missing it will reset the book. Are you saying in addition to this you want to receive the sequence numbers in the callbacks?

[2021-06-25 00:00] kyle-downey commented on #537
That's correct: I'd like to get the sequence numbers in the callbacks. The use case is network distribution: I want my feed handlers to publish deltas only to reduce the load, so book building will have to be done out of process.

[2021-06-25 13:20] bmoscon commented on #536
I'll look into this and get back to you

[2021-06-25 13:21] bmoscon commented on #535
let me see if I can reproduce this

[2021-06-25 23:47] sauravskumar commented on #535
Sure... let me know if you need any help from my side to reproduce this

[2021-06-29 05:35] Ziaeemehr opened #538 "cannot import name 'Bitmex' from 'cryptofeed'"
Hello,
I am new to cryptofeed, so excuse me if the question seems silly.
I get the following error importing Bitmex:

[code]

[code]

I used the git source to install and my O.S is Ubuntu 20.04.
Thanks for any guide.

[2021-06-29 05:45] Ziaeemehr commented on #538
I also used
[code]

seems I still have the same error.

[2021-06-29 06:45] Ziaeemehr commented on #538
I got it:
[code]

[2021-06-29 06:45] #538 closed

[2021-06-29 07:49] idclevxx opened #539 "Whl missing new files? Potential bug"
**Describe the bug**
After upgrading to latest version of cryptofeed (without errors) I noticed dYdx was not working. Upon closer inspection of the environment folder, files related to dYdX were missing or not updated. [Are the files missing from the whl-file](https://www.wheelodex.org/projects/cryptofeed/)? I recognize this may be a bug related to my system but other packages are updating.

**Ope

[2021-06-29 10:23] bmoscon commented on #539
it was added in 1.9.2, which has not been released yet. Use the version in github if you want to use it now

[2021-06-29 10:23] #539 closed

[2021-06-29 10:23] bmoscon commented on #538
yep! glad you figured it out, let me know if you have more questions?

[2021-06-29 10:26] idclevxx commented on #539
Will do, thanks @bmoscon.

[2021-07-01 16:08] sauravskumar commented on #535
@bmoscon Hi... any updates on the above if possible?

[2021-07-01 23:50] bmoscon commented on #535
fixed

[2021-07-01 23:50] #535 closed

[2021-07-02 23:46] peedrr commented on #526
Have you seen the `add_feed_running` method?

'''
from cryptofeed import FeedHandler

 f = FeedHandler()
f.add_feed_running
'''

You can see an example at examples/demo_loop.py

Hope this helps

[2021-07-03 00:02] bmoscon commented on #526
no response, so closing. If you mean how can you add a feed to a running instance of the feedhandler, then see the above comment and that example code

[2021-07-03 00:02] #526 closed

[2021-07-03 00:28] bmoscon commented on #536
this has been fixed on master - thanks for raising!

[2021-07-03 00:28] #536 closed

[2021-07-03 00:29] bmoscon opened #544 "Add Candles to AscendEX"
https://ascendex.github.io/ascendex-pro-api/#channel-bar-data

[2021-07-03 01:47] kyle-downey opened #545 "multiple feed handlers stall on 1006 error from websockets library"
**Describe the bug**

I ran two processes connecting to Gemini and Coinbase Pro today, starting at around 4pm. At 7:38 p.m. -- simultaneously, two completely separate Python processes -- both experienced ConnectionClosedError, code 1006, and stopped ticking. There was no evidence of reconnection, and my metrics endpoint showed trades & L2 book updates dropped to zero and never recovered. The Gemin

[2021-07-03 01:48] kyle-downey commented on #531
I was finally able to reproduce the above error, Bryant, so I opened a bug report: https://github.com/bmoscon/cryptofeed/issues/545.

[2021-07-03 01:52] kyle-downey commented on #545
attaching the feedhandler.log as well, which shows that it did try to reconnect at 7:38 p.m., e.g.:

[code]

[feedhandler.log](https://github.com/bmoscon/cryptofeed/files/6757687/feedhandler.log)

[2021-07-03 01:58] kyle-downey commented on #545
Full code here: https://github.com/cloudwall/serenity/blob/master/src/serenity/marketdata/fh/feedhandler.py

See CryptofeedFeedHandler.

[2021-07-03 13:05] bmoscon commented on #545
disconnects are impossible to avoid - they can be caused by many things - network issues on your end, network issues at the exchange, a network issue anywhere in the many hops between you and the exchange, planned downtime/maintenance, etc. Some exchanges even mention in their docs that you should expect to be disconnected every 24 hours. Its not really obvious what the cause of this issue is. Fro

[2021-07-03 19:34] kyle-downey commented on #545
Thank you so much for coming back on this; it's quite important to me to sort this out so I can switch to cryptofeed from my hand-rolled websockets code. The error you cite is from a number of days ago and was fixed already, so I think that's a red herring. I will think about what you've suggested and go through the logs myself again to see if there's some missing error handling that's causing the

[2021-07-03 20:08] bmoscon commented on #545
just going through the log file you attached, it seems like its an endless loop of retries because the user supplied callbacks are crashing

[2021-07-04 22:04] kyle-downey commented on #545
hi Bryant, the original posted logfile has traffic from too many sessions while I was debugging. I ran it in my dev installation and all I see is this now, albeit it shows up several times after the initial 1006 error:

[code]

So far I cannot figure this out. I understand 1006 errors are normal, but the lack of ticking updates after the 1006 is definitely not what I expect given cryptofeed's buil

[2021-07-04 22:58] bmoscon commented on #545
If I'm running the feedhandler and I unplug the network cable and then plug it back in, it will eventually retry and reconnect. What happens if you do that on your end? Does it reconnect or does it die?

[2021-07-05 00:59] kyle-downey commented on #545
I disabled WiFi with both the Gemini & Coinbase Pro feed handlers running. I confirmed that before I disabled it I was getting good ticking data, and after I disabled it I got the 1006 errors again and it did not recover: tick rates flatlined to zero and stayed that way, so it did not retry: it dies. This is on MacOS "Big Sur" with Python 3.8.10, asyncio is using EPOLL, and latest cryptofeed from

[2021-07-05 02:05] bmoscon commented on #545
I tried your test on my macOS laptop (also bigsur). I'm running python 3.9.1. I used wifi as well, turned it off, waited for errors, and then turned it back on:

Timestamp: 1625450268.829701 Feed: COINBASE Symbol: BTC-USD Bid: 34599.90 Ask: 34608.59
Timestamp: 1625450268.829701 Cryptofeed Receipt: 1625450268.8667421 Feed: COINBASE Symbol: BTC-USD ID: 192283784 Side: buy Amount: 0.00006 Price: 3459

[2021-07-05 02:07] bmoscon commented on #545
my code was just the demo.py code, except the body of main was just this:

[code]

[2021-07-05 12:02] kyle-downey commented on #545
OK, I will try Python 3.9.x and uvloop independently to see if either makes any difference, and I will see if I can reproduce using my library stack and your demo.py code.

[2021-07-05 13:40] kyle-downey commented on #545
So, some results:

1. switching to Python 3.9.x made no difference
2. switching to uvloop made no difference
3. switching to the master branch made no difference

So I started setting breakpoints to see where it's hanging, and I think I found the issue. WSAsyncConn._open() is the culprit, specifically this line, which attempts to connect without a timeout on the event loop:

[code]

At least on my

[2021-07-05 18:32] kyle-downey commented on #545
Hang on -- the issue hit again even with that patch. Let me keep debugging.

[2021-07-05 19:08] #545 closed

[2021-07-06 01:32] bmoscon commented on #545
@kyle-downey - great I'm glad we were able to figure it out

[2021-07-08 17:26] idclevxx opened #552 "How to disable timeout warning?"
Have been looking for an answer to this, using the code in demo_liquidations.py, how do we disable warning messages like:

`WARNING : BITMEX.ws.5: received no messages within timeout, restarting connection`.

`timeout=-1` is used.

Thanks

[2021-07-08 17:39] idclevxx opened #553 "OKEx liquidations not working as expected"
**Describe the bug**
When initiating the OKEx liquidation feed using all symbols like this...

[code]

...massive amounts of liquidations (perhaps old) are printed before the feed seems to start printing liquidations in real time.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Operating System:**
 - macOS

**Cryptofeed Version**
pypi 1.9.1

[2021-07-08 17:43] bmoscon commented on #553
this has been fixed, its on the master branch in github, but not deployed to pypi yet

[2021-07-08 17:44] bmoscon commented on #552
this has been fixed, its on the master branch in github, but not deployed to pypi yet

[2021-07-08 17:44] #552 closed

[2021-07-08 17:45] bmoscon commented on #553
its unclear what the bug is here

[2021-07-08 17:51] idclevxx commented on #553
A large amount of liquidations are printed every time the feed is started; i've tried 6-7 times. Considering the slower volume after the initial batch is printed, they can't be current. I might be wrong and it's not a big issue, but still wanted to report. Feel free to close it if you're not experiencing the same avalanche when launching the okex liquidation feed.

[2021-07-08 17:52] idclevxx commented on #552
Thank you @bmoscon

[2021-07-09 06:19] xiandong79 opened #554 "feedhandler has stop bug"
Background:
My strategy have an event loop, so, I start the crptofeed using

[code]

During the running, the FTX book begin to delayed (have not find reason though) , so I want to re-start the feeds.

First, I need to

[code]

Then, I get error,

[code]
After this, I plan to run

[code]

Question2:
is this re-start correct ??

[2021-07-09 08:05] idclevxx commented on #553
Bryant, I'm closing this and opening it together with another issue.

[2021-07-09 08:05] #553 closed

[2021-07-09 08:13] idclevxx opened #555 "OKEx liquidations feed breaks after a few hours"
**Describe the bug**
 Similar error message to the ones below have occurred and broken the feed after a few hours. Have tested multiple times:
[code]

**To Reproduce**
Using this code to load all symbols into liquidations feed:
[code]

**Operating System:**
 - macOS.

**Cryptofeed Version**
- pypi 1.9.1.

[2021-07-09 11:48] idclevxx commented on #555
Regarding the "avalanche" issue, I can now more or less confirm this; same rows are printed on every start, e.g. this couple of rows showed up on every start of the feed:

[code]

The odds of that happening 5 times in a row are slim. However, I realize this is probably an issue on OKEx end.

[2021-07-09 22:10] bmoscon commented on #554
@xiandong79 it looks like your event loop is still running. calling stop requires the event loop to be stopped. I can add support for an async awaitable stop method that will work when the event loop is still running.

[2021-07-09 22:17] bmoscon commented on #554
@xiandong79 this has been fixed on master - let me know if you still have issues. there is now a `stop_async` method that should work for your use case.

[2021-07-10 04:53] xiandong79 commented on #554
I need the event loop continues running, as there are other task from strategy part would need the event loop.

My main purpose here is to stop the feeds in feedhandler, and then re-start them.

[2021-07-10 05:01] xiandong79 commented on #554
just like the design of `feedhandler.run(start_loop=False)` ,  it would not start a new loop. For shutdown the feeds, I also do not want it stop the using/existing loop.

[2021-07-12 07:31] xiandong79 opened #558 "subscribe 125+ binance spot at once -> rate limit"
when subscibe 125 symbols in BINANCE, the rate limit occurs,

the rate limit reason is that `https://www.binance.com/api/v1/depth?symbol=ICPUSDT&limit=5000`, with `limit = 5000`,
in Binance API weight, it is much high.

Reference:
https://binance-docs.github.io/apidocs/spot/en/#order-book

I check the source code. when I set max_depth = 1. then, it should ask for `limit=5`
However, it finally send

[2021-07-12 07:35] xiandong79 commented on #558
I guess this is due to multi symbols share this `_snapshot()` function, and the `d` and `max_depth` is also shared in many `_snapshot()` function instances?

[2021-07-12 11:30] xiandong79 opened #559 "demo_rabbitmq_exchange does not give any output"
examples/demo_rabbitmq_exchange.py does not give any output

`` `
   channel.queue_declare(queue='cryptofeed')
[code]

[2021-07-13 03:19] xiandong79 commented on #559
should be fixed by https://github.com/bmoscon/cryptofeed/pull/560

[2021-07-13 17:21] jzay opened #563 "demo_liquidation.py timeout"
**Describe the bug**
I'm using the demo_liquidation.py code. Receiving a timeout error and because of that am being rate limited.

2021-07-13 12:51:06,428 : WARNING : BITMEX.ws.1: received no messages within timeout, restarting connection
2021-07-13 12:51:07,413 : WARNING : BITMEX.ws.1: received no messages within timeout, restarting connection
2021-07-13 12:51:08,284 : WARNING : BITMEX.ws.1: Rate

[2021-07-13 17:29] bmoscon commented on #563
this has been fixed in 1.9.2 (not released in master on github).

[2021-07-13 17:29] #563 closed

[2021-07-13 23:13] bmoscon commented on #559
fixed

[2021-07-13 23:13] #559 closed

[2021-07-13 23:21] bmoscon commented on #558
fixed - now uses correct limit on the api call - thanks for raising the issue!

[2021-07-13 23:21] #558 closed

[2021-07-14 01:13] boskiv opened #564 "What is -PINDEX ?"
I noticed wierd simbol comes from Binance futures with suffix -PINDEX. What is it ? Can I filter it out from
[code]

[2021-07-14 01:15] boskiv commented on #564
Answering myself on second question
[code]

[2021-07-14 01:15] #564 closed

[2021-07-14 01:42] #554 closed

[2021-07-14 23:36] bmoscon commented on #555
this should be fixed now, I added some code to handle 429s in the http polling classes

[2021-07-14 23:36] #555 closed

[2021-07-14 23:41] bmoscon commented on #564
@boskiv - pindex are the premium index symbols

[2021-07-14 23:52] bmoscon commented on #447
fixed. I added a `delay_start` to the exchange feeds that you can use to stagger these if needed

[2021-07-14 23:52] #447 closed

[2021-07-16 05:49] idclevxx commented on #563
Still getting the error message on both BITMEX and BINANCE after upgrade to 1.9.2.

`WARNING : BITMEX.ws.6: received no messages within timeout, restarting connection`

[2021-07-16 05:49] idclevxx commented on #555
Thank you!

[2021-07-16 20:13] victorgendre opened #567 "inconsistent symbol normalization"
First, thanks for the awesome work!

**Describe the bug**
Futures contract dates are not consistent from one exchange to the other. For instance ADA September future contract would be normalized as ADA-0924 in FTX and ADAUSD-210924 in BinanceDelivery.

**To Reproduce**
[code]

**Expected behavior**
Same contract date display across exchanges. eg: ADA-0924 or ADAUSD-0924 or ADAUSD-210924

**Operati

[2021-07-18 10:51] zwangz opened #570 "Question - extra fields for Coinbase"
Hi Bryant,

Posting this on Github and Slack in case one is not monitored too often :)

I'm doing some analysis which requires order book data (L3 book and delta) and your project is very promising - so a massive thank you for this!

May I ask a question please: Is there an easy way to let the tool return extra fields available from the Coinbase websocket feed?  at the moment I appreciate all L3_b

[2021-07-18 20:24] zwangz commented on #570
Closing as question answered in [Slack chat](https://cryptofeed-dev.slack.com/ssb/redirect).

[2021-07-18 20:24] #570 closed

[2021-07-19 01:09] bmoscon commented on #567
I've been working on this for a while, I will hopefully have it done in the coming week. You can checkout the branch if you're interested, symbol-standardization

[2021-07-19 02:56] victorgendre commented on #567
Brilliant! Thanks for the reply. Very keen to have a look.

[2021-07-20 10:14] idclevxx commented on #449
Might I suggest the example assumes the user already has a table (and password details etc), which will be the norm in 99 percent of the cases as these tables are frequently heavily customized with unique constraints, data retention policies and so on. Creating a table in postgresql isn't harder than googling it.

[2021-07-20 10:15] idclevxx commented on #449
Check out [this](https://www.postgresqltutorial.com/postgresql-create-table/) site for anything postgres related.

[2021-07-21 17:47] pikeas commented on #570
Slack doesn't appear to be publicly accessible, could you paste the answer here?

[2021-07-21 17:54] bmoscon commented on #570
@pikeas it is, see the readme

[2021-07-21 23:19] pikeas commented on #570
You're right, thanks for that. I've searched Slack for "zwangz" and keywords from this issue and can't find the answer, could you please link or paste it here?

[2021-07-22 07:43] zwangz commented on #570
@pikeas Hi - yeah sure with pleasure:

Bryant's response was "the only thing that will work with no code change is to enable the capture of the raw data"

My solution was to change a few functions in Cryptofeed to make it return the extra fields that Coinbase provides as a workaround. If this use case matches what you want I will be happy to open a github gist or something for the patches.

[2021-07-22 23:53] bmoscon commented on #567
his has been fixed in master

[2021-07-22 23:53] #567 closed

[2021-07-26 05:19] jinusean commented on #537
I can work on this as I need it as well.
@bmoscon how do you propose we go about this?

Possible options are:
1. A 'meta' dict parameter in the callback that other callbacks can use if necessary.
2. An 'update_id' parameter in the callback.
3. Adding an 'update_id' field in the 'book' object.

[2021-07-26 12:39] bmoscon commented on #537
@jinusean so I haven't done the work yet, but this is my thought:

Any time a new field is added to the main callback types (trades, book, etc) its a huge nightmare because all the backends code needs to be changed and tested. Because of this, I want to define data or slotted classes (I would need to spend some time profiling them vs dictionaries to determine the performance impact) for trades, bo

[2021-07-27 00:31] jinusean commented on #537
I don't have experience profiling slotted classes, but the faster attribute access should in theory also speed up the constant book updates. The additional typing support for class instances would also be a plus. Since I can't think of anything better I'll leave it up to you, but feel free to let me know if there's any way I can assist.

[2021-07-28 14:44] kevinheavey opened #581 "How to do graceful shutdown properly?"
Hi,

I'm pretty sure cryptofeed supports this kind of thing but I can't quite tell how:

Say I have a cryptofeed process running and I want it to do some cleanup when I send SIGINT to it. For example, before shutting down I might want to call a function I wrote to cancel open orders.

How does one implement this?

[2021-07-28 23:29] bmoscon commented on #581
it currently does clean up when it receives signals. You'd have to change the code to allow you to supply your own signal handler. If you look at the run method, it will by default set up signal handlers:

https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/feedhandler.py#L130

If you set that to false, and install your own signal handlers, you can cleanup what you want. Note all they do

[2021-07-29 09:56] kevinheavey commented on #581
Got it thanks. For anyone else reading, this works for me (imports and FeedHandler instantiation omittted)

[code]

[2021-07-29 11:07] #581 closed

[2021-07-30 16:36] ibmua opened #584 "Update pip"
Hi! Could you, please, update cryptofeed version that's default on pip? Right now it fails demo example, because it's older.

[2021-07-30 18:27] victorgendre commented on #584
you can pip install master doing something like that `pip install https://github.com/bmoscon/cryptofeed/archive/master.zip` see this [link](https://stackoverflow.com/questions/20101834/pip-install-from-git-repo-branch)

[2021-07-30 19:37] ibmua commented on #584
Interesting =)

[2021-07-30 19:38] bmoscon commented on #584
I'll update the version in pypi when it is ready to be released. If you want to use the new features in master, then use the version of the code in master. Either clone it and install it or use the above mentioned option

[2021-07-30 19:38] #584 closed

[2021-08-01 21:20] ibmua opened #588 "Can't get FTX funding. At least as of version 1.9.3"
**Describe the bug**
Can't get funding on FTX.
[code]

**Code**
Similar to https://github.com/bmoscon/cryptofeed/blob/master/examples/demo_ftx_funding.py , only fixed to work with 1.9.3 version, as "symbols" in that one don't seem to work with new one.

[code]

**Operating System:**
Ubuntu

**Cryptofeed Version**
1.9.3

[2021-08-01 21:46] bmoscon commented on #588
fixed - thanks for raising the issue!

[2021-08-01 21:46] #588 closed

[2021-08-02 09:31] ibmua opened #589 "Perpetual Futures: Predicted funding rate"
Hi! I tried getting funding rate on ftx, I thought it was going to get "Predicted funding rate", but I was only able to get the previous funding rate. Also, seems like there's currently no way to get FUTURES_INDEX on ftx from which it would be possible to approximate funding by oneself. Code (for v1.9.3):

[code]

This will fail with

[code]

But will work and show previous funding rate if the FUT

[2021-08-02 16:24] jshellen opened #590 "Binance perpetuals"
Hi,

How do you subscribe to **BTC-USD** _Perpetual_ data at Binance? Supplying "BTC-USD" to the symbols-list produces an error. Code for reproducing the error and the error messages are given below.

I am, however, able to subscribe to BTC-USDT and BTC-BUSD (perpetuals?).

**Example:**
`

    from cryptofeed import FeedHandler
    from cryptofeed.backends.mongo import BookDeltaMongo, BookMongo, T

[2021-08-02 22:34] bmoscon commented on #590
Since I don't know what version you are running, you should check the output of BinanceFutures.symbols(), it will tell you what symbols are supported. In the master branch in github, they are all -PERP (for perpetual futures), so it would be BTC-USDT-PERP. In whatever version you are running, the project wide symbol standardization may or may not have been done yet, so refer to that. Either way, b

[2021-08-02 22:34] #590 closed

[2021-08-02 22:37] bmoscon commented on #589
the funding channel will show the current rate. Is this what you want:

https://docs.ftx.com/#get-future-stats

?

The future-stats endpoints shows the next rate. (It doesn't look like a "predicted" rate, it looks like it will be the next rate? The docs aren't clear on that). Is this what you are looking for? Also, look at the output of FTX.info() - it shows the channels that are supported, and fu

[2021-08-02 22:39] bmoscon commented on #236
the mappings have been removed, so closing this

[2021-08-02 22:39] #236 closed

[2021-08-02 23:01] bmoscon commented on #356
added!

[2021-08-02 23:01] #356 closed

[2021-08-03 06:22] ibmua commented on #589
Yeah, it seems so. On FTX funding is constantly adjusted throughout the hour and applied when hour ends, similar to Binance, just hourly, not per 8 hours, so that can only be predicted funding rate.

[2021-08-03 10:03] boskiv opened #591 "TypeError: unhashable type: 'list' when use with Postgres"
**Describe the bug**
[code]

[code]

cryptofeed-1.9.2

[2021-08-03 22:04] bmoscon commented on #591
@boskiv symbols = BinanceFutures.symbols() returns a list, and then you are putting it into another list when you do symbols=[symbols]

try this:

[code]

[2021-08-03 22:11] bmoscon commented on #591
I believe this will resolve your problem, but if not please re-open the issue

[2021-08-03 22:11] #591 closed

[2021-08-04 00:18] boskiv commented on #591
Yeh, @bmoscon that was totally my mistake. there was 5 am, so I just missed that and guessed about it already when was in bed :)

[2021-08-06 00:09] bmoscon commented on #537
@jinusean - I did some profiling, the only real option is to use cython datatypes. I've started the work in the dtypes branch, it will be a week or two until its ready to be merged as nearly every file in the project will need to be updated

[2021-08-06 00:10] bmoscon commented on #537
@kyle-downey once the branch is merged (see previous comment) then the sequence number will be exposed to you

[2021-08-06 00:18] bmoscon commented on #589
@ibmua - ok, I'll add this to the futures data sometime this week - thanks for raising the issue

[2021-08-06 08:35] legendagain commented on #163
Hello! Sorry for reviving an old thread. What is the recommended way to change the default separator from "-" to "/" in today's context?

Thanks in advance!!

[2021-08-06 23:52] bmoscon commented on #589
added

[2021-08-06 23:52] #589 closed

[2021-08-07 00:17] bmoscon commented on #163
import this class:

https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/symbols.py#L13

and change the class variable, `symbol_sep` to whatever value you want.

[2021-08-07 23:22] kyle-downey commented on #537
@bmoscon fantastic, thank you.

[2021-08-09 09:56] likso opened #600 "Open Interest of BINANCE_DELIVERY not working"
**Describe the bug**
Open Interest of BINANCE_DELIVERY not working.

BTC-USD-PERP

**Operating System:**
 - macOS

**Cryptofeed Version**
- 1.9.3

[2021-08-09 18:51] bmoscon commented on #600
this has been fixed in 2.0

[2021-08-11 22:22] tristan-murfitt-elw opened #604 "incorrect OrderBook for binance"
**Describe the bug**
Over time, internal binance orderbook can be incorrect because we don't regularly poll the snapshot.
In comparison, coinbase WS feed automatically supplies regular snaps (and doesn't truncate the book!)

Tagging @jinusean because their recent PR https://github.com/bmoscon/cryptofeed/pull/580 touched a lot of this file and I'm sure they can help confirm!

**More detail**
When f

[2021-08-11 22:25] tristan-murfitt-elw commented on #604
Binance websocket docs ["How to manage a local order book correctly"](https://binance-docs.github.io/apidocs/spot/en/#diff-depth-stream)

Surprises me that they don't mention this potential issue (and tell you to regularly refresh snapshot)

[2021-08-11 22:31] tristan-murfitt-elw commented on #537
@bmoscon will this change allow us to enhance the TICK callbacks for exchanges that provide more info?

eg. Deribit tick feed comes with greeks, most other tick feeds come with "last price"

[code]

[2021-08-11 22:35] bmoscon commented on #537
my plan would be to store the pre-defined/basic data + the raw message

[2021-08-13 00:03] bmoscon commented on #604
@tristan-murfitt-elw - their docs indicate that we should use 1000 as the depth, are you sure that the websocket is providing book updates for all 5000 levels?

[2021-08-13 00:55] tristan-murfitt-elw commented on #604
@bmoscon there are certainly more than 1000 levels in the binance order books so we should use the maximum available (as is done for other exchanges).

To test this, I set depth to 5 and watched the internal OB get larger and larger to 2000+ levels as the updates came in.

That being said, the main concern here is the stale book levels from not regularly refreshing the snapshot. Snapshot is 1k, bo

[2021-08-15 07:38] pesfahanian opened #605 "Support for Binance Futures Testnet"
I'm trying to modify the source to add support for Binance Futures Testnet.

I have made the following changes in `cryptofeed/exchanges/binance_futures.py`:
- Line 49: changed `self.ws_endpoint` from `'wss://fstream.binance.com'` to `'wss://stream.binancefuture.com'`.
- Line 50: changed `self.rest_endpoint` from `'https://fapi.binance.com/fapi/v1'` to `'https://testnet.binancefuture.com/fapi/v1'`.

[2021-08-15 08:48] jinusean commented on #604
I ran two scripts for about an hour that stored data from:
1. Cryptofeed's callback (1000ms).
2. Polling the RESTapi for the book snapshot (500ms).

There were about 5000+ snapshots for each data source, and 362 matching update_ids. All of the matching IDs had matching snapshots, without a single non-matching row. Perhaps there is a possibility for issues if we were using the full trade streams, b

[2021-08-15 11:36] tristan-murfitt-elw commented on #604
Just did an experiment to get some empirical data and prove that this **is** a problem:

Experiment code and explanation here: https://github.com/bmoscon/cryptofeed/pull/606

- Place some limit sells in a binance book
- Set the snapshot to only take first 20 levels
- Wait for market to move up (towards your limit sells)
- Observe that these orders are not in the cryptofeed internal OB (very bad)

[2021-08-15 21:13] Tiergarten commented on #604
An ideal solution would utilise the binance updateIds (if this can be performant): https://github.com/binance/binance-spot-api-docs/blob/master/web-socket-streams.md#diff-depth-stream

[2021-08-16 12:07] jinusean commented on #604
@tristan-murfitt-elw sorry where in the code is the book truncated?

I'm currently running 3 scripts:
1. Polling rest api
2. Cryptofeed stream
3. [Code from official binance-exchange github](https://github.com/binance-exchange/binance-toolbox-python/blob/master/spot/manage_local_order_book.py)

So far all three sources are in sync, I'll keep it running for another day or so.

I also came across th

[2021-08-16 12:36] tristan-murfitt-elw commented on #604
@jinusean I added max depth of 20 to make it easy for me to simulate the orders on the live exchange and observe the cryptofeed internal OB to be inconsistent. The same problem can occur with a depth of 5k, albeit less frequently (because a price move to that level would take longer to happen, allowing more time for each level to be updated and receive a delta over the WS).

The binance exchange e

[2021-08-16 12:43] tristan-murfitt-elw commented on #604
@jinusean what cryptofeed snapshot depth are you using for this experiment? the default is now set 5000 since this commit a few days ago https://github.com/bmoscon/cryptofeed/commit/1ce8ab42a253cad17fe1533a1a3c16c5b7518e69

I wouldn't expect to see a sync error until the price moves past those first N levels.

eg. If I place a BTC sell order right now for $120,936.10 and nobody else updates this p

[2021-08-16 12:43] jinusean commented on #604
Ok let's just see if a discrepancy between the orderbook and snapshot ever occurs first. There's a chance the snapshots too are invalid, then we'd have to raise the issue to the Binance devs.

And receiving updates while polling for the snapshot shouldn't be an issue since the current implementation already uses a buffer to handle such situations. I just want to make sure the snapshot's data is ac

[2021-08-16 12:49] jinusean commented on #604
It's at 5000.

Oddly the official Binance script truncates the book if it ever goes beyond 1000 levels.
https://github.com/binance-exchange/binance-toolbox-python/blob/aa8cbde68cf7118cbbce7ff1a3d24ab18e0ba9bf/spot/manage_local_order_book.py#L72-L74

[2021-08-16 13:00] tristan-murfitt-elw commented on #604
See my example here https://github.com/bmoscon/cryptofeed/pull/606. If you perform this same test while running your experiment you'll see a discrepancy

This is quite common, and the same as what cryptofeed does if you set the max_depth. Most people are only interested in the top levels of the book. However, without regularly refetching the snapshot, there could be the inconsistency I found (as a

[2021-08-16 13:37] jinusean commented on #604
I can see the discrepancy in the UI but that doesn't mean there will be one between the snapshot and OB(?) Surely the difference will be caught if the script is run for 24hours.

[2021-08-16 13:50] tristan-murfitt-elw commented on #604
discrepancy is between the UI (and real world!) vs the cryptofeed orderbook.

if you fetch a snapshot from binance again when this happens, the new snapshot is also different to the cryptofeed internal one! (I didn't push this code but it's easy to replicate)

[2021-08-16 14:47] jinusean commented on #604
Can you try replicating the issue with this branch https://github.com/jinusean/cryptofeed/tree/binance-snapshot-depth

[2021-08-17 00:54] victorgendre opened #607 "Non standardized "side" upper/lower case for liquidation feed"
**Describe the bug**
Liquidation side can be upper or lower case depending on the exchange. It would be awesome if it were standardized. Eg SELL or sell depending on the exchange feed.

**Cryptofeed Version**
- 1.9.3

Thanks a lot!

[2021-08-17 00:56] victorgendre commented on #607
Actually that applies to any feed spitting out a "side" I think.

[2021-08-17 09:01] hk-yuan commented on #604
Hi @jinusean , correct me if I'm wrong but the only difference I could see between that [branch](https://github.com/jinusean/cryptofeed/commit/8106f07479740d45fb0457b370bb1a651a8d09fb#diff-05706512ccd2e1413e7099f1923bc66662b6463d4b87d353de2342a6c01d92c8R259) and @tristan-murfitt-elw 's [test branch](https://github.com/tristan-murfitt-elw/cryptofeed/commit/f02237833027e8137a61828b51f946da8b17c636#d

[2021-08-17 10:00] jinusean commented on #604
@hk-yuan thank you for clarifying. I was under the impression there were no price levels beyond > 5000 since the assets I tested had no more than 1500 levels.

In that case, we can store a boolean whenever the order book depth hits 5000 (whether it's from the original snapshot or via deltas). And then we can fetch another snapshot once the size drops below a certain level. For added security we ca

[2021-08-17 10:21] tristan-murfitt-elw commented on #604
@hk-yuan much better explanation than mine, thanks!

@jinusean in practice I expect a lot of books to have more than 5k levels (I think coinbase BTC markets can be close to 20k levels per side!)

The main problems are:
- If cryptofeed user sets a smaller max depth (eg. 100), the refetch needs to occur more frequently because there's a much higher risk of the market price moving close to the ends o

[2021-08-17 12:00] jinusean commented on #604
- **If cryptofeed user sets a smaller max depth (eg. 100), the refetch needs to occur more frequently because there's a much higher risk of the market price moving close to the ends of the original snapshot**
If we set the snapshot level == max_depth, we will never get an update for the (max_depth + 1) level, and it will be too costly for the rate limit to constantly fetch new snapshots every seco

[2021-08-17 12:07] tristan-murfitt-elw commented on #604
This isn't the case. If you get 5000 snapshot from Binance, their WS feed will still give you every delta that happens. If I place a BTC sell order at $1,000,000 it will still get an update through the feed.

It's bad practice to set the `max_depth` field in cryptofeed because it actually diffs the new vs old OB every snapshot, truncates to your max_depth, and then simulates all the necessary upda

[2021-08-17 12:56] jinusean commented on #604
I meant if we fetch a snapshot with limit=1000 and there are over 1000 levels, we'd never see that level in the deltas since it has already been applied prior to the subscription. Hence we should fetch a snapshot that is higher than the user defined `max_depth`. Ideally just fetch the maximum level allowed to minimize api calls.

Right, the `max_depth` should be a soft limit for the user. The inte

[2021-08-20 11:55] gigitalz opened #608 "feedhandler.log feedhandler.log.1 feedhandler.log.2 ... feedhandler.log.n"
This file is being create perpetually adding 1,2,3,4, is there a way to manage the cycling of it or to control at least how much space is taken on the hd? Any configuration we can set?

Thanks.

[2021-08-20 14:50] bmoscon commented on #608
its not forever, its a limit of 10, see: https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/log.py#L22

[2021-08-20 14:50] #608 closed

[2021-08-20 15:24] clhirondel commented on #334
Hello,

Is it possible to add ByBit liquidations ?

[2021-08-22 04:50] DavideColdebellaMelanion opened #609 "Redirect output to file"
Hi,

Currently using cryptofeed 1.9.0 on Jupyter Notebook, on Windows 10, python 3.8.11.

I was wondering if there were any way to redirect output such as:
- 2021-08-22 06:45:22,646 : WARNING : BITMEX.ws.510: Rate Limited - waiting 180 seconds to reconnect

to a file.

Thank you!

[2021-08-22 15:35] victorgendre commented on #609
Hi, I think you will need to update the 'feedhandler' logger config and save to file.

[2021-08-22 16:05] bmoscon commented on #609
by default it should log to feedhandler.log, but I can't confirm that behavior in jupyter (I have no reason to think it wouldnt do that, but I dont run in jupyter)

[2021-08-22 16:05] #609 closed

[2021-08-22 16:06] bmoscon commented on #607
@victorgendre - which exchange is exhibiting this behavior?

[2021-08-22 16:38] victorgendre commented on #607
FTX and Binance and the ones I know of exhibiting this difference. FTX is small cap and Binance large cap when it comes to the `side` name. I have not gone through the other exchanges yet.

FTX: sell/buy
BinanceDelivery: SELL/BUY

[2021-08-22 16:41] bmoscon commented on #607
alright, thats good info, I'll work on that this week. Thanks for filing this

[2021-08-22 16:42] bmoscon commented on #604
I did change the code to use the maximum book size for the snapshots. Shouldnt this largely correct this issue?

[2021-08-22 16:46] victorgendre commented on #607
Pleasure. Thanks again for the great project.

[2021-08-24 16:40] doublesavonette opened #610 "OKEx L2_BOOK channel struggles to start"
Hi,

I am getting some unexpected (I think) behavior on OKEx.

**Describe the bug**
OKEx struggles to start the feed on multiple symbols in one go. It has to restart multiple times before making a successful launch.

**To Reproduce**
Steps to reproduce the behavior:
Run OKEx L2_BOOK channel on a large sample of symbols.

**Expected behavior**
Successful start without retries

**Screenshots**
![ima

[2021-08-25 08:21] elabunsky opened #611 "Bybit USD futures"
Hello,

When I try connect Bybit BTC/USD or ETH/USD futures (BTC/USDT and ETH/USDT connect correctly) cryptofeed return quotes for inverse futures BTCUSD0924, ETHUSD0924...

Regards,
Eugene.

[2021-08-25 08:51] #611 closed

[2021-08-25 08:52] elabunsky commented on #611
Sorry, I found you changed symbol table. Need use ETH-USD-PERP. Cryptofeed is working nice.

[2021-08-30 00:09] bmoscon commented on #334
@clhirondel - yes, I'll add that too

[2021-08-30 00:10] bmoscon opened #612 "Liquidations for OKEX"
Currently okex only supports liquidations for perpetual swaps, need to add support for futures and options

[2021-08-30 02:32] clhirondel commented on #334
Thank you @bmoscon

[2021-08-30 04:28] legendagain opened #613 "429: Too Many Requests error on Binance spot feed"
**Describe the bug**
Ran OrderBook and Trade feeds for Binance for all pairs with top 20 symbols (excluding stables), a total of about 125 symbols in total). After running for more than 24 hours, cryptofeed received "429: Too Many Requests" exception from Binance for each symbol and could not recover from it (i.e. data collection eventually stopped).

![image](https://user-images.githubusercontent

[2021-08-30 10:55] peedrr commented on #613
Hi @legendagain,

I can provide some info on why this is happening. From Binance's API docs: "[a single [websocket] stream is only valid for 24 hours; expect to get disconnect at the 24 hour mark](https://binance-docs.github.io/apidocs/spot/en/#websocket-market-streams)".

What's then happening is that the connections are re-established. With the way things work for Binance in particular, this mea

[2021-08-31 03:07] jinusean commented on #613
The process should be the same for both cases (initial snapshot, and refetch) so I'm not sure why there's a 429 in the latter.

The staggered snapshots are because you have to set `concurrent_http=True` for a parallel fetch. I always use a `http_proxy` on conjunction with this option.

I am not sure about any methods that can recover from a request timeout, and I did not experience them since I've

[2021-08-31 14:13] jshellen opened #617 "Binance Futures data falls behind other feeds"
Hi,

We are experiencing a strange "bug" while recording Binance Futures TICKER, TRADES and L2_BOOK to MongoDB. Looking at the timestamps, the time difference between the latest entry in the DB and current time seems to get getting longer and longer. Currently, the delta is ~**20 minutes**. This behavior is observable in all the channels.

In the same feed, we have BitMEX futures TICKER, TRADES an

[2021-08-31 14:16] bmoscon commented on #617
likely you are getting more messages than you can process. You can do a few things 1) separate the symbols across multiple websocket connections (so call `add_feed` more than once for binance futures), 2) multiprocess (multiple FeedHandlers), 3) use a separate process to handle the writes to the DB to reduce latency

[2021-08-31 14:20] bmoscon commented on #617
you didn't mention how many symbols you are subscribed to, but I'm guessing its more than 1 or 2. Also setting max_depth to a level that is unsupported by the exchange can lead to latency as well. Binance provides well over 50 levels and doesnt provide a way to limit what is sent, so the code has to manually truncate the book every update. this is slow. A change that is coming in the next week or

[2021-08-31 14:25] jshellen commented on #617
Thanks for a quick response.

I will try these and get back to you in case the issue persists.

[2021-08-31 14:42] jshellen commented on #617
When you say multiple FeedHandlers, do you mean running multiple scripts each with their own FeedHandler or running FeedHandler.run using pythons multiprocessing.Proces, or something else? It seems that there is no example implementation for this.

[2021-08-31 14:45] bmoscon commented on #617
running them in separate processes (so yes, separate scripts)

[2021-08-31 15:07] strombom opened #618 "Phemex balance streams"
Phemex have separate WebSocket streams for spot (wo.subscribe) and contract (aop.subscribe) balances. Any ideas on how to use two streams for the BALANCES channel?

[2021-08-31 15:59] jshellen commented on #617
My initial claim that it was Binance Futures which was lagging is not true. It is actually BitMEX.

I believe that this issue has two main causes:

The first one is related to performance and possibly to how the event loop processes the different connections. Logging writes shows that it favors the more active feeds with more frequent processing.

The second issue is more significant one. After re

[2021-08-31 16:01] #617 closed

[2021-08-31 16:31] solsimp opened #619 "Not Implemented Error"
Hello,

I'm getting the following error:

This is the output I get :
PS C:\python3.9\datafeed> & C:/python3.9/python.exe c:/python3.9/datafeed/datafeed.py
2021-08-25 22:20:24,121 : ERROR : Unhandled exception
Traceback (most recent call last):
  File "c:\python3.9\datafeed\cryptofeed\feedhandler.py", line 186, in run
    loop.add_signal_handler(signal, handle_stop_signals)
  File "C:\python3.9\lib

[2021-08-31 16:39] bmoscon commented on #619
windows doesnt use signals, so there is no way to add a signal handler to the async loop in Windows. The code should handle this, I'm not sure what version you are on, so you might need to update cryptofeed. line 186 is a log line in the current version

[2021-08-31 17:18] solsimp commented on #619
Cheers, Bryant!

[2021-08-31 20:28] bmoscon commented on #619
no problem, going to close this, but let me know if you have more questions. also, feel free to join the slack, im usually more responsive to questions there

[2021-08-31 20:28] #619 closed

[2021-09-01 00:26] bmoscon commented on #613
@legendagain  - probably just need to add a small delay into the mix when querying the orderbooks. Shouldnt be too hard to add, I can do that later this week.

[2021-09-01 00:28] bmoscon commented on #610
@victorgendre - I found a bug actually in the okex code that I've fixed in my development branch. This will  resolve this issue, but you'll need to wait for it to be merged, probably towards the end of this week

[2021-09-01 00:28] bmoscon commented on #600
I'm going to close this, but let me know if you still have issues.

[2021-09-01 00:28] #600 closed

[2021-09-01 15:31] victorgendre commented on #610
@bmoscon, brilliant! Thanks a lot for the fix and heads up.

[2021-09-02 10:23] kosmodromov opened #621 "Hit the limit when subscribe all pairs on trades channel on KuCoin"
**Describe the bug**
Get the error message when trying to subscribe on trades channel with all pairs
{'id': '1', 'type': 'error', 'code': 509, 'data': 'exceed max subscription count limitation of 100 per time'}

**To Reproduce**
Steps to reproduce the behavior:

`
from cryptofeed.defines import TRADES
from cryptofeed.exchanges import KuCoin
from cryptofeed.feedhandler import FeedHandler
from crypt

[2021-09-02 13:27] villekuosmanen commented on #604
Based on my understanding the problem still exists in 5000 book size, it's just less likely to occur.

I can start looking into implementing the fix suggested by @tristan-murfitt-elw. Feel free to assign this issue to me. I'm new to working on the upstream branch of cryptofeed, but I've done some work on a fork during the past few weeks.

[2021-09-02 13:49] peedrr commented on #604
@villekuosmanen - is this the solution you're proposing to implement?

Can I suggest that instead of a fixed period of time, we instead refresh on a count of delta messages received? By their nature, I am guessing that low volume pairs will not suffer from this problem as much as high volume pairs, therefore do not require such frequent refreshes

If we request snapshots all at the same time, I'm

[2021-09-02 15:51] villekuosmanen commented on #604
@peedrr doing it based on numbers of messages could work. You could use max orderbook depth to set the max number of delta messages seen before refreshing. If we set the ratio of max delta messages seen before a refresh to 0.5, at the default parameters (book depth of 5000, depth_interval of 100ms, and assuming the book changes at every step) there would be ~ 4 minutes 10 seconds between snapshots

[2021-09-04 07:13] legendagain commented on #613
Thank you very much @bmoscon! Please let me know if there's any way I can help..

[2021-09-05 00:52] bmoscon commented on #537
this has been implemented and is currently in the master branch.

[2021-09-05 00:52] #537 closed

[2021-09-05 00:54] bmoscon commented on #406
I've completed the change over to using the C orderbook code, so closing this

[2021-09-05 00:54] #406 closed

[2021-09-05 01:02] bmoscon commented on #350
implemented in master.

[2021-09-05 01:02] #350 closed

[2021-09-06 08:57] tristan-murfitt-elw commented on #604
@peedrr low volume pairs probably suffer with this problem more because books levels are updating less often (fewer limit orders being amended) so there's a higher risk of prices outside the initial 5k levels not triggering WS deltas.

Agree performance & rate limits are a concern.

As contributors to the library, we have a responsibility to ensure the data is correct. The longer we wait between s

[2021-09-06 22:00] msounthar opened #623 "How to get historical candles data for a time period?"
Hello

Thanks for your contribution to this project.

Is it possible to get the historical 1m candles data from Binance for a given start and end time? I can see the references to BinanceRestMixin but not sure how they should be added to the feed, an example would be great.

[2021-09-06 23:32] bmoscon commented on #623
There is an example in the unit tests:

https://github.com/bmoscon/cryptofeed/blob/master/tests/integration/rest/test_binance.py#L56

This uses the synchronous candle endpoint, but you can just replace `candle_sync` with `candle` as long as you treat it like a coroutine and `await` it.

[2021-09-07 00:07] msounthar commented on #623
Thanks!

[2021-09-09 09:40] tong-zipmex opened #624 "[Funding rate] - How can i get funding rate from FTX"
Is Funding rate from FTX like BTC-PERP(%) are available in this library here?
I'm looking for something like Table is this website: https://ftxpremiums.com/

Please help.

[2021-09-09 12:35] bmoscon commented on #624
the example code gets it:

https://github.com/bmoscon/cryptofeed/blob/ef6067b3aaa526e4d6ae57e9a37044e5cf19226b/examples/demo.py#L97

or you can get it from the rest endpoint. The unit test shows an example of that:

https://github.com/bmoscon/cryptofeed/blob/master/tests/integration/rest/test_ftx.py#L23

[2021-09-09 12:35] #624 closed

[2021-09-10 00:17] #623 closed

[2021-09-10 00:19] bmoscon commented on #605
@pesfahanian let me take a look, that looks correct based on what I'm seeing in their docs. It should be easy to add support for this and make it toggleable via the sandbox kwarg to the exchange class.

[2021-09-14 08:16] wangzhe3224 opened #626 "`websockets==10.0` seems breaking some feeds ws connection"
**Describe the bug**
I updated `websockets` to 10.0 from 9.1, and it breaks feed ws connection at least for Binance and Bybit.

**To Reproduce**
Steps to reproduce the behavior:
[code]

Traceback:

[code]

**Expected behavior**
Connect without issue using New WebSocket version

**Screenshots**
None

**Operating System:**
macOS

**Cryptofeed Version**
Latest master build from source.

[2021-09-14 12:25] bmoscon commented on #626
seems the issue is caused by non-compliant exchanges that do not correctly implement the websocket RFC. I've put in a workaround for the affected exchanges (bybit, bitmex, gateio, ftx)

[2021-09-14 12:25] #626 closed

[2021-09-15 02:46] mchangun commented on #429
Can we add support to the private websocket channels too?

https://docs.dydx.exchange/#accounts-channel

[2021-09-15 04:02] mchangun opened #628 "Bug with L2 Orderbook on dYdX"
**Describe the bug**
There is a bug in parsing the orderbooks from dYdX via websockets.  If you run it for awhile, you see best bid > best ask and also price levels where the size 0.

I suspect it is not handling price levels with size 0 properly (it should be deleted).  The initial snapshot might already include price levels with 0 quantity.

**To Reproduce**
Steps to reproduce the behavior:

[co

[2021-09-15 09:20] mchangun commented on #628
I did more digging and had a look at the contents of the initial snapshot message:

[code]

Note all the price levels with size 0.  I think you need to filter those out before writing it to the orderbook but probably still keep the 'offset' number stored.  The fix should be made around this line:

https://github.com/bmoscon/cryptofeed/blob/cb4c2f7ceebe942dd5d5f2fb9e7090f220e14754/cryptofeed/exchan

[2021-09-15 14:35] villekuosmanen opened #629 "Bug with cross_check on book_callback: OrderBook is not subscriptable"
**Describe the bug**
In the most recent version, when setting the `cross_check` argument as `True` for an exchange, the function `check_bid_ask_overlapping` will run into a type error when trying to check that the book's best ask and bid don't overlap. I believe this happens because that particular function was not updated when the library switched from using a traditional dict to represent the or

[2021-09-15 21:41] bmoscon commented on #629
@villekuosmanen - thanks for the ticket - you are correct, this is a bug. I meant to add support for this in the OrderBook C module, but never got around to it. Since I don't think I'll get to it for some time, a PR would help. If you have time, I'd be glad to have it, if not, I'll be able to fix this some time later this week

[2021-09-15 21:48] bmoscon commented on #628
thanks, this is definitely a bug. A more careful reading of their API docs has made this much clearer to me, I'll get this fixed shortly

[2021-09-15 22:26] bmoscon commented on #628
fixed

[2021-09-15 22:26] #628 closed

[2021-09-16 03:31] xiandong79 opened #634 "BookRedis error on L2_BOOK"
**My target is to use BookRedis (sorted set in redis) to save the top (depth=1) of orderbook.**

with latest release:
[code]

[code]

[2021-09-16 03:36] xiandong79 commented on #634
imo, it is due following line does not consider the 'delta'

[code]

https://github.com/bmoscon/cryptofeed/blob/c17215cad9781ebd263a723676fdd9dc6598f303/cryptofeed/exchanges/binance.py#L279

[2021-09-16 04:22] xiandong79 opened #635 "Warning on Python3.8 setup install"
in Linux-ubuntu server, with python3.8

`sudo python3.8 setup.py install`

[code]

[2021-09-16 04:48] xiandong79 commented on #634
[code]

with deeper exploration, with current design on

[code]

BookStream would only send the book_delta into Redis, and ignore the orderbook. not sure this is design on purpose or not. (if design on purpose, the user has no solution to save full orderbook via BookStream)

[2021-09-16 04:59] xiandong79 commented on #634
fundumentally, it is

`book.to_dict(delta=book.delta is not None, as_type=self.numeric_type)`

to save the book.delta as the 1st priority, now.

[code]
and book is ignored.

[2021-09-16 06:47] PranavJoshi2 opened #636 "OHLCV - Candles come at an (apparently) ever increasing time difference. Skipping some candles?"
**Describe the bug**
As described in the headline.
Following is the OHLCV data (showing only close value) collected for
1m timeframe - ETHUSDT perpetual futures for bybit exchange
Mark the time column.

<head>

</head>

<body link=blue vlink=purple>

Candle No | date | time | AM/PM | close
-- | -- | -- | -- | --
1 | 9/16/2021 | 6:30:08 | AM | 3581.95
2 | 9/16/2021 | 6:31:12 | AM | 3583.6
3 | 9/16/

[2021-09-16 14:54] villekuosmanen commented on #629
@bmoscon no problem, the attached PR should fix the issue. Doing this check in the underlying C code would probably be more performant and a good idea, but until then it's good to have this fix in the repo.

[2021-09-16 16:13] bmoscon commented on #629
fixed, thanks for the PR!

[2021-09-16 16:13] #629 closed

[2021-09-16 16:27] bmoscon commented on #635
good catch, one of the hash functions was duplicated, this has been removed

[2021-09-16 16:27] #635 closed

[2021-09-16 16:35] bmoscon commented on #636
if you look at the comment in the code, the OHLCV aggregator is just an example of how one could use the aggregator functionality, its far from perfect and it definitely isnt guaranteed to give you the exact candle intervals because it depends on data from the exchange coming in to trigger events. So, I'm going to close this because its working as expected - which is as example code. If you want c

[2021-09-16 17:00] PranavJoshi2 commented on #636
tnx for your efforts. waiting for the update.

[2021-09-16 22:05] nirvana-msu commented on #604
`max_depth` parameter's behavior is very misleading. Let's say I set it to something like 10. It is quite likely that, even on the first update, I'll receive less than 10 levels in my callback. Specifically, what happens is:

1) First WS update comes and it says a level (close to the top of the order book) is removed.
2) A snapshot is being fetched for [exactly `max_depth` levels](https://github.c

[2021-09-16 22:11] bmoscon commented on #604
@nirvana-msu not sure what you are talking about. Are you claiming that when you set max depth to 10 you're getting more than 10 levels in the orderbook?

[2021-09-16 22:17] nirvana-msu commented on #604
@bmoscon no I'm saying the opposite - when I set `max_depth` to, say, 10 levels, very often I would receive fewer than 10 levels in my callback.

Given that the true order book has many thousand levels, when I set `max_depth` to 10, I expect to receive exactly 10 top levels, always (unless there really are no 10 levels in the true order book). But I receive fewer than 10.

[2021-09-16 22:19] bmoscon commented on #604
@nirvana-msu please provide sample code or other information so I can reproduce this (exchange, trading pairs, etc). Also provide the version number you are on.

[2021-09-16 22:24] nirvana-msu commented on #604
Sure, let me put it together. It's on the latest version, `2.0.0`. Right now I've experienced it for Binance spot, but likely same would apply to other exhanges. I actually described exactly what happens, step-by-step, in my comment above. The main issue is that the snapshot is being fetched for just 10 levels (`max_depth`). When a subsequent WS update removes one of those levels, I now have just

[2021-09-16 22:34] bmoscon commented on #604
Oh I see, because of the initial orderbook snapshot that is pulled from the REST api. It seems the fix would be to go one interval higher than what is requested (i.e. if you ask for 10, pull down 25 to start with) and then rely on the refresh code that is in the PR and will likely soon be merged: https://github.com/bmoscon/cryptofeed/pull/606

[2021-09-16 22:35] nirvana-msu commented on #604
There you go:
[code]

This is running on latest version `2.0.0`, subscribing to all Binance spot symbols and setting `max_depth` to 10.

Sample output:

[code]

[2021-09-16 22:42] nirvana-msu commented on #604
Yes, you need to pull more than requested `max_depth`. Probably, a lot more. Essentially you need to have a large buffer - and when the price starts to move close to the boundary where the true orderbook state was not snapshotted, you need to re-take snapshot. The timing and size for the snapshots is a rather delecate balance between performance and rate limits. You want snapshots to be large so y

[2021-09-17 01:51] xiandong79 commented on #634
----with your latest updates
I have faced an error. it is due to cpython could not receive keyword arguments

[code]

[2021-09-17 02:04] xiandong79 commented on #634
Then, I think i should update following, however it does not work

[code]

[2021-09-17 02:27] xiandong79 commented on #634
I should update the orderbook lib to 0.4.0.
all good now

[2021-09-17 02:27] #634 closed

[2021-09-17 13:02] villekuosmanen commented on #604
@nirvana-msu The problem that you're mentioning is the same as here, though it seems like when you set max_depth to a certain depth (e.g. 10) you always expect to get that amount of levels in your callback.

The way the Binance API is implemented by the exchanges, this is not easily possible. Unlike many other exchanges (e.g. Kraken, FTX) Binance does not publish "artificial" deltas to maintain  o

[2021-09-17 13:18] nirvana-msu commented on #604
@villekuosmanen that's what I was trying to explain though - when to refresh shouldn't be based on time passed, t should be based on how close the current price is to the lower/upper bounds (also accounting for the desired `max_depth`) of the last-fetched snapshot. I have explained that in more detail in my comments in https://github.com/bmoscon/cryptofeed/pull/606.

I would say that should ideall

[2021-09-17 14:46] bmoscon commented on #604
the easiest thing to do would be to take a larger snapshot than needed and refresh it periodically. I used to limit the snapshot size because truncating the book when max depth was set was very time consuming, so smaller snapshots limited that. This is no longer the case, so there isnt really a good reason to not just take 1000 or 5000 levels when starting.

[2021-09-17 15:40] villekuosmanen commented on #604
I feel like tracking price movements and refreshing snapshots based on that adds a fair bit of complexity. @bmoscon are you suggesting that we should always fetch a 1000+ depth snapshot in the background, even when the user requests a book with max_depth of 10, and not truncate it in the book's code? That would solve the issue of having to poll the order book REST API every 10 seconds or so.

[2021-09-17 15:44] bmoscon commented on #604
@villekuosmanen yes, I'm saying always get 1000 unless they ask for more than that (optionally could do something where we ask for 10x more than they ask for so 1-10 levels -> 100 from snap, 10-50 -> 500 snap, 50+ 1000, more than 1000 -> 5000). We'd still need to refresh periodically

[2021-09-17 16:22] nirvana-msu commented on #604
@villekuosmanen it might actually even be easier than the timer logic, no? We only need to remember two variables (per symbol) - the "lower-most bid" and the "upper-most ask" prices of the most recently captured snapshot . They define the range of prices where we are 100% confident our re-constructed book is correct,

The logic would then be as follows. After applying each WS update we check:

1.

[2021-09-17 20:34] nirvana-msu opened #639 "Binance/BinanceUS using deprecated v1 API endpoints"
I've noticed that `Binance` exchange still uses deprecated [`v1` endpoints](https://github.com/bmoscon/cryptofeed/blob/8fe6fdd8abfb2407dfc273d293d2ff1769112473/cryptofeed/exchanges/binance.py#L88) which were [supposed to be removed](https://binance-docs.github.io/apidocs/spot/en/#change-log) in Q1 2020. Code should be updated to use `v3` endpoints.

Same for `BinanceUS`.

[2021-09-17 22:39] bmoscon commented on #636
candle support added to bybit

[2021-09-17 22:39] #636 closed

[2021-09-19 10:19] agijsberts opened #642 "Funding symbol not normalized for Huobi Swap"
The symbol name for the `funding` channel of Huobi Swap is not normalized, in contrast to `l2_book` and `trade` channels. Given the recent re-organization and the consistent behavior of other exchanges, I think this is an omission rather than intentional.

Test code demonstrating the problem:
[code]

Corresponding output with latest git (71eb6cac7291ff98765f24edbb9fe4695a69c08b):
[code]

[2021-09-19 13:40] agijsberts commented on #642
I believe the fix would be as easy as replacing
https://github.com/bmoscon/cryptofeed/blob/9e9143a70e8119cf5d030a3f095a925f8eddcc52/cryptofeed/exchanges/huobi_swap.py#L83
with
[code]

Let me know though if you'd like me to prepare a PR.

[2021-09-19 14:40] bmoscon commented on #642
@agijsberts sure, if you can create the change and test it and then raise a PR, that would help a ton!

[2021-09-19 21:39] agijsberts commented on #642
Closed by https://github.com/bmoscon/cryptofeed/pull/643.

[2021-09-19 21:39] #642 closed

[2021-09-20 13:20] bmoscon commented on #639
fixed

[2021-09-20 13:20] #639 closed

[2021-09-23 07:47] Dynamikey commented on #468
This is done now! https://github.com/bmoscon/cryptofeed/pull/601

[2021-09-23 07:47] Dynamikey commented on #448
This is done now! https://github.com/bmoscon/cryptofeed/pull/601

[2021-09-23 14:08] #448 closed

[2021-09-23 14:08] #468 closed

[2021-09-24 03:06] enthusiastics opened #652 "How do i run it with concurrent futures?"
I'm trying to use crypto feed to download data concurrently.

    f = FeedHandler()
    f.add_feed(Gateio(channels=[TRADES], symbols=list_tmp, callbacks={ TRADES: TradePostgresGateio(**postgres_cfg)}))
    f.run()

This code above can be run successfully. However, I am trying to run it in the background. So I am using concurrent futures to help.

    executor = concurrent.futures.ThreadPoolExecuto

[2021-09-24 08:06] xbarra opened #653 "With websockets==10.0 cryptofeed can't connect to Bitmex"
**Describe the bug**
With websockets==10.0 cryptofeed can't connect to Bitmex.

**To Reproduce**
Steps to reproduce the behavior:
* Small sample
[code]

* traceback:
[code]

**Expected behavior**
A connection will be established and the program will get updates.
With websockets==9.1 and cryptofeed==1.9.3 The program works as expected.

**Operating System:**
 - linux, windows

**Cryptofeed Version*

[2021-09-24 11:58] bmoscon commented on #653
works for me in 2.0.0. and 2.0.1. If you can provide a reproducible example, I'll investigate. If I remove this line:
https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/exchanges/bitmex.py#L64

I get the error you have above, so I'm pretty sure this has been fixed. Try recreating your venv, or removing cryptofeed and re-installing. I did just that to test this - I created a new virtual e

[2021-09-24 11:59] bmoscon commented on #652
you cant. You cant run asyncio loops in threads like that. You need to multiprocess if you want to parallelize it.

[2021-09-24 11:59] #652 closed

[2021-09-24 12:10] xbarra commented on #653
I just checked and with the old env I had missing that line.

With a fresh venv it's working perfectly.

Thank you for the fast answer.
I am closing the issue.

[2021-09-24 12:10] #653 closed

[2021-09-25 00:11] bmoscon commented on #613
should be fixed on 2.0.2, let me know if you have further issues

[2021-09-25 00:11] #613 closed

[2021-09-25 17:50] bmoscon commented on #334
Bybit liquidations added

[2021-09-25 17:50] #334 closed

[2021-09-25 17:51] bmoscon opened #654 "Huobi Liquidations"
https://bybit-exchange.github.io/docs/inverse/#t-websocketliquidation

[2021-09-25 19:34] bmoscon commented on #165
since you can no longer subscribe to weekly, quarterly, etc symbols, I'm closing this. You have to subscribe to the specific contract with the expiration code. The onus is on the user to subscribe to new symbols when they arise.

[2021-09-25 19:34] #165 closed

[2021-09-28 11:36] nirvana-msu opened #657 "Do not raise an error when FeedHandler started without feeds"
**Describe the bug**
At the moment, `FeedHandler` raises `ValueError` when started without feeds.:
https://github.com/bmoscon/cryptofeed/blob/ed84b88d9e3fc4c74cda4a6bc0f5bd0122e5492d/cryptofeed/feedhandler.py#L142-L145

This should not be the case, since it is valid to add feeds after startup with `add_feed_running`.

Common use-case: dynamically subscribe to all new symbols. To do that you can fi

[2021-09-29 10:06] CommanderJax opened #659 "InfluxDB ingestion is broken"
https://github.com/bmoscon/cryptofeed/blob/361f52b3887f1837f70ae9a3612948e8e1bdb9ce/cryptofeed/backends/influxdb.py#L78

typo in this line (data['timestmap']) -> (data['timestamp'])

[2021-09-29 14:42] bmoscon commented on #659
fixed

[2021-09-29 14:42] #659 closed

[2021-09-30 23:54] nirvana-msu opened #661 "Allow users to configure logging themselves / avoid setting up log handlers/level"
**Is your feature request related to a problem? Please describe.**
At the moment cryptofeed forecefully configures log handlers. This is normally a task for the end-user application, not the library. I understand that cryptofeed may be used by some users as an end-user application (rather than a library) and the intentention was to make it more friendly for them, but it should at least provide an

[2021-10-01 02:43] bmoscon commented on #661
I added an option in the log section of the config. If you use this as a config:

[code]

it will disable the logging. Let me know if this works for you

[2021-10-01 22:06] bmoscon commented on #661
made the change based on the comment on the commit, closing this now

[2021-10-01 22:06] #661 closed

[2021-10-01 22:19] bmoscon commented on #657
done

[2021-10-01 22:19] #657 closed

[2021-10-02 00:39] nirvana-msu opened #671 "Race Condition in Binance L2_BOOK feed/snapshot logic when concurrent_http is True and feed is restarted"
**Describe the bug**
There is a race condition bug within snapshot handling logic for Binance feed when using ` concurrent_http=True `, and feed is getting restarted for whatever reason. It leads either to `KeyError` exceptions, or possibly even to incorrect order book state in certain cases.

**To Reproduce**
You can run the following script to reproduce. I've tested it against the current releas

[2021-10-02 22:20] bmoscon commented on #671
@jinusean - do you have any thoughts about this? I believe you were the person who contributed this part of the code?

[2021-10-03 00:07] nirvana-msu opened #672 "decimal.InvalidOperation error for fixed delivery futures' funding data on BinanceDelivery"
**Describe the bug**
For contracts with fixed delivery, BinanceDelivery API returns funding rate as an empty string:
https://binance-docs.github.io/apidocs/delivery/en/#mark-price-stream
[code]
This results in an exception when empty string is passed to `Decimal`.

**To Reproduce**
[code]
[code]

**Expected behavior**
Funding rate should be set to `None`.

While we're on the subject, "next funding

[2021-10-03 03:10] jinusean commented on #671
Hi @bmoscon and @nirvana-msu,

Please verify if https://github.com/bmoscon/cryptofeed/pull/673 is adequate.

[2021-10-04 08:05] DavideColdebella opened #674 "Missing argument in Throttle __call__ definition"
When trying the example "demo_ohlcv", I incur in the following error

[code]

I'm working on windows 10, Jupyter Notebook 6.4.3, cryptofeed v 2.0.1, Python 3.8.11.

I think that replacing the __call__ def with the following:
`async def __call__(self, data, receipt_timestamp):`

should be enough to fix the error.

[2021-10-07 01:01] bmoscon opened #677 "Bitcoin.com exchange moved to FMFW"
exchange.bitcoin.com no longer operated, has moved (and api changed) to FMFW.io

[2021-10-08 09:34] xiandong79 opened #678 "version v2.0.1 sub the FTX perps ERROR"
version v2.0.1

when I sub the FTX perps,

[code]

 I get
[code]

[2021-10-08 10:25] bmoscon commented on #678
You can use the `info()` or `symbols()` method on the FTX class to get information about the support symbols. The symbols you are looking for are called DASH-USD-PERP, etc.

[code]

[2021-10-08 10:26] bmoscon commented on #678
@xiandong79 FTX doesnt support any options (like Binance does) for specifying snapshot speed, all updates are in real/near real time

[2021-10-08 10:30] #678 closed, assigned to nobody

[2021-10-09 06:29] mchangun opened #679 "How do I subscribe to receive ORDER_INFO updates for all symbols?"
Is there a way to subscribe to order updates for ALL symbols?  Currently, I can only subscribe to symbols that I have specified:

[code]

[2021-10-09 15:44] nirvana-msu opened #680 "Open Interest support for BinanceDelivery"
**Is your feature request related to a problem? Please describe.**
BinanceDelivery is missing Open Interest subscription functionality (even though it is [declared as a supported channel](https://github.com/bmoscon/cryptofeed/blob/8a899e25623b0a05714cecc31117e4b067646a1b/cryptofeed/exchanges/binance_delivery.py#L30)) - although it's essentially identical to the one implemented for BinanceFutures.

[2021-10-09 18:19] bmoscon commented on #604
the PR has been merged, so closing this. Thanks to everyone for the help here

[2021-10-11 19:28] #677 closed, assigned to bmoscon

[2021-10-12 08:44] elabunsky opened #685 "Binance top of the book (best ask/bid) access."
Hello,

Could you advice me how I access Binance top of the book quotes instead of L2? Top of the book updates real time and L2 each 100ms only.

Regards,
Eugene.

[2021-10-12 09:26] elabunsky commented on #685
Will try. Thank you for advice.

[2021-10-12 23:13] nirvana-msu opened #686 "BitMEX openInterest should be wraped with Decimal"
https://github.com/bmoscon/cryptofeed/blob/c6d095b347548b34de5795d5b3b4b09caf656809/cryptofeed/exchanges/bitmex.py#L466
`data['openInterest']` is just int here - should be wrapped with `Decimal` to be consistent with other exchanges.

[2021-10-12 23:30] nirvana-msu commented on #672
@bmoscon thanks. Added one comment to PR - we should not be replacing all zero funding rates with `None`, as it may well be a valid rate.

[2021-10-14 10:22] nirvana-msu opened #688 "Partial L2 ob updates with empty data for futures recently settled on BitMEX raise exceptions"
**Describe the bug**
After a fixed-maturity future has settled on BitMEX, it still remains among the list of available instruments and can be subscribed for. This is true at least for an early settlement, [which is the case today with e.g. DOGEUSDT](https://www.bitmex.com/app/contract/DOGEUSDT) that was settled yesterday:

**To Reproduce**
When you subscribe to it (e.g. when subscribing to all sym

[2021-10-14 22:38] nirvana-msu opened #689 "Wrong timestamp used for Bybit instrument_info updates"
**Describe the bug**
Currently, data derived from `instrument_info` topic on Bybit (funding, open interest, index) uses `updated_at_e9` / `updated_at` as market timestamp:
https://github.com/bmoscon/cryptofeed/blob/e0f1604edc40c21b1374501a4715a06f91ca2c03/cryptofeed/exchanges/bybit.py#L322-L325
But these timestamps don't seem to be meaningful at all. They are rounded to whole second, and for many

[2021-10-18 07:23] joshuaspear opened #692 "Open Interest write to Postgres"
**Describe the bug**
In the write method of class OpenInterestPostgres in correct parameters are passed to the parent's write method i.e. only a dictionary should be provided.

**To Reproduce**
Steps to reproduce the behavior:

from cryptofeed import FeedHandler
from cryptofeed.backends.postgres import OpenInterestPostgres
from cryptofeed.defines import OPEN_INTEREST
from cryptofeed.exchanges impo

[2021-10-18 22:04] #692 closed, assigned to nobody

[2021-10-18 22:08] bmoscon commented on #621
you can work around this by breaking the subscription into multiple calls to `add_feed`, but yes, this should be handled internally in the kucoin code.

[2021-10-18 22:39] bmoscon commented on #621
this has been addressed. Kucoin has a limit of 300 per connection, but will now subscribe to 300 correctly. also emits error when sub'd to more than 300, and no longer crashes on error messages from kucoin

[2021-10-20 00:21] jeanfcari opened #693 "FTX websockets url change"
I believe "wss://ftexchange.com/ws/" should be replaced by "wss://ftx.com/ws/" for FTX exchange as per FTX's documentation. An error is returned by the api when using the former and first started appearing today.

[2021-10-20 13:06] #693 closed

[2021-10-20 18:23] bmoscon commented on #685
that version is so old (over a year ago, that was may of 2020) its probably not going to support it. Try one of the later releases.

[2021-10-20 19:40] BretjHribar opened #696 "Authenticated Data Channels for KuCoin"
KuCoin doesn't have the Authenticated Data Channels ( user streams ). Is anyone working on that enhancement?
DOCS:
https://docs.kucoin.com/#private-channels
https://docs.kucoin.com/#account-balance-notice
https://docs.kucoin.com/#position-status-change-event
https://docs.kucoin.com/#margin-order-done-event

Thanks!

[2021-10-20 23:20] BretjHribar commented on #696
Bryant,
Unfortunately I don't have the bandwidth right now. I'm a quant at Goldman
Sachs and had been trading a stat arb market making strategy on Binance but
lost api access due to kyc crackdown. I was switching to your library to
use kuCoin. I have some demos I want to show to some HFT firms I have
friends at. Your code is great and I assume you'd do it 10x faster than I
could. Would you be up t

[2021-10-21 00:12] #688 closed, assigned to nobody

[2021-10-21 00:14] bmoscon commented on #685
I've confirmed this works in later releases. As far as "real time" - can't get the data any faster than binance provides it. They limit their book updates to 100ms, if they similarly limit their ticker data, not much I can do about it. Going to close this, but if you have more questions ask them here or on slack and I'll help out if I can

[2021-10-21 07:19] elabunsky commented on #685
@bmoscon you are not right - even you will subscribe top of the book (best ask/bid) or All Book Tickers Stream
 binance and binance_futures will send it realtime and if you will subscribe Partial Book Depth Streams (Top bids and asks, Valid are 5, 10, or 20) they will send updates each 100 ms.

PS. How I can install last CryptoFeed? I used pip3 3 weeks ago and installed 1 year old package ;(

Rega

[2021-10-21 08:23] DavideColdebellaMelanion opened #698 "FTX websocket returns 404"
FTX has probably decomissioned its wss endpoint "wss://ftexchange.com/ws/". Current one is "wss://ftx.com/ws/" (see https://docs.ftx.com/#websocket-api).

Minimal code example
[code]

[2021-10-21 08:27] DavideColdebellaMelanion commented on #698
Already fixed I see! My bad.

[2021-10-21 08:27] #698 closed

[2021-10-22 22:44] #679 closed, assigned to nobody

[2021-10-27 08:48] xbarra opened #700 "Support Gateio futures"
Currently from Gateio only the spots are available.

It would be great to have the support for futures.

We have looked at it and it should not be hard, given that there is a [websocket api](https://www.gate.io/docs/developers/futures/ws/en/#gate-io-futures-websocket-v4)

Thank you in advance.

[2021-10-28 11:33] aceffer opened #701 "Incorrect L2 book for Kraken"
**Describe the bug**
L2 book of Kraken becomes inconsistent after a while.

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Operating System:**
 - windows 10

**Cryptofeed Version**
- 2.0.3

[2021-10-29 22:30] bmoscon commented on #701
fixed on master

[2021-10-29 22:30] #701 closed

[2021-10-30 00:13] jonohribar opened #704 "Support Bybit Ticker"
Currently Bybit doesnt support any form of realtime Ticker.

It would be great to to support this feature, because all currently supported alternatives update on 100ms frequency instead of realtime.

According to their [api](https://bybit-exchange.github.io/docs/inverse/#t-websocketorderbook25):

Meaning the way to get Ticker data would be to subscribe to `orderBookL2_25`, making sure to not inclu

[2021-10-31 11:08] zhenpingfeng opened #705 "Arctic backend L2_BOOK support"
Arctic backend missing L2_BOOK support.

[2021-10-31 11:14] zhenpingfeng commented on #386
Huobi terminated their derivatives business, this feature request can now be closed.

[2021-10-31 13:26] strcat32 commented on #386
As i understand it they only closed their derivatives for customers from Mainland China.
I can still access both coin margined and USDT margined future instruments (from the links above).

[2021-10-31 13:32] bmoscon commented on #386
yes that is correct - they have only reduced the number of countries that can access it

[2021-10-31 13:35] bmoscon commented on #705
this is intentional - arctic cant handle that volume of data unless you were to use a very specialized system, so I've left it out. If it were there people would use it and then raise issues complaining it didnt work or was too slow. I'll add a comment in this code that makes this clear. If you want to use arctic you need to batch the updates and do periodic writes. Arctic really only is good / ma

[2021-10-31 13:35] #705 closed

[2021-11-02 06:45] xiandong79 opened #707 "Version 2.1.0 With RedisBook Backend, error: ('value is not a valid float'"
[code]

[2021-11-02 07:05] xiandong79 commented on #707
[code]

however in
[code]

**score_key='timestamp'** is used, which None, not acceptable in Redis

[2021-11-02 07:09] xiandong79 commented on #707
in exchanges/binance.py

[code]

for the _snapshot of Binance, the ` timestamp=None` happens.

[2021-11-02 07:17] xiandong79 commented on #707
```"redis": ["hiredis", "aioredis>=2.0.0"],```

is satisfied on my server.

[2021-11-02 13:11] dfogaras commented on #701
Thanks a lot.

[2021-11-03 00:25] bmoscon commented on #707
yep, so your options here are to use a different key (like receipt timestamp) or define a wrapper for the callback that either ignores the snapshot, or puts in some default timestamp when the timestamp does not exist. An alternative would be to drop the snapshot and not send it as an update, but send message from the websocket as the snapshot (the first one that is valid post snapshot) and omit th

[2021-11-03 01:22] xiandong79 commented on #707
will this error fixed in cryptofeed?

[2021-11-05 00:23] bmoscon commented on #707
fixed. now uses receipt timestamp to fill in all missing timestamps

[2021-11-05 00:23] #707 closed

[2021-11-07 23:37] JamesKBowler opened #709 "websockets.exceptions.NegotiationError for Coinbase"
**Describe the bug**

Cryptofeed + Cryptostore has been running fine for the last few weeks, but just noticed the `COINBASE` process had crashed on the 4th October at about 19:05 GMT. Other exchanges are working ok.

Has `COINBASE` changed something?

[code]

**Operating System:**
 - ubuntu 20.04

**Cryptofeed Version**
- lastest versions pulled from github on `Oct 22 06:44`

[2021-11-07 23:49] bmoscon commented on #709
this was fixed last week.

[2021-11-07 23:49] #709 closed

[2021-11-15 11:23] twmeggs opened #710 "Binance Delivery and Binance Futures Userdata Position update fails"
**Describe the bug**
The `demo_binance_authenticated.py` and `demo_binance_authenticated.py` demos fail due to the new cdef types not being initialised correctly for the Position data types in the `_account_update` callbacks

The cdef Position type expects 8 input variables:

[code]
but only the following is passed in (same for both exchanges):

[code]
The demo scripts error with
`TypeError: __ini

[2021-11-15 22:49] bmoscon commented on #710
@twmeggs - should be fixed now, can you try again? You'll need to pull the latest code from github and make sure you cythonize the types file

[2021-11-16 11:53] botzill commented on #421
I still get this error when trying the latest version from master.

[2021-11-18 06:31] minglan01 opened #714 "Use trade timestamp instead of event timestamp in trade data from Binance"
Hi,

I realize the following code in ```aync def _trade():``` for [```binance``` ](https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/exchanges/binance.py)exchange:
`self.timestamp_normalize(msg['E']),`. which "E" indicate "event timestamp". Is there a special reason to use event timestamp instead of "trade timstamp" (msg["T"])in this case?

Thanks,
Jueming

[2021-11-18 21:40] minglan01 commented on #714
To my understand, the ```trade time``` is the exact time when the trade happened. The ```event time``` is happened later when this websocket trade record being created. For a trades, the trade time is very important as we know the time sequence of trades. However the event time for those trades could have differerent order due to other factors. I agree it's hard to find the documentation for this,

[2021-11-18 21:50] bmoscon commented on #714
i can post something on SO that say the opposite. I'm not saying that guy is write or wrong, but I'm not seeing anything to back up that claim. I can file a ticket with Bianace and see what they say

[2021-11-18 21:55] minglan01 commented on #714
sounds good. always good to double check to ensure. Thanks for the effort!

[2021-11-21 11:59] jwest75674 opened #715 "WARNING : PHEMEX.ws.1: received no messages within timeout, restarting connection -- Heartbeat Interval?"
**Describe the bug**
[code]
Websocket appears to timeout somewhere along the line. I am uncertain, but I beleive this note from the Phemex API Docs may be pertinent:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1 ) start minimum viable datafeed + callback function that match this example:
[code]
2) wait ~15 minutes
3)
[code]

**Expected behavior**
Avoid connection reset, such that app

[2021-11-21 13:57] gigitalz opened #716 "FTX.ws error on v1.9.3"
**Describe the bug**
I get this trace:

[code]

**To Reproduce**
Add open interest feed to btc usd perp pair

[code]

**Operating System:**
 - Windows 10 Pro

**Cryptofeed Version**
- Intalled from packages v1.9.3

[2021-11-21 14:27] bmoscon commented on #716
that version is no longer supported. try with the later versions, that has been fixed

[2021-11-21 14:27] #716 closed

[2021-11-21 14:28] bmoscon commented on #715
that isnt a reproducible example. Please provide one and I'll see if I can reproduce it

[2021-11-21 20:53] tlau3128 opened #718 "Update Funding handler for Bybit update using predicted funding rather than current funding"
**Is your feature request related to a problem? Please describe.**
Should the funding handler for Bybit update using predicted funding rather than funding?

Current funding rate only updates once every 8 hours, where as predicted funding rate changes every minute. Most people consider predicted funding rate to be a useful metric and monitor it more frequently than current funding.

**Describe the

[2021-11-22 00:25] #710 closed

[2021-11-22 01:04] bmoscon commented on #605
done  -sorry this took me so long to get to!

[2021-11-22 01:04] #605 closed

[2021-11-22 01:06] bmoscon commented on #357
I'm working on this now - thanks for the suggestion and sorry for the delay @AlgoTrader5

[2021-11-23 13:17] jwest75674 commented on #715
Here you go!
[code]
--->
[code]

[2021-11-23 23:44] bmoscon commented on #357
done

[2021-11-23 23:44] #357 closed

[2021-11-24 08:58] classicalBit opened #720 "Cant install Cryptofeed"
Hello,
I dont know why, but when I try to install cryptofeed (windows) I get this Error message:

ERROR: Could not build wheels for cryptofeed, which is required to install pyproject.toml-based projects

Happens when I try to install it with pip, also the cryptofeed[all] doesnt work...

Thanks in advance for the help!

[2021-11-24 20:25] botzill commented on #421
@bmoscon Is there any fix for this issue?

[2021-11-24 20:38] bmoscon commented on #421
@botzill - open a ticket and I will take a look. There isnt any context there, just a partial traceback. Please open a ticket and provide more information

[2021-11-24 20:51] bmoscon commented on #720
wheels are not provided for windows, so you'll need to have cython installed, as well as a compiler, to use windows

[2021-11-24 20:51] #720 closed

[2021-11-24 20:53] bmoscon commented on #421
@botzill - also give what is in master another try - I just added another fix for mongo

[2021-11-26 08:56] minglan01 commented on #714
Hi @bmoscon did you get any update? Actually, I find more relible info from binance developer forum by the moderator.  The topic is for "book update", but the terms should be applicable.
[Meaning of “event time”, “transaction time” fields](https://dev.binance.vision/t/meaning-of-event-time-transaction-time-fields/5449)

[2021-11-28 16:13] bmoscon commented on #715
@jwest75674 the trading pair you have chosen is very low volume, so the feedhandler considers the data feed to be dead and restarts it. If you are going to be subscribing to low volume feeds like this, increase the timeout (its a kwarg on the exchange/feed object). The default is 2 mins. If you change your example to BTC-USD-PERP it has no timeouts (at least not when I tested it)

[2021-11-28 16:13] #715 closed

[2021-11-29 18:34] bmoscon commented on #714
never heard back, but i made the change

[2021-11-29 18:34] #714 closed

[2021-11-29 18:49] minglan01 commented on #714
great!! thanks

[2021-11-29 21:39] bmoscon commented on #493
going to close this, but if anyone has any issues that look similar, please comment here or open a new ticket.

[2021-11-29 21:39] #493 closed

[2021-11-29 23:01] bmoscon commented on #449
done

[2021-11-29 23:01] #449 closed

[2021-12-01 03:56] trading9991 opened #727 "dYdX exchange bid ask price error, bid price is greater than the ask price"
**Describe the bug**
the bid price is greater than the ask price at dYdX exchange.

**To Reproduce**
print("receipt_timestamp: {}, computer_time: {}, feed: {}, symbol: {}, bid {}, ask :{}, bid size: {}, ask size:{}".format(receipt_timestamp,
                                                                                                                          time.time(),

[2021-12-01 19:52] bmoscon commented on #727
provide your version info and a working example please

[2021-12-01 19:53] bmoscon commented on #610
this was merged a while ago, so closing

[2021-12-01 19:53] #610 closed

[2021-12-02 01:56] trading9991 commented on #727
Verison of python:

Environment: Anaconda3
Verison of Python: 3.9
package of cryptofeed: 2.1.0

FULL CODE:

from decimal import Decimal
from datetime import datetime
from cryptofeed.defines import L2_BOOK, TRADES
from cryptofeed.exchanges import (BinanceFutures, FTX, HuobiSwap, OKEx)
from cryptofeed.exchanges.dydx import dYdX
from cryptofeed import FeedHandler

async def book(book, receipt_timesta

[2021-12-02 03:23] trading9991 commented on #727
I found that at the very first time book.book.bids.index(0)[0] won't update, later book.book.bids.index(1)[0], won't update, and later and later book.book.bids.index(2)[0] won't update.

![crptofeed](https://user-images.githubusercontent.com/94432822/144352111-6f096901-0f81-4e68-81c1-193f36e3a5be.PNG)

[2021-12-03 00:29] bmoscon commented on #727
how long does it take for you to get crossed books? I ran this for 10 mins and I didn't see any crossed books. You can also enabled the `cross_check` flag on the exchange object - this will check for crossed books for you automatically.

[2021-12-03 01:13] bmoscon commented on #727
I simplified the logic in the orderbook and fixed an issue in the book cross check code. I'm not seeing any crossed books

[2021-12-03 01:14] bmoscon commented on #727
@trading9991 - let me know if these changes in master help your situation or not.

[2021-12-03 01:53] trading9991 commented on #727
probably take 10-30 mins, it is so randomly, our developers said they dont have the crossed book issue. Where can I find the `cross_check` flag on the exchange object

[2021-12-03 02:27] bmoscon commented on #727
its in the Feed class, so its a kwarg option on every exchange object. I'm going to close this - the exchange docs indicate messages can be received out of order, so there isnt anything that can be done by cryptofeed, this is a limitation of the exchange.

[2021-12-03 02:27] #727 closed

[2021-12-03 02:33] trading9991 commented on #727
Yes, that's what our developers told me yesterday. Thank you for your help Bryant

[2021-12-03 06:24] WweiL opened #728 "[One-Liner Fix] Allow multiple kafka producers"
**Is your feature request related to a problem? Please describe.**
Here: https://github.com/bmoscon/cryptofeed/blob/master/cryptofeed/backends/kafka.py#L17, we could extend this API to allow multiple bootstrap_servers.

In [Definition of AIOKafkaProducer](https://aiokafka.readthedocs.io/en/stable/api.html#aiokafka-producer) it says "bootstrap_servers – ‘host[:port]’ string (or list of ‘host[:port]